<div class="refund-container">
    <div class="refund-heading">
        <h1>RETURN AND REFUND POLICY</h1>
        <!-- <hr> -->
    </div>
 
    <div class="refund-content">
        <p>Last updated on August 17th, 2023</p>
        <ol>
            <li>
                <h2>WARRANTIES AND RETURNS</h2>
                <ol>
                    <li><a href="https://skysecuretech.com/" style="text-decoration:none">Skysecure Technology</a> is committed to providing our customers with the highest quality products and
                        services. However, on rare occasions, products may be found to be faulty or defective. In such
                        cases, we offer the return facilities as described below.</li>
                    <li>Unless you have a separate written agreement with Skysecure, the return of hardware and software
                        purchased from Skysecure (collectively, "Product") is subject to specific manufacturer,
                        publisher or distributor restrictions. Such suppliers may provide limited or no returns of
                        Products.</li>
                    <li>If the supplier accepts returns, you may return Product and Skysecure will assist in its
                        replacement or grant you a credit against future purchases in an amount equal to the original
                        purchase price less any applicable restocking fees.</li>
                    <li>You are responsible for shipping charges and risk of loss on all return shipments. Returns are
                        also subject to the rights of return processes below. If you fail to return Product within the
                        applicable Return Policy period or if the Product does not meet the rights of return and
                        processes under this Return Policy, the Product is considered accepted by you and not
                        returnable.</li>

                    <li>In the following circumstances after verifying the same, the Skysecure at its discretion may
                        allow the customer to return the product
                        <ol>
                            <li>You receive a faulty/defective/physically damaged product (Dead on Arrival) and report
                                the issue to Skysecure within 48 hours from the date of delivery. Packages that are
                                obviously damaged should be refused at the time of the original delivery attempt. If
                                damaged Products are accepted from the carrier, contact Skysecure within 48 hours after
                                receipt of shipment to arrange for a carrier inspection and a pickup of the damaged
                                Products. All damages should be noted on the carrier delivery record prior to the
                                delivery person leaving your premises. Please save the Product and all original box and
                                packaging. Timely receipt of this information is necessary to file a damage claim with
                                the freight carrier and avoid delays in returns and replacements.</li>
                            <li>You receive a product with different specification from what you read on the website and
                                report the issue to Skysecure within 48 hours from the date of delivery.</li>
                            <li>You receive a product that is not what you ordered and report the issue to Skysecure
                                within 48 hours from the date of delivery.</li>
                        </ol>
                    </li>
                    <li>
                        The following cannot be returned to the Skysecure (Not all-inclusive)
                        <ol>
                            <li>Items which manufacturer will not accept returns. </li>
                            <li> Custom configured products.</li>
                            <li> Discontinued items are final and cannot be returned or exchanged.</li>
                        </ol>
                    </li>
                    <li>Additionally, Skysecure cannot be held responsible for equipment installed or configured when
                        the equipment has subsequently been altered or configured by persons other than Skysecure.
                        Except as set out here, all other express or implied terms or warranties relating to the
                        Services are excluded to the fullest extent permitted by law.</li>
                    <li>Skysecure does not sell products on a trial basis. Customers are strongly advised to check the
                        suitability and specifications of products before ordering.</li>
                    <li>In some instances, Customers may benefit from special price discounts issued by Skysecure/
                        manufacturer specifically for their benefit. Such goods are not returnable and may not be sold
                        to other customers. Accordingly, orders for such goods cannot be cancelled and Skysecure can
                        only accept a return of such goods where they prove to be defective and the Goods are returned
                        for repair or replacement.</li>
                    <li>Return or refund will only be considered ones the concerned customer has produced relevant
                        evidence with regards to the issue raised.</li>
                    <li>Return and Refunds shall be subject to testing and verifying the alleged fault by the authorized
                        person of Skysecure.</li>
                    <li>Skysecure's technical support staff or Customer Support staff, as appropriate, will advise you
                        of which method of delivery to use to return the products. Depending on the nature of the
                        product purchased. Authorised product returns must be sent to the address communicated by our
                        authorized personnel.</li>
                    <li>All returned goods must be accompanied by Skysecure's Returns Authorisation number ('RA Number')
                        which can be obtained by contacting Customer Support on (Email). Returned goods will not be
                        accepted without an RA Number. Do not write directly on the manufacturer's packaging. Please
                        write the RA number on the address label provided with the Returns Authorisation and attach it
                        to the returned package. Any defacement of the manufacturer's packaging or damage caused by
                        inadequate packaging may result in the rejection of the return or an additional restocking fee,
                        at Skysecure's sole discretion.</li>
                    <li>Skysecure cannot accept liability for packages damaged during transit. It is the Customer's
                        responsibility to wrap the product adequately to prevent any damages.</li>
                    <li>On receipt of the returned product, we will test it to identify the fault you have notified to
                        us.</li>
                    <li>If following the testing process, the product is found to be in good working order without
                        defect, we will return the product to you, and the carriage costs of this return will be your
                        responsibility. Please note that if you have, in the meantime, required us to provide you with a
                        replacement product before completion of the testing process, you will have to pay for this
                        product also.</li>
                    <li>Customers who wish to make a warranty claim must comply with the manufacturer's instructions and
                        warranty procedure. In order to resolve your problem as quickly as possible, we may refer you to
                        the product manufacturer who will deal directly with the return. In these instances, we will
                        provide you with contact information for the relevant manufacturer.</li>
                    <li>This warranty shall not apply if the goods have been worked upon, altered or damaged in any way
                        by the Customer or its employees or agents, or to goods not used in accordance with the
                        manufacturer's instructions.</li>
                    <li>Some manufacturers require goods to be returned within specific days in order to secure the
                        refund. In such instances, the manufacturer's time limit will apply. This is clearly indicated
                        on the catalogue page for the particular product. We can only accept the return of a defective
                        product that does not meet the description if they are returned to us within the specified
                        period. Beyond that period you will be deemed to have accepted the goods and you must,
                        therefore, check the goods promptly on receipt.</li>
                    <li>
                        In the case of Hardware products, Return will be processed only if:
                        <ol>
                            <li>it is determined that the product was not damaged while in your possession;</li>
                            <li>the product is not different from what was shipped to you;</li>
                            <li>the product is returned in original condition (with brand’s/manufacturer's box, MRP tag
                                intact, user manual, warranty card and all the accessories therein).
                            </li>
                        </ol>
                    </li>
                    <li>In the case of Non-Confirmed product/service, you can cancel the product using the following
                        procedure. If your order is confirmed from our end, you won't be able to cancel it.
                        <h6>Here How You Can Cancel: </h6>
                        <ol>
                            <li>Login to your Skysecure account</li>
                            <li>Go to Account Settings</li>
                            <li>Select the appropriate order from My Orders</li>
                            <li>Click on Cancel for the product you want to cancel</li>
                        </ol>
                    </li>
                    <li>As soon as you cancel an order, we will send a confirmation of cancellation to your registered
                        email address. Also, the status of that particular order will change to 'Cancelled. If your
                        purchase contains more than one item, the entire order needs to be cancelled; you can't cancel
                        individual items of an order.</li>
                    <li>As far as the Customized Products are concerned, such products cannot be returned, unless agreed
                        otherwise in writing between the parties.</li>
                </ol>

            </li>
            <li>
                <h3>REFUND POLICY</h3>
                <ol>
                    <li>You, as a Buyer, shall be entitled to claim a refund of the Transaction Price (as Your sole and
                        exclusive remedy) in case you do not receive the delivery within the period agreed in the
                        Transaction or within the period as provided in the Policies, whichever is earlier or any other
                        situation as specified above in this policy. In case you do not raise a refund claim using the
                        method as specified in this policy within the stipulated period, than this would make you
                        ineligible for a refund.</li>
                    <li>We may also request you for additional information and documents for verification.</li>
                    <li>Once your return is received and inspected, we will send you an email to notify you that we have
                        received your returned item. We will also notify you of the approval or rejection of your
                        refund.</li>
                    <li>In case of late/missing refund, please follow the procedure as follows;
                        <ol>
                            <li>If you haven’t received a refund yet, first check your bank account/ the method you have
                                used to pay the billing amount.</li>
                            <li>Next, contact your bank or service provider as the case may be. There is often some
                                processing time before a refund is posted.</li>
                            <li>If you’ve done all of this and you still have not received your refund yet, please
                                contact us at "sales@skysecuretech.com".</li>
                        </ol>
                    </li>
                    <li>Refund shall be subject to Buyer complying with these terms and other policies if any agreed and
                        signed between the parties in pursuance thereof.</li>
                </ol>
            </li>
            <li>
                <h3>SHIPPING</h3>
                <ol>
                    <li>Customer shall be responsible for shipping charges and risk of loss on all return shipments.
                    </li>
                    <li>Proof of postage is not proof of delivery and you are therefore strongly advised to send your
                        package by recorded delivery, registered post or courier, and to insure the goods for their full
                        value.</li>
                    <li>All returned goods must be accompanied by Skysecure Returns Authorisation number ('RA Number')
                        which can be obtained by contacting Customer Support on support@skysecuretech.com</li>
                    <li>Please write the RA number on the address label provided with the Returns Authorisation and
                        attach it to the returned package.</li>


                </ol>
            </li>

            <li>
                <h3>FORCE MAJEURE</h3>
                <ol>
                    <li>Skysecure shall not be considered in breach of its Satisfaction Guarantee policy or default
                        under any terms of service, and shall not be liable to the Client for any cessation,
                        interruption, or delay in the performance of its obligations by reason of earthquake, flood,
                        fire, storm, lightning, drought, landslide, hurricane, cyclone, typhoon, tornado, natural
                        disaster, act of God or the public enemy, epidemic, famine or plague, action of a court or
                        public authority, change in law, explosion, war, terrorism, armed conflict, labor strike,
                        lockout, boycott or similar event beyond our reasonable control, whether foreseen or unforeseen
                        (each a "Force Majeure Event").</li>
                </ol>
            </li>

            <li>
                <h3>CHANGES TO THIS POLICY</h3>
                <ol>
                    <li>Skysecure may at any time, without notice to you and its sole discretion, amend this policy
                        periodically. You are expected to check this policy from time to time for updates. For more
                        information on our Return and Refund Policy, contact us at <a href="mailto:sales@skysecuretech.com" style="text-decoration:none">support@Skysecuretech.com</a></li>
                </ol>
            </li>
        </ol>

    </div>

    <div class="address">
        <div class="address-head">
            <h3>CONTACT DETAILS</h3>
        </div>
    <div class="address-content">
       
        <p>
            Skysecure Technologies Pvt.Ltd,
            <br>
            AGR Plaza, 6/1,
            3rd floor, Bellandur,
            Bengaluru, Karnataka-560103.
            Mail:<a href="mailto:sales@skysecuretech.com" style="text-decoration:none">support@skysecuretech.com</a></p>
    </div>
    </div>
</div>