<div class="refund-container">
<div class="refund-heading">
    <h1>RETURN AND REFUND POLICY</h1>
</div>
<div class="refund-content">
    <ol>
        <li>
        <h2>RETURN AND REFUND POLICY</h2>
        <ol>
        <li>Skysecure is committed to providing our customers with the highest quality products and services. However, on rare occasions, products may be found to be faulty or defective. In such cases, we offer the return facilities as described below.</li>
        <li>Unless you have a separate written agreement with Skysecure, the return of hardware and software purchased from Skysecure (collectively, "Product") is subject to specific manufacturer, publisher or distributor restrictions. Such suppliers may provide limited or no returns of Products.</li>
   <li>If the supplier accepts returns, you may return Product and Skysecure will assist in its replacement or grant you a credit against future purchases in an amount equal to the original purchase price less any applicable restocking fees.</li>
    <li>You are responsible for shipping charges and risk of loss on all return shipments. Returns are also subject to the rights of return processes below. If you fail to return Product within the applicable Return Policy period or if the Product does not meet the rights of return and processes under this Return Policy, the Product is considered accepted by you and not returnable.</li>
    
    <li>In the following circumstances after verifying the same, the Skysecure at its discretion may allow the customer to return the product</li>
    <ol>
        <li>You receive a faulty/defective/physically damaged product (Dead on Arrival) and report the issue to Skysecure within 48 hours from the date of delivery. Packages that are obviously damaged should be refused at the time of the original delivery attempt. If damaged Products are accepted from the carrier, contact Skysecure within 48 hours after receipt of shipment to arrange for a carrier inspection and a pickup of the damaged Products. All damages should be noted on the carrier delivery record prior to the delivery person leaving your premises. Please save the Product and all original box and packaging. Timely receipt of this information is necessary to file a damage claim with the freight carrier and avoid delays in returns and replacements.</li>
    <li>You receive a product with different specification from what you read on the website and report the issue to Skysecure within 48 hours from the date of delivery.</li>
    
    
    </ol>
</ol>
</li>
    </ol>

    
    <p>

    </p>
</div>
</div>