
.refund-container{
    width: 100%;
    font-family: 'lato',sans-serif;
}
body {
    font-family: 'lato', sans-serif;
    background-color: #f5f5f5 !important;
    font-size: 14px;
    color: #24272c;
    padding-left: 20px;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    /* line-height: 10px; */
}
ol>li {
    display: table;
    counter-increment: item;
    /* margin-bottom: 0.6em; */
    /* line-height: 15px; */
}
li ol>li:before {
    content: counters(item, ".") " ";
}
ol>li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}
.refund-content{
    width: 80%;
    margin-left: 10%;
    font-family: 'lato',sans-serif;
    font-size: 14px;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 18px;
    font-weight: 600;
  
}
h3{
    font-size: 18px;
    font-weight: 600;
    padding-top: 3%;
}
h6{
    padding-top: 20px;
    padding-bottom: 10px;
}
.refund-heading{
    font-size: 20px;
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 10px;
    text-align: center;
}



hr{
    width: 20%;
}
.address{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10%;
    margin-top: 10px;
}
.address-content{
    max-width: 54%;
    font-size: 14px;
    /* margin-top: 20px; */
    font-family: 'lato',sans-serif;
}