<div class="text-center">
    <h2 class="header-title">
        Edit Product
    </h2>
    <div class="variant-product" style="display: flex;width:100%;justify-content: center;align-items: center;"
        *ngIf="products.length > 0">
        <div class="forms">
            <div class="label">
                <label>Select Products</label>
            </div>
            <!-- <div class="select">
                <select class="custom-select-04" (change)="selectProduct($event)" [(ngModel)]="selectedProductId">
                    <option value="">Choose...</option>
                    <option *ngFor="let product of products" [ngValue]="product._id">
                        {{product.name}}</option>
                </select>
            </div> -->

            <div>
                <p-dropdown [options]="products" (onChange)="selectProduct($event)" [(ngModel)]="selectedProductId"
                    optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                    placeholder="Select a Product">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="selectedProductId">
                            <div>{{selectedProductId.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-products pTemplate="item">
                        <div class="country-item">
                            <div>{{products.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>


            </div>





            <!-- error block -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.products.errors?.required">
                <sup>*</sup>Please select product
            </div>


        </div>
    </div>
</div>



<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">

            <!-- Form starts -->
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">




                <div class="group-gap">
                    <div class='section-001'>
                        <div class="createdBy">
                            <div class="forms">
                                <div class="label">
                                    <label>
                                        Created By</label>
                                </div>
                                <div class="input">
                                    <input type="text" readonly class="custom-select-03" formControlName="createdBy">

                                </div>

                            </div>


                        </div>

                        <div class="createdBy">
                            <div class="forms">
                                <div class="label">
                                    <label>
                                        Last Edited By</label>
                                </div>
                                <div class="input">
                                    <input type="text" readonly class="custom-select-03" formControlName="updatedBy">
                                </div>

                            </div>

                        </div>

                        <div class="createdBy">
                            <div class="forms">
                                <div class="label">
                                    <label>
                                        Last Edited Date</label>
                                </div>
                                <div class="input">
                                    <input type="text" readonly class="custom-select-03" formControlName="updatedAt">
                                </div>

                            </div>

                        </div>


                    </div>
                    <!-- OEMS -->
                    <div class="section-01">

                        <div class="oem">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.OEM.errors}">OEM's</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select" (change)="changeOEM($event)" formControlName="OEM"
                                        [ngClass]="{'error': submitted && myForm.OEM.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let oem of oemList" [ngValue]="oem._id">{{oem.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.OEM.errors?.required">
                                <sup>*</sup>Please select OEM
                            </div>
                        </div>

                        <!---Categories-->
                        <div class="category">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.categories.errors}">Categories</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select " (change)="changeCategories($event)"
                                        formControlName="categories"
                                        [ngClass]="{'error': submitted && myForm.categories.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let category of categories" [value]="category._id">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.categories.errors?.required">
                                <sup>*</sup>Please select Categories
                            </div>
                        </div>


                        <!-- Subcategories -->

                        <div class="sub-category">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.Subcategories.errors}">Subcategories</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select " (change)="changeSubcategories($event)"
                                        formControlName="Subcategories"
                                        [ngClass]="{'error': submitted && myForm.Subcategories.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let subcategory of subCategories" [value]="subcategory._id">
                                            {{subcategory.name}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.Subcategories.errors?.required">
                                <sup>*</sup>Please select Subcategories
                            </div>
                        </div>


                    </div>


                    <div class="section-02">
                        <!-- Product Name -->
                        <div class="product">
                            <div class=forms>
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productName.errors}">
                                        Product Name</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-01" formControlName="productName"
                                        [ngClass]="{'error': submitted && myForm.productName.errors}">
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productName.errors?.required">
                                    <sup>*</sup>Product name required
                                </div>
                            </div>
                        </div>
                        <!--Product Description-->
                        <div class="description">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productDescription.errors}">
                                        Product Description</label>
                                </div>
                                <div class="input">
                                    <!-- <input class="custom-select-02" formControlName="productDescription"
                                        [ngClass]="{'error': submitted && myForm.productDescription.errors}"> -->
                                    <textarea class="custom-select-02 desc-text-area"
                                        formControlName="productDescription"
                                        [ngClass]="{'error': submitted && myForm.productDescription.errors}"></textarea>

                                </div>
                                <!-- error block -->
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productDescription.errors?.required">
                                    <sup>*</sup>Product Description required
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="section-03">


                        <div class="skuno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productSkuNumber.errors}">
                                        Product Sku Number</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-01" formControlName="productSkuNumber"
                                        [ngClass]="{'error': submitted && myForm.productSkuNumber.errors}">

                                </div>

                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productSkuNumber.errors?.required">
                                    <sup>*</sup>Product SkuNumber required
                                </div>
                            </div>

                        </div>


                        <div class="skuid">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productSkuId.errors}">
                                        Product Sku Id</label>
                                </div>
                                <div class="input">
                                    <input type="number" class="custom-select-03" formControlName="productSkuId"
                                        [ngClass]="{'error': submitted && myForm.productSkuId.errors}">
                                </div>


                                <div class="invalid-feedback" *ngIf="submitted && myForm.productSkuId.errors?.required">
                                    <sup>*</sup>Product SkuId required
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="header-year">
                        <h4>Yearly:</h4>
                    </div>
                    <div class="section-04">



                        <!---Product Order Number-->
                        <div class="orderno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        ERP Price</label>
                                </div>
                                <div class="input">
                                    <input type="number" class="custom-select-01" formControlName="erpPrice"
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                    <sup>*</sup>Product ERP required
                                </div>
                            </div>

                        </div>

                        <!-- Subscription Type -->
                        <div class="subscription">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">Subscription
                                        Type</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select" (change)="changeSubscriptionType($event)"
                                        formControlName="subscriptionType"
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let type of subscriptionTypeList" [value]="type">{{type}}
                                        </option>
                                    </select>
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                    <sup>*</sup>Please select Subscription Type
                                </div>
                            </div>
                        </div>
                        <!---Product Order Number-->
                        <!-- <div class="orderno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productOrderNumber.errors}">
                                        Product Order Number</label>
                                </div>
                                <div class="input">
                                    <input type="number" class="custom-select-01" formControlName="productOrderNumber"
                                        [ngClass]="{'error': submitted && myForm.productOrderNumber.errors}">
                                </div>

                               
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productOrderNumber.errors?.required">
                                    <sup>*</sup>Product Order Number required
                                </div>
                            </div>

                        </div> -->

                        <!---Product Price-->
                        <div class="price">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        SS Price</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-03" formControlName="productPrice"
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                            </div>


                        </div>

                        <div class="price">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        Discount(%)</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-03" formControlName="discount"
                                        [(ngModel)]=defaultDiscount
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                            </div>

                        </div>
                    </div>







                    <div class="header-year">
                        <h4>Monthly:</h4>
                    </div>
                    <div class="section-04">

                        <!---Product Order Number-->
                        <div class="orderno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        ERP Price</label>
                                </div>
                                <div class="input">
                                    <input type="number" class="custom-select-01" formControlName="erpPrice"
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                    <sup>*</sup>Product ERP required
                                </div>
                            </div>

                        </div>
                        <!-- Subscription Type -->
                        <div class="subscription">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">Subscription
                                        Type</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select" (change)="changeSubscriptionType($event)"
                                        formControlName="subscriptionType"
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let type of subscriptionTypeList" [value]="type">{{type}}
                                        </option>
                                    </select>
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                    <sup>*</sup>Please select Subscription Type
                                </div>
                            </div>
                        </div>

                        <!---Product Order Number-->
                        <!-- <div class="orderno">
                                            <div class="forms">
                                                <div class="label">
                                                    <label [ngClass]="{'error': submitted && myForm.productOrderNumber.errors}">
                                                        Product Order Number</label>
                                                </div>
                                                <div class="input">
                                                    <input type="number" class="custom-select-01" formControlName="productOrderNumber"
                                                        [ngClass]="{'error': submitted && myForm.productOrderNumber.errors}">
                                                </div>
                
                                               
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && myForm.productOrderNumber.errors?.required">
                                                    <sup>*</sup>Product Order Number required
                                                </div>
                                            </div>
                
                                        </div> -->

                        <!---Product Price-->
                        <div class="price">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        SS Price</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-03" formControlName="productPrice"
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                            </div>


                        </div>

                        <div class="price">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        Discount(%)</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-03" formControlName="discount"
                                        [(ngModel)]=defaultDiscount
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                            </div>

                        </div>
                    </div>







                    <!-- <div class="section-04">



                        -Product Order Number
                        <div class="orderno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        ERP Price</label>
                                </div>
                                <div class="input">
                                    <input type="number" class="custom-select-01" formControlName="erpPrice"
                                        [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                </div>

                                error block
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                    <sup>*</sup>Product ERP required
                                </div>
                            </div>

                        </div>

                        -Product Price

                        <div class="subscription">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">Subscription
                                        Type</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select" (change)="changeSubscriptionType($event)"
                                        formControlName="subscriptionType"
                                        [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let type of subscriptionTypeList" [value]="type">{{type}}
                                        </option>
                                    </select>
                                </div>

                                error block
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                    <sup>*</sup>Please select Subscription Type
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- </div> -->

                    <div class="similar-products">

                        <!-- <p-multiSelect 
                            [options]="cities" 
                            [(ngModel)]="selectedCities1" 
                            defaultLabel="Select a City" 
                            optionLabel="name">
                        </p-multiSelect> -->
                        <div class="comp-head">
                            <label>Add Products To Compare</label>
                        </div>

                        <p-multiSelect 
                        
                            [options]="products" 
                            [(ngModel)]="selectedProductId1" 
                            defaultLabel="Select Products" 
                            (onChange)="selectSimilarProduct($event)"
                            optionLabel="name">
                            <ng-template let-products pTemplate="item">
                                <div class="country-item">
                                    <div>{{products.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                       


                    </div>


                    <div class="section-06">

                        <!-- <div class="variant">
                            <label [ngClass]="{'error': submitted && myForm.isVariant.errors}">isVariant</label>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="false" type="radio" class="custom-control-input" name="isVariant"
                                        formControlName="isVariant" value="false" checked
                                        (change)="onRadioChange($event)">
                                    <label class="custom-control-label" for="false">False</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input id="true" type="radio" class="custom-control-input" name="true"
                                        formControlName="isVariant" value="true" (change)="onRadioChange($event)">
                                    <label class="custom-control-label" for="true">True</label>
                                </div>
                            </div>
                        </div> -->


                        <!-- Products -->
                        <!-- <div class="variant-product" *ngIf="showProducts">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.products.errors}">Choose
                                        Products</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select-04" (change)="changeProduct($event)"
                                        formControlName="products"
                                        [ngClass]="{'error': submitted && myForm.products.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let product of products" [ngValue]="product._id">
                                            {{product.name}}</option>
                                    </select>
                                </div>

                              
                                <div class="invalid-feedback" *ngIf="submitted && myForm.products.errors?.required">
                                    <sup>*</sup>Please select product
                                </div>
                            </div>
                        </div> -->

                        <!-- Upload image -->
                        <div class="upload">
                            <label>Image Logo</label>
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFile($event)" />
                                <img *ngIf="productLogo" style="width: 100px;height: 100px;" src="{{productLogo}}"
                                    alt="productLogo" />
                                <button *ngIf="productLogo" style="margin: 10px;" class="btn btn-warning"
                                    (click)="removeImage()">Remove</button>
                                <label for="imageUpload" *ngIf="editFile"
                                    [ngClass]="['custom-label', 'upload-image']"></label>
                                <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                                    (click)="removeUploadedFile()"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-07">



                </div>



                <!-- Add Super Powers Dynamically-->

                <div class="feature-update">
                    <label class="heading">Features</label>

                    <div class="feature"
                        *ngFor="let item of addDynamicElementNew.get('feature')['controls']; let i = index">



                        <div class="feature-title" [formGroup]="item">

                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="name">


                        </div>
                        <div class="feature-desc" [formGroup]="item">


                            <label>Description</label>
                            <textarea class="form-control" formControlName="description"></textarea>


                        </div>
                        <div class="feature-link" [formGroup]="item">


                            <label>HyperLink</label>
                            <input type="text" class="form-control" formControlName="hyperLinkURL">

                        </div>
                        <div class="feature-btn">
                            <!-- <div class="btn-01" style="display: flex; align-items: center;"> -->
                            <!-- <button type="button" class="add-btn"
                          (click)="addNewFeature()">Add Feature</button> -->
                            <button class="btn add-btn" (click)="addNewFeature()">Add New</button>
                            <button class="btn btn-warning" (click)="removeFeature(i)">Remove</button>
                        </div>

                    </div>


                </div>

                <div class="faq-update">
                    <label class="heading">Product FAQ</label>

                    <div class="faq" *ngFor="let item of addFAQArrayNew.get('faq')['controls']; let i = index">

                        <div [formGroup]="item" class="faq-question">
                            <label>Question</label>
                            <input type="text" class="form-control" formControlName="Question">
                        </div>

                        <div [formGroup]="item" class="faq-answer">
                            <label>Answer</label>
                            <textarea class="form-control" formControlName="Answer"></textarea>
                        </div>

                        <div class="faq-btn">
                            <button class="btn add-btn" (click)="addNewFAQ()">Add New</button>
                            <button class="btn btn-warning" (click)="removeFAQ(i)">Remove</button>
                        </div>

                    </div>

                </div>
                <div class="btn-02">
                    <button class="btn btn-success" (click)="editProduct()">Save Changes</button>
                </div>
                <div class="row" *ngIf="showMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Product Edited Successfully !</strong>

                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>