<div class="compare-products-container">
    <h1 class="heading">Compare Products</h1>
    <div class="layout">
        <div class="header-component">
            <div class="header-note-container">
            <h2 class="sub-heading">Added Products</h2>
            <p class="description">(You can compare a maximum upto 4 products)</p>
            </div>
            <div class="compare-card" *ngFor="let item of allProducts">
                <div class="prod-img-logo">
                    <img class="prod-img-logo-img"  src="{{item.bannerLogo}}" alt="product-image">
                </div>
                <div class="brand">
                    <div class="brannd-item">
                    <h4><span class="brand-label">OEM : </span>  <span class="brand-value">{{item.properties.DevelopedBy}}</span></h4>
                    </div>
                    <div class="brannd-item">
                        <h4><span class="brand-label">Product : </span>  <span class="brand-value">{{ item.properties.ProductName | slice:0:15 }}{{ item.properties.ProductName.length > 15 ? '...' : '' }}</span></h4>
                    </div>
                </div>
                <div class="quantity-container">
                    <button class="quantity-button decrement-button">-</button>
                    <input type="text" class="quantity-input" value="0">
                    <button class="quantity-button increment-button">+</button>
                </div>    
                
                <div class="action-container">
                    <div class="add-request">
                        <button class="req-quote-btn">Request quote</button>
                    </div>
                    <div class="remove-request">
                        <button class="remove-quote-btn">Remove from compare</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-component" *ngFor="let item of allProperties">
            <div class="label-container">
                <p> {{item[getKey(item)] }}</p>
            </div>
            <div class="feature-value" *ngFor="let product of allProducts">
                <div class="value-container" *ngFor="let property of product.properties | keyvalue">
                <p *ngIf="!isArray(property.value) && (getKey(item) == property.key)">{{property.value}}</p>
                <div class="feature-item-container" *ngIf="isArray(property.value) &&(getKey(item) == property.key)">
                <div class="tick-container"   *ngFor="let item of property.value">
                    <span class="tick-symbol">&#10003;</span>
                    <span class="feature-text">{{item.name}}</span>
                </div>        
                </div>   
            </div>       
            </div>
        </div>
    </div>
    
</div>