<div class="segmentation-container">
    <div class="text-header">
        AWS CHIME - Security Overview
    </div>

    <div class="graph-container">
        
            <div class="segmentation-headers">
                <ng-container *ngFor="let segmentation of segmentationsList.segmentations">
                    <div class="headers-style" (click)="selectedSegmentation(segmentation)">
                        {{segmentation.name}}
                    </div>
                </ng-container>

            </div>

        <div class="canvas-container">

            <div>
                <canvas baseChart
                    [labels]="doughnutChartLabels"
                    [datasets]="doughnutChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="true"
                    [type]="'doughnut'">
                </canvas>
            </div>
            
        </div>

    </div>

    <!-- Segmentation by Category -->
    
    <ng-container *ngIf="selected === 'Cloud'">
        <div class="text-header">
            Recommendations - Users
        </div>
    </ng-container>

    <ng-container *ngIf="selected === 'Users'">
        <div class="text-header">
            Recommendations - Cloud
        </div>

        <ng-container *ngIf="activityDetailsList && activityDetailsList.length >0 ">

        </ng-container>
        <activity-details-table [datasource] = "ELEMENT_DATA" [activityDetailsList]="activityDetailsList"></activity-details-table>




    </ng-container>

</div>
