<div class="segmentation-container">
    <div class="text-header">
        Microsoft- Security Overview
    </div>

    <div class="graph-container">
        
            <div class="segmentation-headers">
                <div class="headers-style" (click)="getAllRecomm()">
                    All
                </div>
                <ng-container *ngFor="let segmentation of segmentationsList.segmentations">
                    <div class="headers-style" (click)="selectedSegmentation(segmentation)">
                        {{segmentation.name}}
                    </div>
                </ng-container>

            </div>

            
        <div class="canvas-container">

            <div class="chart-section">
                <div class="chart-container">
                    <canvas baseChart
                        height="160px" 
                        width="160px"
                        [labels]="doughnutChartLabels"
                        [datasets]="doughnutChartDatasets"
                        [options]="doughnutChartOptions"
                        [legend]="false"
                        [type]="'doughnut'">
                    </canvas>
                </div>
                
            </div>
            <div class="secure-score-container">
                <div class="score-box">
                    <div class="secure-score-text">
                        <span>
                            Your Secure Score
                        </span>
                    </div>
                    <ng-container *ngIf="secureScore && secureScore.SecureScoreValues ; else noSecureData">
                        <div class="secure-score-val">
                            <span>
                                Secure Score - {{secureScore.SecureScorePercentage ? secureScore.SecureScorePercentage : '-'}} %
                            </span>
                        </div>
                        <div class="secure-score-metrics">
                            <span>
                                {{secureScore.SecureScoreValues.currentScore ? secureScore.SecureScoreValues.currentScore : '-'}}
                                /
                                {{secureScore.SecureScoreValues.maxScore ? secureScore.SecureScoreValues.maxScore : '-'}}
                                Acheived
                            </span>
                        </div>
                        <div class="secure-score-graph">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': secureScore.SecureScorePercentage+'%'}"></div>
                              </div>
                        </div>
                    </ng-container>
                    <ng-template #noSecureData>
                        -
                    </ng-template>

                </div>
            </div>

            
            
        </div>

    </div>

    <!-- Segmentation by Category -->
    
    <!-- <ng-container *ngIf="selected === 'Cloud'">
        <div class="text-header">
            Recommendations - Users
        </div>
    </ng-container> -->

    <ng-container>
        <div class="text-header">
            Recommendations - {{selected}}
        </div>

        <ng-container *ngIf="activityDetailsList && activityDetailsList.length >0 ">
            <activity-details-table [datasource] = "ELEMENT_DATA" [activityDetailsList]="activityDetailsList"></activity-details-table>
        </ng-container>
        




    </ng-container>

</div>
