<div class="segmentation-container">
    <div class="text-header">
        AWS CHIME - Security Overview
    </div>

    <div class="graph-container">
        
            <div class="segmentation-headers">
                <ng-container *ngFor="let segmentation of segmentationsList.segmentations">
                    <div class="headers-style" (click)="selectedSegmentation(segmentation)">
                        {{segmentation.name}}
                    </div>
                </ng-container>

            </div>

        <div class="canvas-container">

            <div class="chart-container">
                <canvas baseChart
                    height="160px" 
                    width="160px"
                    [labels]="doughnutChartLabels"
                    [datasets]="doughnutChartDatasets"
                    [options]="doughnutChartOptions"
                    [legend]="false"
                    [type]="'doughnut'">
                </canvas>
            </div>
            
        </div>

    </div>

    <!-- Segmentation by Category -->
    
    <!-- <ng-container *ngIf="selected === 'Cloud'">
        <div class="text-header">
            Recommendations - Users
        </div>
    </ng-container> -->

    <ng-container>
        <div class="text-header">
            Recommendations - {{selected}}
        </div>

        <ng-container *ngIf="activityDetailsList && activityDetailsList.length >0 ">
            <activity-details-table [datasource] = "ELEMENT_DATA" [activityDetailsList]="activityDetailsList"></activity-details-table>
        </ng-container>
        




    </ng-container>

</div>
