<div class="text-center">
    <h2 class="header-title">
        Create Product
    </h2>
</div>

<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">

            <!-- Form starts -->
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                <div class="group-gap">
                    <!-- OEMS -->
                    <div class="section-01">

                        <div class="oem">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.OEM.errors}">OEM's</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select" (change)="changeOEM($event)" formControlName="OEM"
                                        [ngClass]="{'error': submitted && myForm.OEM.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let oem of oemList" [ngValue]="oem._id">{{oem.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.Subcategories.errors?.required">
                                <sup>*</sup>Please select OEM
                            </div>
                        </div>

                        <!---Categories-->
                        <div class="category">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.categories.errors}">Categories</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select " (change)="changeCategories($event)"
                                        formControlName="categories"
                                        [ngClass]="{'error': submitted && myForm.categories.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let category of categories" [value]="category._id">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.categories.errors?.required">
                                <sup>*</sup>Please select Categories
                            </div>
                        </div>


                        <!-- Subcategories -->

                        <div class="sub-category">
                            <div class="forms">
                                <div class="label">
                                    <label
                                        [ngClass]="{'error': submitted && myForm.Subcategories.errors}">Subcategories</label>
                                </div>
                                <div class="select">
                                    <select class="custom-select " (change)="changeSubcategories($event)"
                                        formControlName="Subcategories"
                                        [ngClass]="{'error': submitted && myForm.Subcategories.errors}">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let subcategory of subCategories" [value]="subcategory._id">
                                            {{subcategory.name}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.Subcategories.errors?.required">
                                <sup>*</sup>Please select Subcategories
                            </div>
                        </div>


                    </div>


                    <div class="section-02">
                        <!-- Product Name -->
                        <div class="product">
                            <div class=forms>
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productName.errors}">
                                        Product Name</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-01" formControlName="productName"
                                        [ngClass]="{'error': submitted && myForm.productName.errors}">
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productName.errors?.required">
                                    <sup>*</sup>Product name required
                                </div>
                            </div>
                        </div>
                        <!--Product Description-->
                        <div class="description">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productShortDescription.errors}">
                                        Short Description</label>
                                </div>
                                <div class="input">
                                    <textarea class="custom-select-02" formControlName="productShortDescription"
                                        [ngClass]="{'error': submitted && myForm.productShortDescription.errors}"></textarea>
                                </div>
                                <!-- error block -->
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productShortDescription.errors?.required">
                                    <sup>*</sup>Product Short Description required
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="section-productDescription">
                        <div class="description">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productDescription.errors}">
                                        Product Description</label>
                                </div>
                                <div class="input">
                                    <textarea class="custom-select-02" formControlName="productDescription"
                                        [ngClass]="{'error': submitted && myForm.productDescription.errors}"></textarea>
                                </div>
                                <!-- error block -->
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productDescription.errors?.required">
                                    <sup>*</sup>Product Description required
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="section-03">

                        <!-- -Product SKU Number -->
                        <div class="skuno">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productSkuNumber.errors}">
                                        Product Sku Number</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-01" formControlName="productSkuNumber"
                                        [ngClass]="{'error': submitted && myForm.productSkuNumber.errors}">
                                    <!-- error block -->
                                </div>

                                <div class="invalid-feedback"
                                    *ngIf="submitted && myForm.productSkuNumber.errors?.required">
                                    <sup>*</sup>Product SkuNumber required
                                </div>
                            </div>

                        </div>

                        <!-- -Product SKU id -->
                        <div class="skuid">
                            <div class="forms">
                                <div class="label">
                                    <label [ngClass]="{'error': submitted && myForm.productSkuId.errors}">
                                        Product Sku Id</label>
                                </div>
                                <div class="input">
                                    <input type="text" class="custom-select-03" formControlName="productSkuId"
                                        [ngClass]="{'error': submitted && myForm.productSkuId.errors}">
                                </div>

                                <!-- error block -->
                                <div class="invalid-feedback" *ngIf="submitted && myForm.productSkuId.errors?.required">
                                    <sup>*</sup>Product SkuId required
                                </div>
                            </div>

                        </div>
                        <div class="upload">
                            <label>Image Logo</label>
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFile($event)" />
                                <img *ngIf="productLogo" style="width: 100px;height: 100px;" src="{{productLogo}}"
                                    alt="productLogo" />
                                <button *ngIf="productLogo" style="margin: 10px;" class="btn btn-warning"
                                    (click)="removeImage()">Remove</button>
                                <label for="imageUpload" *ngIf="editFile"
                                    [ngClass]="['custom-label', 'upload-image']"></label>
                                <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                                    (click)="removeUploadedFile()"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>


                   

                    <!-- monthly yearly price starts here-->
                     <!-- yearsly selection  -->
                     <!-- <div>
                        <input type="checkbox"   (change)=" onCheckIsPerpetual($event)"  > 
                        <label >Yearly & Monthly</label>
                     </div> -->

                    <ng-container *ngIf="!isPerpetual">
                    <div class="header-year" >
                        <h4>Yearly Price Details :</h4>
                    </div>

                    <fieldset [disabled]="isPerpetual">
                        <div class="section-04">
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">Subscription
                                            Type
                                        </label>
                                    </div>
                                    <div class="select">
                                        <select [(ngModel)]='ysubscriptionType' class="custom-select"
                                            (change)="changeSubscriptionType($event)" formControlName="ysubscriptionType"
                                            [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">
                                            <option value="">Choose...</option>
                                            <option *ngFor="let type of subscriptionTypeList" [value]="type">{{type}}
                                            </option>
                                        </select>
                                    </div>
                    
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                        <sup>*</sup>Please select Subscription Type
                                    </div>
                                </div>
                            </div>
                            <!---Product Order Number-->
                            <div class="orderno">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            ERP Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="number" class="custom-select-01" formControlName="yerpPrice" [disabled]="isPerpetual"
                                            (change)="onPriceChange('yerpPrice')"
                                            [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
                                    <!-- <div>
                                                                Calculated Price : {{tempYerpPrice}}
                                                            </div> -->
                    
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                        <sup>*</sup>Product ERP required
                                    </div>
                                </div>
                    
                            </div>
                    
                    
                    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03" formControlName="ydistributorPrice"
                                            [disabled]="isPerpetual" (change)="onPriceChange('yerpPrice')"
                                            [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
                    
                                </div>
                    
                    
                            </div>
                    
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03" value={{tempYerpPrice}}
                                            [disabled]="isPerpetual" [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
                    
                                </div>
                    
                    
                            </div>
                    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03" formControlName="ydiscount"
                                            [disabled]="isPerpetual" [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
                    
                                </div>
                    
                            </div>
                        </div>
                    </fieldset>


                   
                        <div class="header-year" >
                            <h4>Monthly Price Details:</h4>
                        </div>
                    <fieldset [disabled]="isPerpetual">   
                        <div class="section-04"     >
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label
                                            [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">Subscription
                                            Type</label>
                                    </div>
                                    <div class="select">
                                        <select [(ngModel)]='msubscriptionType' class="custom-select" (change)="changeSubscriptionType($event)"
                                            formControlName="msubscriptionType"
                                            [ngClass]="{'error': submitted && myForm.subscriptionType.errors}">
                                            <option value="month"  selected>Month</option>
                                            <option value="year">Year</option>
                                            <!-- <option *ngFor="let type of subscriptionTypeList" [value]="type">{{type}} -->
                                          
                                        </select>
                                    </div>
    
                                    <!-- error block -->
                                    <div class="invalid-feedback"
                                        *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                        <sup>*</sup>Please select Subscription Type
                                    </div>
                                </div>
                            </div>
                                 <!---Product Order Number-->
                                 <div class="orderno">
                                    <div class="forms">
                                        <div class="label">
                                            <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                                ERP Price</label>
                                        </div>
                                        <div class="input">
                                            <input type="number" class="custom-select-01" formControlName="merpPrice"
                                            (change)="onPriceChange('merpPrice')" [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                        </div>
                                        <!-- <div>
                                            Calculated Price : {{tempMerpPrice}}
                                        </div> -->
        
                                        <!-- error block -->
                                        <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                            <sup>*</sup>Product ERP required
                                        </div>
                                    </div>
        
                                </div>
    
    
    
                            <div class="orderno">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="number" class="custom-select-01" formControlName="mdistributorPrice"
                                        (change)="onPriceChange('merpPrice')" [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
    
                                    <!-- error block -->
                                    <div class="invalid-feedback" *ngIf="submitted && myForm.productPrice.errors?.required">
                                        <sup>*</sup>Product Distributor required
                                    </div>
                                </div>
    
                            </div>
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="number" class="custom-select-03" value={{tempMerpPrice}}
                                            [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03" formControlName="mdiscount"
                                            
                                            [ngClass]="{'error': submitted && myForm.productPrice.errors}">
                                    </div>
    
                                </div>
    
                            </div>
                        </div>
                    </fieldset>
                   

                    </ng-container>

                    

                    <!-- perpetual starts-->

                    <ng-container *ngIf="isCommercial">
                    <div class="perpetual"  >
                        <!-- <input type="checkbox"   #perpetualCheckbox (change)="onPerpetualSelected(perpetualCheckbox)" (change)="onCheckboxChange(perpetualCheckbox, commercialCheckbox)"  id="perpetualCheckbox">&nbsp;
                        <label  for="perpetualCheckbox">Perpetual</label>  -->
                  
                        <!-- <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;  <input type="checkbox"  #commercialCheckbox (change)="onCheckboxChange(commercialCheckbox, perpetualCheckbox)"   id="commercialCheckbox"  >&nbsp;
                             <label for="commercialCheckbox">Commercial</label>
                        </div> -->
                        <br>
                        <!-- 1year paln price -->
                        <div class="header-year"*ngIf="isPerpetual">
                            <h4>1 Year Price Details :</h4>
                        </div>
                        <div class="section-04"   *ngIf="isPerpetual">
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label>Subscription Type
                                        </label>
                                    </div>
                                    <div class="select">
                                        <select  class="custom-select"  >
                                            <option value="month"  selected>1</option>                                             
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                                 <!---Product Order Number-->
                                 <div class="orderno">
                                    <div class="forms">
                                        <div class="label">
                                            <label  >
                                                ERP Price</label>
                                        </div>
                                        <div class="input">
                                            <input type="number" class="custom-select-01" formControlName="yerpPrice1" 
                                            (change)="onPriceChange('yerpPrice1')">
                                        </div>
                                       
         
                                    </div>
        
                                </div>
                          
                              
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label>
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03" formControlName="ydistributorPrice1"
                                        (change)="onPriceChange('yerpPrice1')">
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label >
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"    value={{temp1YerpPrice}}>
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label  >
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03" formControlName="ydiscount1"
                                           >
                                    </div>
    
                                </div>
    
                            </div>
                        </div>

                        <!-- 3 years plan price  -->
                        <div class="header-year"*ngIf="isPerpetual">
                            <h4>3 Years Price Details :</h4>
                        </div>
                        <div class="section-04"  *ngIf="isPerpetual" >
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label>Subscription Type
                                        </label>
                                    </div>
                                    <div class="select">
                                        <select  class="custom-select"  >
                                            <option value="month"  selected>3</option>                                             
                                        </select>
                                    </div>
                                    <!-- <div>
                                        <input type="number" class="custom-select-01"  >
                                    </div> -->
    
                                    <!-- error block -->
                                    <!-- <div class="invalid-feedback"
                                        *ngIf="submitted && myForm.subscriptionType.errors?.required">
                                        <sup>*</sup>Please select Subscription Type
                                    </div> -->
                                </div>
                            </div>
                                 <!---Product Order Number-->
                                 <div class="orderno">
                                    <div class="forms">
                                        <div class="label">
                                            <label  >
                                                ERP Price</label>
                                        </div>
                                        <div class="input">
                                            <input type="number" class="custom-select-01" formControlName="yerpPrice3" 
                                            (change)="onPriceChange('yerpPrice3')" >
                                        </div> 
                                    </div>
        
                                </div>
                          
                              
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label>
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03"formControlName="ydistributorPrice3"
                                        (change)="onPriceChange('yerpPrice3')">
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label >
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"value={{temp3YerpPrice}}  >
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label  >
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"  formControlName="ydiscount3">
                                    </div>
    
                                </div>
    
                            </div>
                        </div>


                        <!-- life time price plan -->
                        <div class="header-year"*ngIf="isPerpetual">
                            <h4>Life Time Price Details :</h4>
                        </div>
                        <div class="section-04"  *ngIf="isPerpetual" >
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label>Subscription Type
                                        </label>
                                    </div>
                                    <div class="select">
                                        <select  class="custom-select"  >
                                            <option value="LifeTime"  selected>LifeTime</option>                                             
                                        </select>
                                    </div> 
                                    
                                </div>
                            </div>
                                 <!---Product Order Number-->
                                 <div class="orderno">
                                    <div class="forms">
                                        <div class="label">
                                            <label  >
                                                ERP Price</label>
                                        </div>
                                        <div class="input">
                                            <input type="number" class="custom-select-01" formControlName="yerpPriceL" 
                                            (change)="onPriceChange('yerpPriceL')" >
                                        </div>
                                        
                                    </div>
        
                                </div>
                          
                              
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label>
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03" formControlName="ydistributorPriceL"
                                        (change)="onPriceChange('yerpPriceL')">
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label >
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03" value={{tempLYerpPrice}}  >
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label  >
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"   formControlName="ydiscountL"
                                             >
                                    </div>
    
                                </div>
    
                            </div>
                        </div>

                    </div>
                </ng-container>


                <ng-container *ngIf="!isCommercial">
                    <!-- educational -->
                    <div class="header-year" *ngIf="isPerpetual">
                        <h4>Life Time Price Details :</h4>
                    </div>
                    <div class="educational" >
                        <!-- <input type="checkbox"  id="chb"  (change)="toggleDataDisplay($event)">&nbsp; -->
                        <!-- <label for="">Educational</label>  -->
                        <div class="section-04">
                            <div class="subscription">
                                <div class="forms">
                                    <div class="label">
                                        <label>Subscription Type
                                        </label>
                                    </div>
                                    
                                    <div>
                                        <input type="number" class="custom-select-01"  >
                                    </div>
     
                                </div>
                            </div>
                                 <!---Product Order Number-->
                                 <div class="orderno">
                                    <div class="forms">
                                        <div class="label">
                                            <label  >
                                                ERP Price</label>
                                        </div>
                                        <div class="input">
                                            <input type="number" class="custom-select-01" formControlName="yerpPriceE" 
                                            (change)="onPriceChange('yerpPriceE')"  >
                                        </div> 
                                    </div>
        
                                </div>
                          
                              
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label>
                                            Distributor Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" class="custom-select-03" formControlName="ydistributorPriceE"
                                        (change)="onPriceChange('yerpPriceE')">
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <!---Product Price-->
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label >
                                            SS Price</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"  value={{tempEYerpPrice}} >
                                    </div>
    
                                </div>
    
    
                            </div>
    
                            <div class="price">
                                <div class="forms">
                                    <div class="label">
                                        <label  >
                                            Discount(%)</label>
                                    </div>
                                    <div class="input">
                                        <input type="text" readonly class="custom-select-03"  formControlName="ydiscountE"
                                             >
                                    </div>
    
                                </div>
    
                            </div>
                        </div>
                    </div>

                </ng-container>




                    <div class="app" *ngFor="let item of addAppArrayNew.get('app')['controls']; let i = index">
                        <div class="app-name" [formGroup]="item">
                            <div class="label">
                                <label >
                                    App  Name</label>
                            </div>
                            <div class="input">
                                <input type="text" class="custom-select-01" formControlName="name">
                            </div>
                        </div>

                          <!-- Upload image -->
                          <div class="upload-01">
                            <label>App Logo</label>
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                    (change)="uploadFileForApp($event, i)" />
                                <img *ngIf="productLogo" style="width: 100px;height: 100px;" src="{{imageURL}}"
                                    />
                                <button *ngIf="productLogo" style="margin: 10px;" class="btn btn-warning"
                                    (click)="removeImage()">Remove</button>
                                <label for="imageUpload" *ngIf="editFile"
                                    [ngClass]="['custom-label', 'upload-image']"></label>
                                <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                                    (click)="removeUploadedFile()"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" [style.backgroundImage]="'url('+ imageURL +')'">
                                </div>
                            </div>
                        </div>
                        <div class="faq-btn">
                            <button class="btn add-btn" (click)="addNewApp()">Add New</button>
                            <button class="btn btn-warning" (click)="removeApp(i)">Remove</button>
                        </div>
                    </div>





                  
                </div>

                <div class="section-07">



                </div>



                <!-- Add Super Powers Dynamically-->

                <div class="feature-update">
                    <label class="heading">Features</label>

                    <div class="feature"
                        *ngFor="let item of addDynamicElementNew.get('feature')['controls']; let i = index">



                        <div class="feature-title" [formGroup]="item">

                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="name">


                        </div>
                        <div class="feature-desc" [formGroup]="item">


                            <label>Description</label>
                            <textarea class="form-control" formControlName="description"></textarea>


                        </div>
                        <div class="feature-link" [formGroup]="item">


                            <label>HyperLink</label>
                            <input type="text" class="form-control" formControlName="hyperLinkURL">

                        </div>
                        <div class="feature-btn">
                            <!-- <div class="btn-01" style="display: flex; align-items: center;"> -->
                            <!-- <button type="button" class="add-btn"
                          (click)="addNewFeature()">Add Feature</button> -->
                            <button class="btn add-btn" (click)="addNewFeature()">Add New</button>
                            <button class="btn btn-warning" (click)="removeFeature(i)">Remove</button>
                        </div>

                    </div>


                </div>

                <div class="faq-update">
                    <label class="heading">Product FAQ</label>

                    <div class="faq" *ngFor="let item of addFAQArrayNew.get('faq')['controls']; let i = index">

                        <div [formGroup]="item" class="faq-question">
                            <label>Question</label>
                            <input type="text" class="form-control" formControlName="Question">
                        </div>

                        <div [formGroup]="item" class="faq-answer">
                            <label>Answer</label>
                            <textarea class="form-control" formControlName="Answer"></textarea>
                        </div>

                        <div class="faq-btn">
                            <button class="btn add-btn" (click)="addNewFAQ()">Add New</button>
                            <button class="btn btn-warning" (click)="removeFAQ(i)">Remove</button>
                        </div>

                    </div>

                </div>



                <div class="btn-02">
                    <button class="btn btn-success" (click)="CreateProduct()">Create</button>
                </div>

                <div class="row" *ngIf="showMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Product Created Successfully !</strong>

                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>






    