<div id="leadSummary">
    <!-- <div onclick="history.back()" class="backBtnDiv ">
        <img src="../../../../assets/icons/arrow-right.svg" class="backBtn">Go Back
    </div>  -->
    <ng-container *ngIf="accountDetails && responseData">
        <div id="lead-summary-header">

            <ng-container *ngIf="estimateData.estimate_number; else noValue">
                <div onclick="history.back()" class="back-btn-container">
                    <img src="../../../../assets/icons/arrow-right.svg" class="back-btn">
                </div>
                {{estimateData.estimate_number}} : Lead Summary
              </ng-container>
              <ng-template #noValue>
                <div onclick="history.back()" class="back-btn-container">
                    <img src="../../../../assets/icons/arrow-right.svg" class="back-btn">
                </div>
                Quotation Status</ng-template>
    
        </div>


        <div class="row-div">
            <div id="leadStatus">
                <div class="card-container">
                    <div class="content-holder bottom-border">
                        <span class="customer-header">Lead Details</span>
                    </div>
                    <div class="content-holder">
                        <span class="header">
                            Lead Status
                        </span>
                        <span class="value">
                            {{responseData.cartData.status}}
                        </span>
                    </div>
                    <div class="content-holder">
                        <span class="header">
                            Last Activity
                        </span>
                        <span class="value">
                            {{ responseData.cartData.updatedAt | dateFormat}}
                        </span>
                    </div>
                    <div class="content-holder">
                        <span class="header">
                            Lead Expiry
                        </span>
                        <span class="value">
                            <ng-container *ngIf="estimateData.expiry_date; else cartDate">
                                {{ estimateData.expiry_date | dateFormat}}
                              </ng-container>
                              <ng-template #cartDate>-</ng-template>


                            <!-- {{productsData.expiry_date | dateFormat}} -->
                        </span>
                    </div>
                    <div class="content-holder">
                        <span class="header">
                            Total 
                            <span class="gst">(GST Extra)</span>
                        </span>
                      
                        <span class="value">


                            <ng-container *ngIf="estimateData.totalEstimateCost; else cartValue">
                                {{estimateData.totalEstimateCost | number : '1.2-2'}}
                              </ng-container>
                              <ng-template #cartValue>{{ responseData.TotalCartValue | number : '1.2-2'}}</ng-template>


                            
                        </span>
                    </div>
                </div>
            </div>
            <div id="customerDetails">
                <div class="card-container customer-details">
                        <div class="row-holder-01 bottom-border">
                            <span class="customer-details-header">Customer Details</span>
                        </div>
                        <div class="row-holder">
                            <span class="row-header">
                               Customer Name
                            </span>
                            <span class="row-value">

                                <ng-container *ngIf="contactsData.contact_firstName!=null; else contactName">
                                    {{contactsData.contact_firstName}},  ({{contactsData.contact_Email.Email}})
                                  </ng-container>
                                  <ng-template #contactName>{{responseData.assignTo.firstName}} ({{responseData.assignTo.email}})</ng-template>

                              
                            </span>
                        </div>
                        <div class="row-holder">
                            <span class="row-header">
                               Company Name
                            </span>
                            <span class="row-value">

                                <ng-container *ngIf="contactsData.contact_name!=null; else companyNameNull">
                                    {{contactsData.contact_name}}
                                  </ng-container>
                                  <ng-template #companyNameNull>-</ng-template>

                              
                            </span>
                        </div>
                        <div class="row-holder">
                            <span class="row-header">
                                Address
                            </span>
                            <span class="row-value">


                                <ng-container *ngIf="contactsData.shipping_address!=null; else noAddress">
                                    {{contactsData.shipping_address.address}}, {{contactsData.shipping_address.street2}}, {{contactsData.shipping_address.city}}
                                  </ng-container>
                                  <ng-template #noAddress>{{responseData.assignTo.fullAddress.address1}}</ng-template>

                              
                               
                            </span>
                        </div>
                        <div class="row-holder">
                            <span class="row-header">
                                State
                            </span>
                            <span class="row-value">

                                <ng-container *ngIf="contactsData.shipping_address!=null; else noAddress">
                                    {{contactsData.shipping_address.state}},{{contactsData.shipping_address.zip}}
                                  </ng-container>
                                  <ng-template #noAddress>{{responseData.assignTo.fullAddress.state}},{{responseData.assignTo.fullAddress.pincode}}</ng-template>
                               
                            </span>
                        </div>
                        <!-- <div class="row-holder">
                            <span class="row-header">
                                Zip Code
                            </span>
                            <span class="row-value">

                                <ng-container *ngIf="contactsData.shipping_address!=null; else noAddress">
                                    {{contactsData.shipping_address.zip}}
                                  </ng-container>
                                  <ng-template #noAddress>{{responseData.assignTo.fullAddress.pincode}}</ng-template>
                               
                            </span>
                        </div> -->
                </div>
            </div>
            <div id="assigneeDetails">
                <div class="card-container assignee-details">
                <div class="status">
                    <div class="row-holder-01 bottom-border">
                        <span class="customer-details">Estimate Status</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle info-icon" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <div class="estimate-status-history-container estimate-hover-show">
                            <div class="row-holder-01 bottom-border estimate-headline">
                                <span class="customer-details">Estimate History:</span>
                            </div>
                            <div class="estimate-data">
                                <div class="estimated-old-name">
                                    Vignesh C
                                </div>
                                <div class="hours-details">
                                    1 hour ago
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <h4 class="bottom-border" >Estimate Status</h4> -->

                    <div class="comment">
                        <label>Assigned Owner Comments</label>
                        <textarea id="assignedComments" [(ngModel)]="assignedOwnerComments" type="textarea" (input)="assignedCommentsChange($event)" class="comment-area" ></textarea>
                    </div>
                    <div class="select-status">

                        <select class="status-option" (change)="onEstimateChange($event)">
                            <option>Select Estimate Status</option>
                            <option>Estimate Accepted </option>
                                <option> On Hold</option>
                                <option>Deal Won</option>
                                <option>Deal Lost</option>
                        </select>
                    </div>
                    
                </div>
                </div>
                
            </div>


            



        </div>


        <div class="row-div">
            <div id="productItems">
                <div class="card-container">

                    <ng-container *ngIf="responseData.cartData.status!=='New'; else newQuote">
                    
                        <products-list-table [productsData]="estimateData" [cartData]="cartData" [crmData]="responseData" [assignedOwnerComments]="assignedOwnerComments" [estimateStatus]="estimateStatus"></products-list-table>
                      </ng-container>
                      <ng-template #newQuote>

                   
                        <products-list-table  [productsData]="responseData.cartData" [cartData]="cartData" [crmData]="responseData" [assignedOwnerComments]="assignedOwnerComments" [estimateStatus]="estimateStatus"></products-list-table> 
                        
                       </ng-template>
                   

                   
                    
                </div>
            </div>
        </div>
        

        
        
    </ng-container>
    
</div>