<div class="profile-view-container">


    <ng-container *ngIf="userDetails$ | async">

        <div>
            First Name <input class="input-field" [(ngModel)]="userDetails.firstName" value="{{userDetails.userDetails}}">
        </div>
        <div>
            Last Name <input class="input-field" [(ngModel)]="userDetails.lastName" value="{{userDetails.lastName}}">
        </div>
        <div>
            Email ID <input class="input-field" disabled [(ngModel)]="userDetails.email" value="{{userDetails.email}}">
        </div>
        <div>
            Company <input class="input-field" [(ngModel)]="userDetails.company" value="{{userDetails.company}}">
        </div>
        <div>
            <button (click)="updateProfile()">Update</button>
        </div>
        
    </ng-container>
</div>

