.product-page-container {
    display: flex;
    flex-direction: column;
}

.product-list-container {
    /* width: 73vw; */
}

.filter-container {
    /* width:26vw;
    height: auto;
    margin:2%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding:2% 2% 2% 0;
    background: #FAFAFA;
    border-radius: 12px; */

    
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    padding: 20px;
    column-gap: 2%;
}

app-product {
    margin:2%;
}

.oem-tilte {
    margin:2rem auto auto 1rem;
}

.drop-down-container {
    margin:6% 4%;
    background: #FFFFFF;
    padding: 0 !important;
}
.filter-title {
    margin:4%;
}
.filter-dropdown {
    width: 250px;
}

.empty-container {
    min-height: 40em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    background: var(--primary);
    align-items: center;
    justify-content: center;
   
}



.selected {
    display: none !important
}

ng-select select-dropdown .selected {
    display: none !important
}



:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
    
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important; 
    -webkit-box-orient: vertical !important;
}

