<div class="product-page-container">
  
  
  <div class="parent-holder">
    <div class="filter-container">
      <div style="width:100%">
        <ng-container *ngIf="categories && categories.length>0">
          <product-filter 
            [listCategories] = "categories" (selecteCategories)="selecteCategories($event)"
            [listSubCategories] = "subCategories" (selectedSubCategories)="selectedSubCategories($event)"
            [listBrands] = "brands" (selectedBrands)="selectedBrands($event)"
            [selectedParams] = "selectedParams"
            [selectedParamsVal] = "selectedParamsVal"

            ></product-filter>
        </ng-container>
        
      </div>
      
    </div>
    <div class="product-container">
      <div class="tab-holder">
        <div class="product-items-holder">
          <div class="card-flyer-holder">
            <ng-container *ngIf="productList && productList.length>0">
              <!-- <product-card-flyer [type] = "'products'" [products]=" (selectedTab === 'products') ? productList : productBundlesList"></product-card-flyer> -->
              <product-card-flyer [type] = "'products'" [products]=" finalProductList"></product-card-flyer>
            </ng-container>
            
            <!-- <app-product [type]="(selectedTab === 'products') ? 'products' : 'productBundles'" [products]=" (selectedTab === 'products') ? productList : productBundlesList"></app-product> -->
          </div>
        </div>
        <!-- <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="1000ms">
          <mat-tab label="First">
            <div class="product-items-holder">
              <div class="card-flyer-holder">
                <ng-container *ngIf="productList && productList.length>0">
                  <product-card-flyer [type] = "'products'" [products]=" (selectedTab === 'products') ? productList : productBundlesList"></product-card-flyer>
                </ng-container>

              </div>
            </div>
          </mat-tab>
          <mat-tab label="Second">
            <div class="product-items-holder">
              <div class="card-flyer-holder">
                <product-card-flyer [products]="productBundles"></product-card-flyer>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group> -->
        
      </div>
    </div>
    <div class="ad-on-container">
      Hello
    </div>
  </div>
  
</div>