<div class="product-page-container" id="productPageContainer">

  <div (click) = "viewModal3(null)" class="compare-products-badge">
    <span class="offer-name-label">
        
        Compare ({{ compareProductsListLength ? compareProductsListLength : 0}})
        
    </span>
  </div>
  
  <div class="parent-holder">
    <div id="filterSection" #filterSection class="filter-container">
      <div style="width:100%" id="testDiv" #testDiv>
        <ng-container *ngIf="categories && categories.length>0">
          <product-filter 
            [listCategories] = "categories" (selecteCategories)="selecteCategories($event)"
            [listSubCategories] = "subCategories" (selectedSubCategories)="selectedSubCategories($event)"
            [listBrands] = "brands" (selectedBrands)="selectedBrands($event)"
            [selectedParams] = "selectedParams"
            [selectedParamsVal] = "selectedParamsVal"

            ></product-filter>
        </ng-container>
        <div id="filterView" #filterView>
          &nbsp;
        </div>
        
      </div>
      
      
    </div>
    <div class="product-container">
      <div class="tab-holder">
        <div class="product-items-holder">
          <div class="card-flyer-holder">





            <ng-container *ngIf="finalProductList && finalProductList.length>0 ; else noProducts">
              <div >
                <product-card-flyer [type] = "'products'" [products]=" finalProductList" (listForCompare)="selectedListForCompare($event)"></product-card-flyer>
              </div>
             </ng-container>
            
             <ng-template #noProducts>
              <div >
                
                  <div class="empty-container">
                    <div>
                      <img class="success-state-img" src="../../../assets/images/NoProductIllustration.png" alt="home">
                    </div>
                    <div class="empty-container-text">
                      <p class="empty-container-text-content">We couldn't find the product you're looking for.</p>
                      <p class="empty-container-text-content">Please try again later or explore similar products.</p>
                    </div>
                  </div>
                
              </div>
             </ng-template>
            

          </div>
        </div>

        
      </div>
    </div>
    <div class="ad-on-containe-invisible">
      
      &nbsp;
      
    </div>
    <div class="ad-on-container">
      <div class="inner-container">
        <ad-ons [productsList] = "listForCompare"></ad-ons>
      </div>
      
      <img class="responsive-img" src="../../../assets/images/banner/AutomatedDeployment.png">
    </div>
   
  </div>
  
 
  
</div>

<div id="floatableFilter" class="fab-container">
  <!-- <button mat-fab class="fab-toggler">
    <i class="material-icons">add</i>
  </button> -->

  <div (click)="scrollToFilters()">
    <span _ngcontent-hwe-c480="" class="filter-icon">
      <img _ngcontent-hwe-c480="" alt="FilterIcon" src="../../../assets/icons/FilterBlueIcon.svg">
    </span>
    <span _ngcontent-hwe-c480="">Go To Filters</span>
  </div>

</div>


<!--  Changes For Sticky -->
