.product-page-container {
    display: flex;
    flex-direction: row;
}

.product-list-container {
    width: 73vw;
}

.filter-container {
    width:26vw;
    height: auto;
    margin:2% 0%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding:2%;
}

app-product {
    margin:2%;
}

.oem-tilte {
    margin:2rem auto auto 1rem;
}

app-multi-select-dropdown {
    margin: 2%;
}