<div *ngIf="recomArray; else elseBlock">
	<table class="recomTable">
		<thead>
			<tr class="table-header">
				<th style="width:6%"><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
				<th>Activity Details</th>
				<th style="width:13%">Severity</th>
                <th style="width:13%">Status</th>
				<th style="width:13%">Progress</th>
				<th style="width:13%"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of activityDetailsList; let i=index; let odd = odd">
				<td class="align-top"><input type="checkbox" value="{{item.title}}" [(ngModel)]="item.checked"></td>
				<td class="align-top">
                    <div class="details-container">
                        <div class="activity-header">
                            {{item.title}}
                        </div>
                        <div class="activity-dsec">
                            {{item.details}}
                        </div>
                    </div>
                </td>
				<td>
                    <div class="priority-container">
                        <div [ngClass]="{'high': item.priority ==='High',
                                    'medium': item.priority ==='Medium',
                                    'low': item.priority ==='Low'}">
                        </div>
                        <div>
                            High
                        </div>
                    </div>
                    
                </td>
                <td>
                    <div class="priority-container">
                        <ng-container *ngIf="(item.userConfigStatus && item.userConfigStatus.length>0); else notConfiguredBlock">
                            <div>
                                <img src="../../../../../../../assets/icons/checkcircle.svg">
                            </div>
                            <div>
                                {{item.userConfigStatus[0].status}}
                            </div>
                        </ng-container>
                        
                        <ng-template #notConfiguredBlock>
                            <div>
                                <img src="../../../../../../../assets/icons/closecircle.svg">
                            </div>
                            <div>
                                Not Configured
                            </div>
                        </ng-template>
                    </div>
                </td>
				<td>
                    <mat-progress-bar mode="indeterminate" *ngIf="item.isCompleted"></mat-progress-bar>
                </td>
				<td><button class="btn assess-btn" (click)="assess(item)">Assess</button></td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #elseBlock>No record found</ng-template>






<!-- <ng-container>
    <table mat-table [dataSource]="dataSource">

        
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="assess">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> 
                <button class="btn assess-btn" (click)="assess(element)">Assess</button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
</ng-container> -->


