<div class="feature-update-view">

    <div>
        Name
        <input class="" [(ngModel)]="name">
    </div>
    <div>
        Description
        <input class="" [(ngModel)]="description">
    </div>
    <div>
        Sub Category ID
        <input class="" [(ngModel)]="subCategoryId">
    </div>
    <div>
        URL
        <input class="" [(ngModel)]="hyperLinkURL">
    </div>
    <div>
        Created By
        <input class="" [(ngModel)]="createdBy">
    </div>
    <div>
        Updated By
        <input class="" [(ngModel)]="updatedBy">
    </div>
    <div>
         <button (click)="submitFeature()">Submit</button>
    </div>

</div>
