<div class="container">
    <div>
        <img class="success-state-img" src="../../../../../assets//images/successState.svg" alt="home">
    </div>
    <div class="text-header">
        You have successfully submitted your quotation request!
    </div>
    <div>
        You can expect to hear back from us within 24hrs. Check  “Quotation History” to view the status of your request
    </div>
    <div class="button-container">
        <button class="btn compare-btn" >Quotation History</button>
        <button class="btn request-btn" >Explore more Products</button>
    </div>
   </div>
