<mat-toolbar class="toolbar">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="altsys-logo" (click)="goToHomePage()"> 
    <img class="altsys-logo-navbar" alt=""
    src="../../../assets/Realize/logos/RealizeLogo.svg" 
    />
  </span>
  <span class="spacer"></span>
  <button title="Cart" [matBadge]="cartItemCounts"  matBadgeColor="accent" mat-icon-button class="toolbar-icon-01" (click)="cartFynction()" >
    <img src="../../../assets/icons/Cart.svg"/>
    <!-- <button class="badge bg-danger">0</button> -->
    <ng-container *ngIf="(cartItems$ | async) as cartItems">
      <ng-container *ngIf="cartItems.length > 0">
        <span class="icon-button__badge">{{numberOfCartItems}}</span>
      </ng-container>
      
    </ng-container>
    
  </button>
  <button title="Bell" mat-icon-button class="toolbar-icon">
    <img alt="" src="../../../assets/icons/Bell.svg"/>
  </button>
  <button title="User-icon" *ngIf="!userLoggedIn"  mat-icon-button class="toolbar-icon" (click)="login()">
    <img alt="" src="../../../assets/icons/User_icon.svg"/>
  </button>
  <!-- <button *ngIf= "userLoggedIn" mat-icon-button class="toolbar-icon" (click)="logout()">
    <img src="../../../assets/icons/Users.svg"/>
  </button> -->
  
  
  
</mat-toolbar>
<ngx-spinner size="medium" type="ball-atom"></ngx-spinner>