


<div class="navbar">



  <div class="logo-section" (click)="goToHomePage()">
    <img class="realize-logo" alt=""
    src="../../../assets/Logos/skysecureLogo.png" 
    />
  </div>


  <!-- <div *ngIf="(globalSearchBarVisibility$ | async)"> -->
  <div *ngIf="searchBarVisibility">
    <header-serach-bar></header-serach-bar>
  </div>

  

  <div class="icons-section">

    <!-- <div>
      <button class="searchicon-btn" *ngIf="!selected" (click)="openSearch(selected)">
        <img alt="search-icon" class="search-icon" src="../../../assets/icons/Search-1.svg">
      </button>
    
      <ng-container *ngIf="selected">
        <header-serach-bar></header-serach-bar>
      </ng-container>
    
      
      
    </div> -->



<!-- 
    <div class="notificationicon-section">
      <img class="notification-icon" alt="" src="../../../assets/icons/BellWhite.svg">
    </div> -->
<ng-container *ngIf="userLoggedIn">
  <div class="cart-section">
    <button class="cart-button" title="Cart" [matBadge]="cartItemCounts" (click)="cartFynction()">
      <div class="cartposition">
        <img alt="cart" class="cart-icon" src="../../../assets/icons/CartWhite.svg">
        <!-- <span>Cart</span> -->

        <ng-container *ngIf="(cartItems$ | async) as cartItems">
          <ng-container *ngIf=" cartItems.length > 0">

            <span class="icon-button__badge">{{numberOfCartItems}}</span>
          </ng-container>
        </ng-container>
      </div>
    </button>
  </div>
</ng-container>
<!-- <ng-container *ngIf="!userLoggedIn">

</ng-container> -->
    





    
    <div class="user-icon" title="User-icon" *ngIf="!userLoggedIn" (click)="navigateToLogin()">
      <img class="usericon" alt="" src="../../../assets/icons/User_icon.svg"/>
    </div>



    <div class="user-icon" title="User-icon" *ngIf="userLoggedIn">
      <div mat-button [matMenuTriggerFor]="afterMenu">
        <img class="usericon" alt="" src="../../../assets/icons/User_icon.svg"/>
        <i class="fa fa-caret-down icon-color" aria-hidden="true"></i>
      </div>
      <mat-menu #afterMenu="matMenu" yPosition="below">
        <p mat-menu-item>{{userFullName}}</p>
        <!-- user profile is commented for now need to uncomment after the functionality completed -->
        <!-- <button mat-menu-item [routerLink]="['user-profile/profile-view']">Update Profile</button> -->
        <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      
    </div>
    <div>
      <!-- <button mat-button [matMenuTriggerFor]="afterMenu">
        <span class="text-normal">OFFER</span>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
        <mat-menu #afterMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu> -->
    </div>


    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">                        
      <i class="user-img" class="fa fa-solid fa-bars"></i>
    </label>

  </div>




</div>


