<!-- <div class="card-container" (click)="navigateTo(item)" [ngStyle]="{'background': 'url(' + item.bgImg + ') no-repeat 0 0 / cover'}" > -->
<div class="card-container" [ngClass]="(item._id !== 'none') ? 'logo-background' : 'empty-logo-background'" (click)="navigateTo(item)">
    <div [ngClass]="(item._id !== 'none') ? 'img-holder' : 'empty-img-holder'">
        <img class="mat-card-img" mat-card-image src="{{(item.bannerLogo) ? item.bannerLogo : '../../../../../assets/icons/AddProductIcon.svg'}}" alt="Microsoft" />
        <!-- <img class="mat-card-img" mat-card-image src="https://csg1003200209655332.blob.core.windows.net/images/1686158301-MicrosoftPowerApps.png" alt="Microsoft" /> -->
    </div>
    <ng-container *ngIf="item._id !== 'none'">
        <div class="text-holder">
            <span [style.color]="getColor(item.textClr)">{{item.name}}</span>
        </div>
    </ng-container>
    
</div>


