<!-- <div class="card-container" (click)="navigateTo(item)" [ngStyle]="{'background': 'url(' + item.bgImg + ') no-repeat 0 0 / cover'}" > -->
<!-- <ng-container *ngIf="productItem && productItem.length>0">
    <div class="card-container" [ngStyle]="{'background-color': (productItem._id === '0000') ? 'red' : 'blue' }" (click)="navigateTo(item)">
        <div [ngClass]="(productItem._id !== 'none') ? 'img-holder' : 'empty-img-holder'">
            <img class="mat-card-img" mat-card-image src="{{(productItem.bannerLogo) ? productItem.bannerLogo : '../../../../../assets/icons/AddProductIcon.svg'}}" alt="Microsoft" />
            
        </div>
        <ng-container>
            <div class="text-holder">
                <span [style.color]="getColor(productItem.textClr)">{{productItem.name}}</span>
            </div>
        </ng-container>
        
    </div>
</ng-container> -->


<!-- <div class="card-container" [ngClass]="(item._id === 'none') ? 'empty-logo-background' : 'logo-background'" (click)="navigateTo(item)"> -->

    <ng-container *ngIf="(item._id === null) ; else productsTemplate">
        <div class="card-container empty-padding empty-logo-background">
            <div class="">
                
                    <img class="mat-card-img" mat-card-image src="{{(item.bannerLogo) ? item.bannerLogo : '../../../../../assets/icons/AddProductIcon.svg'}}" alt="Microsoft" />
                
                
            </div>
            <div class="content-holder">
                Add Products to compare
            </div>
        </div>
    </ng-container>
    <ng-template #productsTemplate>
        <div class="card-container product-padding logo-background" (click)="navigateTo(item)">
            <div class="logo-holder">
                <div class="img-holder">
                    <img class="mat-card-img" mat-card-image src="{{(item.bannerLogo) ? item.bannerLogo : 'https://csg1003200209655332.blob.core.windows.net/images/1685441484-MicrosoftLogo_300X300.png'}}" alt="Microsoft" />
                </div>
                
            </div>
            <div class="content-holder">
                {{item.name}}
            </div>
        </div>
    </ng-template>





