<div class="table-container">

    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th class="feature-header"> Feature</th>
                    <ng-container *ngFor="let item of productVarients">
                                    
                        <th scope="" class="">
                            
                            <div class="card-header">
                                <div class="price-header">
                                    <span>{{item.name}}</span>
                                </div>
                                <div class="price-details">
                                    <div>Rs {{item.priceList[0].price}}</div>
                                    <div>{{item.priceList[0].priceType}}</div>
                                </div>
                                <!-- <div class="price-details" *ngIf="item.priceList.length != 0">
                                    <p class="price">Rs {{item.priceList[0].price}}</p>
                                    <p class="price-cost">{{item.priceList[0].priceType}}</p>
                                </div> -->
                            </div>
                                
                        </th>
                        

                    </ng-container>


                  </tr>
            </thead>
          
            <tbody>
                <ng-container *ngFor="let features of featureList">
                <tr>
                    
                    <td>{{features.name}}</td>
                    <ng-container *ngFor="let item of productVarients">
                        <ng-container *ngIf="item.featureListArray.includes(features._id) ; else notFoundBlock">
                            <td class="align-center">
                                <img class="image-icon" src="../../../assets/images/tick2.png">
                            </td>
                        </ng-container>
                        <ng-template #notFoundBlock>
                            <td class="align-center">
                                -
                            </td>
                        </ng-template>
                    </ng-container>
                    
                </tr>
            </ng-container>
            </tbody>
          
        </table>
      </div>
</div>

   

