.table-container{
    padding: 10px;
}




/* ----------------------------- */
.table{
    table-layout: fixed;
    width: auto !important;
    /* background: #F1F2FD; */
    border-spacing:30px 0px;
    
}




td{
    /* width: 60px; */
    /* padding: 10px 10px 10px 10px; */
    /* background: aqua; */
    
}





.td-style{
  
}



.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    /* width: 100%; */
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;

}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;

}

::-webkit-scrollbar {
    display: none;
}


/* Card Styles ------------ */
.pricing-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding:2%;
  }

  .card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    /* width: 30%; */
    margin-bottom: 30px;
  }
  
  .card-header {
    background-color: #F1F2FD;
    
    text-align: center;
    padding: 20px;
    width:300px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  }
  
  .card-body {
    padding: 10px;
  }
  
  .price {
    font-size: 1.8rem;
    margin-top: 5px;
  }

  .price-details {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.price-details span {
  font-weight: 400;
  margin-left: 5px;
}

  .price-header {
    text-align: center;
    font-size: 1 rem;
  }

  .price-cost {
    font-size: 0.8rem !important;
    color: #7E916C;
  }


  .align-center{
    text-align: center !important;
  }



  .feature-header{
    width:500px !important
  }


  .image-icon{
    width:25px;
    height: 25px;
  }

  td {
    width: 60px;
    background-color: #F1F2FD;
  }
  
  table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
  }

  .request-btn {
    background: linear-gradient(90deg, #A9383D 35.42%, #D58583 100%);
    border-radius: 8px;
    color: #FFFFFF;
    border: 1px solid #EFEFEF;
    height: 40px;
    width: 75%
}

 
