<div class="table-container">

    <div style="overflow-x:auto;" *ngIf="onLoad">
        <table class="table">
            <thead>
                <tr>
                    <th class="feature-header"></th>
                    <ng-container *ngFor="let item of productVarients">
                                    
                        <th scope="" class="">
                            
                            <div class="card-header">
                                <div class="price-header">
                                    <span>{{item.name ? item.name : ''}}</span>
                                </div>
                                <div class="price-details">
                                    <h5>
                                        $ {{item.priceList[0].price}}
                                    </h5>
                                    <span>
                                        {{item.priceList[0].priceType}}
                                    </span>
                                    <!-- <div>Rs {{item.priceList[0].price}}</div>
                                    <div></div> -->
                                </div>
                                <button class="btn request-btn" (click)="requestQuote(item)">Request quote</button>
                                <!-- <div class="price-details" *ngIf="item.priceList.length != 0">
                                    <p class="price">Rs {{item.priceList[0].price}}</p>
                                    <p class="price-cost">{{item.priceList[0].priceType}}</p>
                                </div> -->
                            </div>
                                
                        </th>
                        

                    </ng-container>


                  </tr>
            </thead>
          
            <tbody>
                <ng-container *ngFor="let features of featureList">
                <tr>
                    
                    <td>
                        <span class="feature-list-bold">
                            {{features.name ? features.name : ''}} :
                        </span> 
                        <span class="feature-list">{{features.description ? features.description : ''}}</span>
                        
                    </td>
                    <ng-container *ngFor="let item of productVarients">
                        <ng-container *ngIf="item.featureListArray.includes(features._id) ; else notFoundBlock">
                            <td class="align-center">
                                <img class="image-icon" src="../../../assets/icons/tickiconblue.svg">
                            </td>
                        </ng-container>
                        <ng-template #notFoundBlock>
                            <td class="align-center">
                                -
                            </td>
                        </ng-template>
                    </ng-container>
                    
                </tr>
            </ng-container>
            </tbody>
          
        </table>
      </div>
</div>

   

