.selected-products-header {
    /* margin-left: 2rem; */
    font-size: 15px;
    color: #7A7979;
    padding: 0.8rem;
    font-weight: 700;
}

.primary-btn {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 9rem;
    border-radius: 8px;
    background: var(--btn-gradient);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
  }
  

thead th{
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
   
    color: #343a40;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
    font-size: 15px;
    font-size: 15px;
}

tbody tr{
    background: #ffffff;
    color: #495057;
    transition: box-shadow 0.2s;
    font-size: 15px;
}

tbody td{
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem 1rem 0;
}

:host ::ng-deep .form-control{
    border : none !important;
}

.add-new-btn{
    padding: 0.8rem;
}

.btn-color{
    color: #DB553C;
}

.action-btn-holder{
    display: flex;
}

.primary-btn {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 9rem;
    border-radius: 8px;
    background: var(--btn-gradient);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
}