<div class="user-container">
    <div class="content">

        <form [formGroup]="myForm">
            <div class="select   mb-3 mt-2 ">
                <h3>Manage Channel</h3>
                <div class="section-01">
                    <label for="channelPartner">Select Channel<span style="color: red;"> * </span></label>


                    <select class="custom-select " (change)="changeChannelList($event)"
                        formControlName="channelPartner">
                        <option value="">...Select Channel...</option>
                        <option *ngFor="let channel of myChannels" [value]="channel.channelPartnerMaster._id">
                            {{channel.channelPartnerMaster.name}} 
                        </option>
                    </select>





                </div>
            </div>

            <div *ngIf="selectedAccountManagers.length>0">
                <h1>Channel Partner Users</h1>
            
                <div class="card oldUsers">
                    <p-table [value]="selectedAccountManagers" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="false"
                        [rows]="15" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>User Name</th>
                                <th>Email ID</th>
                                <th>Mobile Number</th>
                                <th>Role</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-accountManager let-i="rowIndex">
                            <tr>
                                <td>{{ accountManager.firstName }}</td>
                                <td>{{ accountManager.email }}</td>
                                <td>{{ accountManager.mobileNumber }}</td>
                                <td>{{ accountManager.role }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
            
                </div> 
            
            </div>
            

          

            <div class="user-invite-card">
                <h1>Add Channel Partner User</h1>
               
                <div class="radio-btn"> 
                    <div class="content-select">
                        <input type="checkbox" formControlName="isAdmin" class="form-check d-inline" id="chb">
                        <div for="chb" class="form-check-label">
                            <h4 class="radio-style">Add as Admin?</h4>
                        </div>
                    </div>
    
                    <!-- <div class="content-select">
                        <p-radioButton name="pizza" (onClick)="radioClick()" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="addAdminOption" value="new" inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">
                            <h4 class="radio-style">Add New User</h4>
                        </label>
                    </div> -->
    
                    <!-- <div class="content-select">
                        <p-radioButton name="pizza" (onClick)="radioClick()" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="addAdminOption" value="existing" inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">
                            <h4 class="radio-style">Add Existing User</h4>
                        </label>
                    </div> -->
                    <!-- </div> -->
                </div>
                <!-- <ng-container *ngIf="(addAdminOption === 'new') ; else existingUserTemplate"> -->
                <ng-container>
                    <div class="address-row">
                        <ng-container *ngIf="(addAdminOption === 'new'); else userSelect">
                            <div class="col-sm-6 form-group">
                                <label for="userName">FirstName<span style="color: red;"> * </span></label>
                                <input formControlName="userName" type="address" class="form-control-01" name="userName"
                                    id="userName" placeholder="Enter FirstName" required>
                            </div>
                        </ng-container>
                        <ng-template #userSelect>
                            <div class="label">
    
                            </div>
                            <div class="col-sm-6 form-group  d-flex align-item-center flex-column">
                                <label>Select User<span style="color: red;">*</span></label>
    
                                <select class="custom-select" (change)="onDropDownChange($event)">
    
                                    <option value="">--Select User--</option>
                                    <option *ngFor="let user of usersList" [value]="user._id">{{user.firstName}}</option>
                                </select>
    
    
    
    
                            </div>
                        </ng-template>
    
                        <div class="col-sm-6 form-group">
                            <label for="address-2">Email Id<span style="color: red;"> * </span></label>
                            <input formControlName="EmailId" type="address" class="form-control-01" name="EmailId"
                                id="address-2" placeholder="Enter EmailId" required>
                            <div class="error" *ngIf="myForm.get('EmailId').hasError('email')">Please enter valid email address</div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Phone <span style="color: red;"> * </span></label>
                            <input formControlName="phoneNo" type="number" class="form-control-01" name="phoneNo"
                                id="phoneNo" placeholder="Enter Phone Number" >
                                <div class="error" *ngIf="myForm.get('phoneNo').hasError('pattern')">Please enter valid Phone</div>
                        </div>
                    </div>
                </ng-container>
    
                <div *ngIf="submitErrorMessage">
                    <p class="error">* Please Fill Mandatory - Name ,EmailI d , Mobile </p>
                </div>
                <div *ngIf="CPError">
                    <p class="error">Please Select Channel Partner</p>
                </div>
                <div class="modal-footer">
                    <ng-container>
                        <button onclick="history.back()" class="backBtnDiv mr-4 btn secondary-btn">
                            Go Back
                        </button>
                        <button class="btn  primary" (click)="submitForm()">Invite User</button> 
                        <!-- <div onclick="history.back()" class="backBtnDiv ml-4">
                            <img src="../../../../assets/icons/arrow-right.svg" class="backBtn">Go Back
                        </div>  -->
                    </ng-container>
                </div>
            </div>
    
                <div class="row" *ngIf="showMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong>Channal Partner User Added Successfully !</strong>
    
                        </p>
                    </div>
                </div>

    
                <div class="row" *ngIf="duplicate">
                    <div class="col-xs-12">
                        <p class="alert alert-danger">
                            <strong>Channal Partner User Already Assigned !</strong>
    
                        </p>
                    </div>
                </div>
            
           
        </form>
    </div>
</div>