.toolbar-holder{
    display: flex;
    flex-direction: row;
    width:100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.menu-holder{
    width:100%;
    height: 46px;
}

.toolbar{
    background-color: var(--primary);
    
    justify-content: center;
    height: 46px;
}

button{
    padding-right: 2em;
    /* margin-left: 24px; */
}

button i {
    margin-left: 0.6em;
    color: #686A77;
}

.mat-mdc-menu-item.mdc-list-item {
    border-bottom: 2px solid var(--primary) !important;
    padding-bottom: 4px;
    width: 225px;
}

.mat-mdc-menu-item.mdc-list-item:last-child {
    border-bottom: none !important
}

.menu-width {
    width: 400px !important;
}

.menu-icon-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary);
    padding-left: 16px;
    cursor: pointer;
}

.mat-icon-size{
    font-size: 24px !important;
    height: auto !important;
    width: auto !important;
    background-color: var(--primary);
    padding-left: 10px;
}


@media (min-width:320px) and  (max-width: 480px) {
    .menu-icon-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        padding-left: 16px;
        cursor: pointer;
        padding-top: 7px;
    }
    button{
        padding-right: 2em;
        /* margin-left: 24px; */
        /* display: none; */
    }
    button i {
        margin-left: 0.6em;
        color: #686A77;
        display: none;
    }

.text-normal {
    font-family: 'Lato', sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: #686A77;
    padding-top: 0;
}
.menu-holder{
    width:85%;
    height: 46px;
}
}