<mat-toolbar color="var(--primary)" class="toolbar">
    <button mat-button [matMenuTriggerFor]="aboveMenu">
        ALL CATEGORIES
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
        <mat-menu #aboveMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">
        ALL BRANDS
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">
        COMPARE PRODUCT
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
        <mat-menu #beforeMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">
        OFFER
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
        <mat-menu #afterMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
</mat-toolbar>
  