<div class="signup-container">
  <div class="logo">
    <img class="skysecure-logo" src="../../assets/Logos/skysecureLogo.png">
</div>
  <div (click)="navigateToLogin()">
    <div class="back-btn"><img src="../../../../assets/icons/arrow-right.svg"></div>
  </div>
  <div class="heading"><h1>Sign up to begin !</h1></div>


  <ng-container *ngIf="emailFormFlag">
    <div class="register-form">
      
      <form [formGroup]="formEmail">
          <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                placeholder="john@xyz.com "
                class="form-control"
                [ngClass]="{ 'is-invalid': submittedEmail && f2.email.errors }"
              />
              <div *ngIf="submittedEmail && f2.email.errors" class="invalid-feedback">
                <div *ngIf="f2.email.errors.required">Email is required</div>
                <div *ngIf="f2.email.errors.email">Email is invalid</div>
              </div>
            </div>

            <div *ngIf= "otpField" class="form-group">
              <label>OTP</label>
              <input
                type="text"
                formControlName="otp"
                placeholder="Enter OTP"
                class="form-control"
              />
            </div>
        




  <div class="forgot-pwd">
          
        </div>
        <div class="buttons">
          <ng-container *ngIf="emailExisitAlert">
            <div class="signin-btn">
              <button (click)="signIn()" class="primary-btn">Sign In</button>
            </div>
            
          </ng-container>
          <ng-container *ngIf="enableOTPButton">
          <div class="signin-btn" >
            <!-- <button type="submit" class="primary-btn">Send OTP</button> -->
            <button type="submit" (click) = "onSubmitEmail()" class="primary-btn" >Send OTP</button>
          </div>
          <div class="cancel-btn">
            <button (click)="navigateToLogin()" class="secondary-btn">Back</button>
          </div>
        </ng-container>
        </div>

        <div *ngIf="inValidOTP" class="new-email-alert">
          Invalid OTP; Please Enter Correct OTP 
         </div>
         <div *ngIf="emailExisitAlert" class="new-email-alert">
          The email already exist. Please proceed with Login. 
          
        </div>

          <div class="buttons">
        
          <ng-container *ngIf="enableSignInButton">
            <div class="signin-btn">
              <button (click)="validateOTP()" class="primary-btn">Sign up</button>
            </div>
         
            <div class="cancel-btn">
              <button (click)="navigateToLogin()" class="secondary-btn">Back</button>
            </div>
          </ng-container>
          </div>
        

      </form>
    </div>
  </ng-container>





<ng-container *ngIf="signUpFormFlag">


    <div class="register-form">
        <form [formGroup]="form">

          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              placeholder="john@xyz.com"
              class="form-control"
              [value] = "validatedEmail"
            />
          </div>

          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstName"
              placeholder="John"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
      
          
      

      
          <!-- <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              placeholder="Type here..."
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Secure your account with atleast 6 characters
              </div>
              <div *ngIf="f.password.errors.maxlength">
                Password must not exceed 40 characters
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="..........."
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
            />
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.matching">
                Confirm Password does not match
              </div>
            </div>
          </div> -->


          <!-- Company Name-->
          <div class="form-group">
            <label>Company Name</label>
            <input
              type="text"
              formControlName="companyName"
              placeholder="Your Company Name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }"
            />
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
              <div *ngIf="f.companyName.errors.required">Compnay Name is required</div>
            </div>
          </div>

          <!-- Mobile Number-->
          <div class="form-group">
            <label>Mobile Number</label>
            <input
              type="text"
              formControlName="mobileNumber"
              placeholder="10 Digit MobileNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }"
            />
            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
              <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
            </div>
          </div>
      
          
      
          <div class="form-group">
            <div class="btns">

              <button (click)="onSubmit()" class="btn btn-primary">Register</button>
            <button type="button" (click)="onReset()" class="btn btn-warning float-right" > Reset </button>
            </div>
            
          </div>
        </form>
      </div>

    </ng-container>


      

</div>
