.signup-container{
    display: flex;
    padding: 10%;
    flex-direction: column;
    row-gap: 20%;
}
.back-btn{
    padding-top: 0px;
    padding-left: 0;
    margin-top: -45px;
    margin-left: -35px;
    cursor: pointer;
}
.heading{
    font-family: 'lato',sans-serif;
    padding: 6% 0 0 0;
   
}
h1{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'lato',sans-serif;
    text-align: center;
}
label{
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
}
input{
    box-sizing: border-box;
    border: 2px solid #918F90;
    border-radius: 8px;
    padding: 7px;
    width: 90%;
    /* border: none; */
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 7px;
    font-family: 'lato',sans-serif;
}
.btns{
    display: flex;
    flex-direction: row;
column-gap: 10px;
}
.btn-primary{
    box-sizing: border-box;
    border: none;
    background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%));
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: 10%;
    font-family: 'lato',sans-serif;
    margin-top: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.signin-btn{
    text-align: center;
}

.primary-btn{
    margin-top: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.float-right{
    box-sizing: border-box;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding: 5px;
    width: 35%;
    /* margin-left: 35%; */
    font-family: 'lato',sans-serif;
    margin-top: 25px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.logo{
    display: none;
}
.skysecure-logo {
    height: 50px;
}
.cancel-btn{
    display: none;
}
.new-email-alert{
    font-size: .875em;
    
    color: #b02a37;
    padding-left: 0%;
    padding-top: 4%;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.policyaggrement{
    font-size: .680em;
    
    color: grey;
    padding-left: 0%;
    padding-top: 4%;
    text-align: center;

}
/* media query */
@media  ( min-width: 1024px) and (max-width: 1200px)  {
    .back-btn{
        padding-top: 0px;
        padding-left: 0;
        margin-top: 0px;
        margin-left: -35px;
        cursor: pointer;
    }
    .new-email-alert{
        font-size: 12px;
        color: #b02a37;
        padding-left: 0%;
        padding-top: 4%;
        text-align: center;
    }
}

@media  ( min-width: 770px) and (max-width: 1024px)  {
    input{
        box-sizing: border-box;
        border: 2px solid #918F90;
        border-radius: 8px;
        padding: 7px;
        width: 95%;
        /* border: none; */
    }
    .form-group{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 7px;
        font-family: 'lato',sans-serif;
    }
    .btn-otp{
        box-sizing: border-box;
        border: none;
        background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%));
        border-radius: 5px;
        padding: 5px;
        width: 50%;
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .back-btn{
        padding-top: 40px;
        padding-left: 0;
        margin-top: -45px;
        margin-left: -25px;
        cursor: pointer;
        display: none;
    }
    .skysecure-logo {
        height: 50px;
        margin-top: 10px;
    }
    .logo{
        display:inline;
        text-align: center;
        background-color: #080F24;
        height: 70px;
    }
    .signup-container{
        display: flex;
        padding: 0%;
        flex-direction: column;
        row-gap: 20%;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* column-gap: 15px; */
    }
    .signin-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
    .cancel-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
    
    .primary-btn{
        box-sizing: border-box;
        border: none;
        /* background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%)); */
        border-radius: 5px;
        padding: 5px;
        width:100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-left: 0%;
    }
    
    .secondary-btn{
        box-sizing: border-box;
        border: 1px solid  #080F24;
        background-color: transparent;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color:  #080F24;
        font-size: 15px;
        cursor: pointer;
    }
}

@media  ( min-width: 481px) and (max-width: 770px)  {

    input{
        box-sizing: border-box;
        border: 2px solid #918F90;
        border-radius: 8px;
        padding: 7px;
        width: 95%;
        /* border: none; */
    }
    .form-group{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 7px;
        font-family: 'lato',sans-serif;
    }
    .btn-otp{
        box-sizing: border-box;
        border: none;
        background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%));
        border-radius: 5px;
        padding: 5px;
        width: 50%;
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .back-btn{
        padding-top: 40px;
        padding-left: 0;
        margin-top: -45px;
        margin-left: -25px;
        cursor: pointer;
        display: none;
    }
    .new-email-alert{
        font-size: 12px;
        color: #b02a37;
        padding-left: 0%;
        padding-top: 4%;
        text-align: center;
    }
    .skysecure-logo {
        height: 50px;
        margin-top: 10px;
    }
    .logo{
        display:inline;
        text-align: center;
        background-color: #080F24;
        height: 70px;
    }
    .signup-container{
        display: flex;
        padding: 0%;
        flex-direction: column;
        row-gap: 20%;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* column-gap: 15px; */
    }
    .signin-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
    .cancel-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
   
    .primary-btn{
        box-sizing: border-box;
        border: none;
        /* background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%)); */
        border-radius: 5px;
        padding: 5px;
        width:100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-left: 0%;
    }
    
    .secondary-btn{
        box-sizing: border-box;
        border: 1px solid  #080F24;
        background-color: transparent;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color:  #080F24;
        font-size: 15px;
        cursor: pointer;
    }
    
}
@media  ( min-width: 320px) and (max-width: 480px)  {
    input{
        box-sizing: border-box;
        border: 2px solid #918F90;
        border-radius: 8px;
        padding: 7px;
        width: 95%;
        /* border: none; */
    }
    .form-group{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 7px;
        font-family: 'lato',sans-serif;
    }
    .btn-otp{
        box-sizing: border-box;
        border: none;
        background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%));
        border-radius: 5px;
        padding: 5px;
        width: 50%;
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .back-btn{
        padding-top: 40px;
        padding-left: 0;
        margin-top: -45px;
        margin-left: -25px;
        cursor: pointer;
        display: none;
    }
    .new-email-alert{
        font-size: 12px;
        color: #b02a37;
        padding-left: 0%;
        padding-top: 4%;
        text-align: center;
    }
    .skysecure-logo {
        height: 50px;
        margin-top: 10px;
    }
    .logo{
        display:inline;
        text-align: center;
        background-color: #080F24;
        height: 70px;
    }
    .signup-container{
        display: flex;
        padding: 0%;
        flex-direction: column;
        row-gap: 20%;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        /* column-gap: 15px; */
    }
    .signin-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
    .cancel-btn{
        display: flex;
        width: 40%;
        margin: 5%;
    }
   
    .primary-btn{
        box-sizing: border-box;
        border: none;
        /* background: var(--button-primary, linear-gradient(180deg, #038 0%, #4A86EA 100%)); */
        border-radius: 5px;
        padding: 5px;
        width:100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        /* color: white; */
        font-size: 15px;
        cursor: pointer;
        margin-left: 0%;
    }
    
    .secondary-btn{
        box-sizing: border-box;
        border: 1px solid  #080F24;
        background-color: transparent;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        /* margin-left: 35%; */
        font-family: 'lato',sans-serif;
        margin-top: 25px;
        color:  #080F24;
        font-size: 15px;
        cursor: pointer;
    }
}

:host ::ng-deep   .otp-input   {
    margin-right: 16px !important;
}
 
:host ::ng-deep .otp-input{
    font-size: 14px;
}
.resend{
    text-align: center;
    padding-top: 20px;
}
.re-OTP{
    color: #b02a37;
    cursor: pointer;
    text-decoration: none;
}
:host ::ng-deep  .ng-otp-input-wrapper .otp-input {
    margin-right: 16px !important;
    font-size: 20px !important;
} 

.error-message {
    font-size: 13px;
    color: rgb(146, 5, 5);
}