<div class="signup-container">
  <div class="logo">
    <img class="skysecure-logo" src="../../assets/Logos/skysecureLogo.png">
</div>
  <div (click)="navigateToLogin()">
    <div class="back-btn"><img src="../../../../assets/icons/arrow-right.svg"></div>
  </div>
  <div class="heading"><h1>Sign up to begin !</h1></div>


  <ng-container *ngIf="emailFormFlag">
    <div class="register-form">
      <form [formGroup]="formEmail" >
        <div class="form-group">
          <label for="emailOrMobile">Email or Mobile Number <span class="mandatory"> * </span></label>
          <input type="text" class="form-control" id="emailOrMobile" 
          formControlName="emailOrMobile" 
          placeholder="Enter Email or Whatsapp Number"
          
          >
          <!-- <div *ngIf="signupForm.get('emailOrMobile').hasError('invalidEmailOrMobile') && signupForm.get('emailOrMobile').touched">
            <div class="alert alert-danger">
              Please enter a valid email or a 10-digit mobile number.
            </div>
          </div> -->
          <div >
            
            <div *ngIf="submittedEmail && this.formEmail.get('emailOrMobile').hasError('required')" class="error-message">Email/Mobile Number is required</div>
            <div *ngIf="!this.formEmail.get('emailOrMobile').hasError('required') && this.formEmail.get('emailOrMobile').invalid" class="error-message">Enter valid Email/Mobile</div>
          </div>
        </div>
        
      <!-- </form>
    
          <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                formControlName="email"
                placeholder="john@xyz.com "
                class="form-control"
                [ngClass]="{ 'is-invalid': submittedEmail && f2.email.errors }"
              />
              <div *ngIf="submittedEmail && f2.email.errors" class="invalid-feedback">
                <div *ngIf="f2.email.errors.required">Email is required</div>
                <div *ngIf="f2.email.errors.email">Email is invalid</div>
              </div>
            </div> -->
        
            <div *ngIf= "otpField" class="form-group">
              <label>OTP</label>
            
              <ng-otp-input  
                #ngOtpInput 
                
               
                (onInputChange)="onOtpChange($event)"
                *ngIf="showOtpComponent"
                [config]="config"
                
              ></ng-otp-input>
            </div>
        




  <div class="forgot-pwd">
          
        </div>
        <div class="buttons">
          <ng-container *ngIf="emailExisitAlert">
          
            <div class="signin-btn">
              <button (click)="signIn()" class="btn primary-btn">Sign In</button>
            </div>
            
          </ng-container>
          <ng-container *ngIf="enableOTPButton">
            
          <div class="signin-btn" *ngIf="!spinnerFlag">
            
            <button type="submit" (click) = "onSubmitEmail()" class="btn primary-btn" >Send OTP</button>
          </div>
          <ng-container *ngIf="spinnerFlag">
            <div class="signin-btn" style="margin-top: 10px;display: flex;justify-content: center;">
              <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
            </div>
          </ng-container>
          <div class="cancel-btn">
            <button (click)="navigateToLogin()" class="btn secondary-btn">Back</button>
          </div>
        </ng-container>
        </div>

        <div *ngIf="inValidOTP" class="new-email-alert">
          Invalid OTP; Please Enter Correct OTP 
         </div>
         <div *ngIf="emailExisitAlert" class="new-email-alert">
          The email/Mobile already Registered. Please proceed with Login. 
          
        </div>
        <div *ngIf="invalidDomain" class="new-email-alert">
          Please Sign-up with Business Email 
          
        </div>

          <div class="buttons">
        
          <ng-container *ngIf="enableSignInButton">
           
           <div class="resend" *ngIf="!isResend" >
            <span>{{display}}  <a class="re-OTP" >Seconds Left</a></span>
         </div>
         <div class="resend" *ngIf="isResend" >
          <span>{{display}}  <a class="re-OTP" (click)="onSubmitEmail()">Resend OTP</a></span>
       </div>
       <div class="disclaimer" *ngIf="isMobile">
        * Please Enter Valid Whatsapp Number To Recieve OTP.
       </div>
        
            <div class="signin-btn">
              <button (click)="validateOTP()" class="btn primary-btn">Sign up</button>
            </div>
         
            <div class="cancel-btn">
              <button (click)="navigateToLogin()" class="btn secondary-btn">Back</button>
            </div>
          </ng-container>
          </div>
        

      </form>
    </div>
  </ng-container>





<ng-container *ngIf="signUpFormFlag">


    <div class="register-form">
        <form [formGroup]="form" >

          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              placeholder="john@xyz.com"
              class="form-control"
              [value] = "validatedEmail"
            />
          </div>

          <div class="form-group">
            <label> Name<span class="mandatory"> * </span></label>
            <input
              type="text"
              formControlName="firstName"
              placeholder="John"
              class="form-control"
            
            />
          <!--[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
             <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Oops! You forgot to provide your First Name</div>
            </div> -->
          </div>
      
          
      

      
          

          <!-- Company Name-->
          <!-- <div class="form-group">
            <label>Company Name</label>
            <input
              type="text"
              formControlName="companyName"
              placeholder="Your Company Name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }"
            />
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
              <div *ngIf="f.companyName.errors.required">Oops! You forgot to provide your Company Name.</div>
            </div>
          </div> -->

          <!-- Company Name Dropdown -->
          <!-- <div class="form-group">
            <label>Company Name</label>
            <input 
              [ngModelOptions]="{standalone: true}"
              list="id-car" 
              [(ngModel)]="selectedCar" 
              value="{{(selectedCarObj && selectedCarObj.length>0)  ? selectedCarObj.company : ''}}"
              (ngModelChange)="onChange()">
            <datalist id="id-car" >
              <option  *ngFor="let car of myCustomers" [value]="car.company">{{car.company}}</option>
            </datalist>

          </div> -->

          <div class="form-group">
            <label for="companyInput">Company Name <span class="mandatory"> * </span></label>
          
            <div class="card flex justify-content-center">
             
              <p-autoComplete 
               
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="selectedCompanyName" 
                [forceSelection]="false" 
                [suggestions]="companyListArray" 
                (completeMethod)="filterCompany($event)" 
                [style]="{'width':'100%'}" 
                [inputStyle]="{'width':'100%'}"
                field="company">
              </p-autoComplete>
             

           
              
            </div>
          
          </div>  
          

          <!-- Mobile Number-->
          <div class="form-group">
            <label>Mobile Number</label>
            <input
              type="number"  ng-maxlength="5"
              formControlName="mobileNumber"
              placeholder="Enter your Whatsapp Number"
              class="form-control"
             
              maxlength="10" 
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              
              />
            <!-- <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
              <div *ngIf="f.mobileNumber.errors.required">Oops! You forgot to provide your Mobile Number.</div>
              <div *ngIf="form.controls.mobileNumber.errors.pattern">Mobile Number must start with 6, 7, 8, or 9 digits only.</div>
              
            </div> -->
          </div> 
 
          
      
          <div class="form-group">
            <div *ngIf="isSignupError" class="new-email-alert">
              The Email or Mobile Number Already exists. Please Try Again. 
            </div>

            <!-- <div *ngIf="submitted && form.get('selectedCompanyName').hasError('required') " class="invalid-feedback">
              <div>Please Enter CompanyName</div>
            
          </div> -->
            <div *ngIf="isCompanyError">
              <div class="error-message commonError">Please Fill Mandatory Fields</div>
            </div>
            <div class="btns">

              <button (click)="onSubmit()" class="btn btn-primary">Register</button>
              <button type="button" (click)="onReset()" class="btn btn-warning float-right" > Reset </button>
            </div>
            
          </div>
        </form>
        <div class="policyaggrement">Upon signing up, you acknowledge and accept  <a href='https://shop.skysecuretech.com/company/terms' style="text-decoration:none">Skysecure Terms & Conditions</a> and <a href='https://shop.skysecuretech.com/company/privacy' style="text-decoration:none">Privacy Policy</a></div>
      </div>

    </ng-container>


      

</div>
