<div class="all-accounts-view">
    <div class="card">
        <p-table 
            [value]="allMarketPlaceList" 
            [tableStyle]="{ 'min-width': '60rem' }"
          
           
           
        
            >
            <!-- [rowsPerPageOptions]="[10, 25, 50]" -->
            <ng-template pTemplate="header">
                <tr class="thfont">
                    <th>Cart Id</th>
                    <th>Customer Name</th>
                    <th>Customer Company</th>
                    <th>Customer Phone</th>
                    <th>Created On</th>
                    <th>Status</th>
                     <!-- <th>Place of Supply</th> -->
                    <th>Assigned Partner</th>
                    <th>Last Updated Date</th>
                    <th>Estimate No.</th>
                    <th>Value</th>


              
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="body" let-account let-i="rowIndex">
                <tr>
                    <td>
                        <div class="text-style" (click)="getAccountById(account)">
                            {{ account.id }}
                        </div>
                        
                    </td>
                    <td>{{ account.Owner.name }}</td>
                    <td>{{ account.Account_Name }}</td>
                    <td>{{ account.Account_Type }}</td>
                    <td>
                        
                        <div class="btn-holder">
                            <button id="assign-btn" class="btn" (click)="assign(account, i)">Assign</button>
                        </div>
                    </td>
                </tr>
            </ng-template> -->

            <ng-template pTemplate="body" let-account let-i="rowIndex">
                <tr class="trfont">
                    <td>
                        <div class="text-style" (click)="getAccountById(account.cartData._id)">
                            {{ account.cartData.cart_ref_id }}
                        </div>
                        
                    </td>
                    <td>{{ account.createdFor.firstName }}</td>
                    <td>{{ account.createdFor.company}}</td>
                    <td>{{ account.createdFor.mobileNumber }}</td>
                    <td>{{ account.cartData.createdAt | dateFormat }}</td>
                    <td>{{ account.cartData.status }}</td>
                   
                    <!-- <td>{{ account.createdFor.placeOfSupply}}</td> -->
                    <td>
                        <ng-container *ngIf="account?.assignedChannalpartner; else noValuecp1">
                        {{ account?.assignedChannalpartner.channelPartner?.name }} 
                          </ng-container>
                          <ng-template #noValuecp1>-</ng-template>
                     </td> 
                     <td>
                        <ng-container *ngIf="account?.cartData?.assignedChannelPartnerId; else noValuecp">
                        
                            {{ account?.cartData.leadUpdatedDate | dateFormat }}
                          </ng-container>
                          <ng-template #noValuecp>-</ng-template>
                     </td> 

                    <td>
                        <ng-container *ngIf="account.zohoBookEstimateData.estimate_number; else noValue">
                            {{ account.zohoBookEstimateData.estimate_number }}
                          </ng-container>
                          <ng-template #noValue>-</ng-template>
                     </td> 
                    <!-- <td>{{ account.zohoBookEstimateData.estimate_number }}</td> -->
                    <td>
                        <ng-container *ngIf="account.zohoBookEstimateData.totalEstimateCost; else cartValue">
                            {{ account.zohoBookEstimateData.totalEstimateCost }}
                          </ng-container>
                          <ng-template #cartValue>{{account.TotalCartValue}}</ng-template>
                        
                        
                      
                    
                    </td>
                   
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template> -->
            <!-- <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template> -->
        </p-table>
    </div>
</div>
