
<div class="container">
    <div class="text-header">
        Quotation History
    </div>

    <!-- If Cart is Empty -->

    <!-- If Cart items is present -->
    <ng-container *ngIf="quotationListFlag === 'Y' ; else noQuotationList">
        <div>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Request ID</th>
                    <th scope="col">Date of Request</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <!-- <th scope="col">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  
                  <ng-container *ngFor="let item of quotationList">
                    <tr>
                      <th scope="row">{{item.requestId}}</th>
                      <td>{{item.closingDate ? item.closingDate : ''}}</td>
                      <td>{{item.name ? item.name : ''}}</td>
                      <td>{{item.quantity ? item.quantity : ''}}</td>
                      <!-- <td>
                        <button class="notify-button">
                          Notify
                        </button>
                      </td> -->
                    </tr>
                  </ng-container>
                  <!-- <tr>
                    <th scope="row">123456789</th>
                    <td>02/12/2022</td>
                    <td>Microsoft</td>
                    <td>200</td>
                    <td>
                      <button class="notify-button">
                        Notify
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">123456789</th>
                    <td>02/12/2022</td>
                    <td>Microsoft</td>
                    <td>200</td>
                    <td>
                      <button class="notify-button">
                        Notify
                      </button>
                    </td>
                  </tr> -->
                </tbody>
              </table>
        </div>
    </ng-container>
    <ng-template #noQuotationList>
      <div class="empty-container">
        <div>
          <img class="success-state-img" src="../../../../../assets/images/emptystage.svg" alt="home">
        </div>
        <div class="text-header">
          No Quotations found at this moment !
        </div>
      </div>
    </ng-template>
</div>