
<div class="container">
    <div class="text-header">
        Quotation History
    </div>

    <!-- If Cart is Empty -->

    <!-- If Cart items is present -->
    <ng-container>
        <div>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Request ID</th>
                    <th scope="col">Date of Request</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">123456789</th>
                    <td>02/12/2022</td>
                    <td>Microsoft</td>
                    <td>200</td>
                    <td>
                      <button class="notify-button">
                        Notify
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">123456789</th>
                    <td>02/12/2022</td>
                    <td>Microsoft</td>
                    <td>200</td>
                    <td>
                      <button class="notify-button">
                        Notify
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">123456789</th>
                    <td>02/12/2022</td>
                    <td>Microsoft</td>
                    <td>200</td>
                    <td>
                      <button class="notify-button">
                        Notify
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </ng-container>
</div>