.all-accounts-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    font-size: 8px!important;
}

.text-style{
    cursor: pointer;
   
}
.quote-list{
    width: 75%;
    margin-left: 8rem;
}
/* #assign-btn {
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid #EFEFEF;
    color: white;
    margin: 6px;
    width: 80px;
    border-radius: 8px;
    background: var(--dark-violet, linear-gradient(90deg, #888BCB 0%, #383DA9 100%));
    
} */

.primary-btn{
    padding: 7px;
    margin: 6px;
    width: 80px;
    border-radius: 8px;
}

.thfont{
    font-size: 13px!important;  
}
.trfont{
    font-size: 13px!important;  
}

.nodata{
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: 24px;
    font-weight: bolder;
   min-height: 30em;
}
.no-img{
    width: 300px;
    height: 300px;
  
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gst{
    font-size: 9px;
}

/* media-query */


@media  ( min-width: 1920px) and (max-width: 2560px) {
    .quote-list {
        width: 60%;
        margin-left: 20%;
    }
    :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
        text-align: center;
        padding: 1rem 1rem;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        font-weight: 700;
        color: #343a40;
        background: #f8f9fa;
        transition: box-shadow 0.2s;
        font-size: 16px;
    }
    .text-style {
        cursor: pointer;
        color: #3366CC;
        font-size: 16px;
    }
    :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
        text-align: center;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        padding: 1rem 1rem;
        font-size: 16px;
    }
}