<div class="my-customers-view">
    <ng-container *ngIf="(ProductReviewsData && ProductReviewsData.length>0) ; else noDataFound">
        <div class="card">
            <p-table 
                [value]="ProductReviewsData" 
                [tableStyle]="{ 'min-width': '60rem' }"
                [paginator]="true"
                [rows]="15"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
 >
                
                <ng-template pTemplate="header">
                    <tr class="thfont">
                        <th>Customer Name</th>
                        <th>Email-Id</th>
                        <th>Company Name</th>
                        <th>Role</th>
                        <!-- <th>Product Name</th> -->
                        <th>Overall Rating</th>
                        <!-- <th></th> -->

                    </tr>

                    
                </ng-template>
                
    
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr class="trfont text-style" >
                        <!-- <td > -->
                            <!-- {{i+1}} -->
                            <!-- <div  (click)="getCustomersById(customer.zohoBooksCustomerId)">
                                
                            </div> -->
                            
                        <!-- </td> -->
                        <td>{{item.userName}}</td>
                        <td>{{item.email}}</td>
                        <!-- <td>{{item.email}}</td> -->
                        <td>{{item.organizationName}}</td>
                        <td>{{item.jobTitle}}</td>
                        <!-- <td>{{item.productId}}</td> -->
                        <td>{{item.overAllRating}}</td>
                        
                    </tr>
                </ng-template>
                
            </p-table>
        </div>

    </ng-container>

    <ng-template #noDataFound>
        <div class="nodata"  >
            <p>No data found !</p>
            <img class="no-img" src="../../../../../assets/images/nodata.jpg">
        </div>
    </ng-template>
</div>

