<ng-container *ngIf="(productFamilyVariants && productFamilyVariants.length>0) ; else productTemplate">
    <div class="product-varient-container">
        <ng-container *ngFor="let item of productFamilyVariants">
            <div class="product-varient-bundle">
                <div class="product-varient-header">
                    <div class="header-text">
                        {{item.name}}
                    </div>
                    <div class="btn-holder">
                        <button class="btn request-btn" (click)="requestQuote(item)">Request quote</button>
                    </div>
                    
                </div>
                <div class="product-varient-content">
                    <ng-container *ngFor="let cardItem of item.products">
                        <brand-card-flyer [item] = "cardItem"></brand-card-flyer>
                    </ng-container>
                    <ng-container *ngFor="let cardItem of item.productsVariants">
                        <brand-card-flyer [item] = "cardItem"></brand-card-flyer>
                    </ng-container>
                    
                </div>
                
            </div>
        </ng-container>
        
    </div>
</ng-container>
<ng-template #productTemplate>
    <div class="brand-bundle-container">
        <div class="product-header">
            <div class="header-text">
                <span>
                    {{headerText}}
                </span>
            </div>
            <div class="btn-holder">
                <button class="btn request-btn single-product" (click)="requestQuote(productFamily)">Request quote</button>
            </div>

        </div>
        <div class="product-content">
            <div class="card-holder">
                <ng-container *ngFor="let item of cardItems">
                    <brand-card-flyer [item] = "item"></brand-card-flyer>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

