.brand-bundle-container{
    display: flex;
    flex-direction: column;

    row-gap: 0.6em;
    padding: 1em;
}
.product-header {
    background: var(--white);
    text-align: center;
    width:100%;
    border-radius: 10px;
    padding: 1em;
    
}

.product-content {
    background: var(--white);
    text-align: center;
    width:100%;
    border-radius: 10px;
    padding: 1em;
}

.header-text{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: var(--text-dark);
    overflow: hidden;
}

.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}