.invite-container{
    display: flex;
    flex-direction: column;
    width: 100%;
font-family: 'lato',sans-serif;
padding: 20px 0 20px 0;

}
h1{
    font-size: 18px;
font-weight: bold;
text-align: center;

}
.invite-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}
.customer-chck{
    font-size: 13px;
    padding-top: 10px !important;
    font-weight: 600;
    padding-bottom: 2px;
}
.forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.forms-01{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 15%;
}
.forms-02{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 85%;
}
label{
    font-size: 12px;
}

input{
    /* width: 50%; */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}
.forms-01 select{
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}

select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
}

.mobile-field{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}
.mobile{
    /* width: 39%; */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}
.mobile-input {
    margin-left: 32px;
}
.button{
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    column-gap: 10px;
}

.messgae-holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.message-content{
    width:40%;
}

.error-message {
    font-size: 13px;
    color: rgb(146, 5, 5);
}

.fetchgst {
    margin: 18px 0 0 0px;
}

.primary-btn {
    padding: 8px;
}
.check-cont{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}
.row-01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: space-between;
}

