<div class="invite-container">
    <h1>Invite User</h1>
    <div class="invite-content">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="forms">
                <label for="firstname">FirstName</label>
                <input type="text" id="firstName" name="firstName" formControlName="firstName" placeholder="Enter the FirstName">
              
              </div>
              <div class="forms">
                <label for="lastName">LastName</label>
                <input type="text" id="lastName" name="lastName" formControlName="lastName" placeholder="Enter the lastName">
              
              </div>

            <div class="forms">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" formControlName="email">
              <div *ngIf="myForm.get('email').invalid && myForm.get('email').touched" class="error-message">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mobile-field">
                <div class="forms-01" >
                    <label for="cod">Country code</label>
                    <select class="form-control browser-default custom-select">
                      <option data-countryCode="IN" value="44">IN (+91)</option>
                      <option data-countryCode="US" value="1">USA (+1)</option>
                      <option data-countryCode="GB" value="44">UK (+44)</option>
      
      
                    </select>
                  </div>
                <div class="forms-02">
                  <label for="mobile">Mobile Number</label>
                  <input type="text" id="mobile" class="mobile"   name="mobile" formControlName="mobile">
                  <div *ngIf="myForm.get('mobile').invalid && myForm.get('mobile').touched" class="error-message">
                    Please enter a valid 10-digit mobile number.
                  </div>
                </div>
            </div>


            <div class="forms">
                <label for="companyName">CompanyName</label>
                <input type="text" id="companyName" name="companyName" formControlName="companyName" placeholder="Enter the company Name">
              
              </div>
            <div class="button">
              <button class="btn primary-btn" type="submit" [disabled]="myForm.invalid">Submit</button>
            </div>
          </form>
    </div>
</div>
