<div class="comp-prod-container">
    <div class="compare-header">
        <div class="heading">Compare Products</div>
        <div class="desc">We are excited to introduce you to our "Compare Products" feature, designed to make your shopping experience even better. This will enabling you to make an informed decision based on your preferences and needs.</div>
    </div>

    <div class="comp-box-container">
        <div class="box-heading">Add & Compare Your Products</div>
<div class="comp-box">
    <div class="box-01">
        <div class="add"><img class="add-img" src="../../../../assets/icons/Add.svg"></div>
        <div class="add-product">Add Product</div>
    </div>
    <span class="vs">
    <h6 >VS</h6>
</span>

<div class="box-02">
    <div class="add"><img class="add-img" src="../../../../assets/icons/Add.svg"></div>
    <div class="add-product">Add Product</div>
</div>
<span class="vs">
    <h6 >VS</h6>
</span>

<div class="box-03">
    <div class="add"><img class="add-img" src="../../../../assets/icons/Add.svg"></div>
    <div class="add-product">Add Product</div>
</div>
<span class="vs">
    <h6 >VS</h6>
</span>

<div class="box-04">
    <div class="add"><img  class="add-img" src="../../../../assets/icons/Add.svg"></div>
    <div class="add-product">Add Product</div>
</div>

</div>
<div class="comp-btn">
    <button class="compare-btn">Compare</button>
</div>
    </div>
</div>
