<div class="user-panelcontainer">
    <!-- User-->
    <div class="user-panel-row">
 
        <div>
            <img class="img-holder" src="../../../assets/images/img_avatar.png">
        </div>
        <div *ngIf="navExpanded">
            <div class="text-style">
                Hulk
            </div>
            <div >
                Admin
            </div>
        </div>
        
    </div>
    <!-- Dashboard -->
    <div class="user-panel-row">
        <div>
            <img class="img-holder" src="../../../assets/icons/Dashboard.svg">
        </div>
        <div *ngIf="navExpanded">
            Dashboard
        </div>
    </div>

    <div class="user-panel-row" (click)="logout()">
        <div>
            <img class="img-holder" src="../../../assets/icons/User_icon.svg">
        </div>
        <div *ngIf="navExpanded" >
            Logout
        </div>
    </div>
</div>
