<!-- <div class="product-container">
  <mat-card class="mat-card-hero"  *ngFor="let product of products" fxFlex="calc(33%-25px)">
    <mat-card-header [routerLink]="['/products', product._id]">
      <img class="mat-card-img" mat-card-image [src]="product.imageUrl" alt="Photo of test title" />
      <div class="review-header">
        <p class="review-box">4.3
          <mat-icon class="review-icon">star</mat-icon>
        </p>
        <p><a class="review" href="url">See reviews
          </a></p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="title-container">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-icon class="product-bookmark">bookmark_border</mat-icon>
      </div>
      <p class="product-descirption">{{product.description}}</p>
      <mat-card-subtitle>SOLUTION:</mat-card-subtitle>
      <p class="solution-link"><a href="url">{{product.name}}</a></p>
      <div class="product-actions">
        <button class="btn compare-btn">Add to compare</button>
        <button class="btn request-btn" (click)="requestQuote(product)">Request quote</button>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->

<ng-container *ngIf="products && products.length > 0">
  <product-card-item [productList] = products [routePath]="'products'"></product-card-item>
</ng-container>