<!-- <div class="recommendation-container ">
    <div class="status-container">
        <span class="text-style">
            You are not connected to any tenant. Please connect to view recommendations and begin assessment
        </span>
        <button class="btn request-btn " (click)="connectToTenant()">
            Connect
        </button>
    </div>

    
    <p>The user name is {{userName}}</p>
    <button (click)="getRefreshToken()"> </button>
    <button (click)="getId()">Hii </button>
</div> -->

<ng-container *ngIf="connectionStatus === 'N'">
    <div class="recommendation-container ">
        <div class="status-container">
            <span class="text-style">
                You are not connected to any tenant. Please connect to view recommendations and begin assessment
            </span>
            <button class="btn primary-btn " (click)="connectToTenant()">
                Connect
            </button>
        </div>
    </div>

</ng-container>
<ng-container *ngIf="connectionStatus === 'Y'">
    <div class="recommendation-container ">

        <div class="status-container" style="height:100%">
            <div class="tenant-text-container">
                <span class="text-style">
                    Connected Tenants - {{oemName}}
                </span>
                <span class="text-style">
                    Connects as - {{tenantName}}
                </span>
                <!-- <button disabled='true' class="btn request-btn ">
                    Connect to a new Tenant
                </button> -->
            </div>
            <div class="tenant-list-container">
        
                <span class="tenant-list">
                    MICROSOFT AZURE
                </span>
                <span class="tenant-list">
                    CROWDSTRIKE FALCON
                </span>
                <span class="tenant-list">
                    MICROSOFT DEFENDER
                </span>
            </div>
            
        </div>

        <ng-container *ngIf="segmentationsList">
            <segmentation [segmentationsList]="segmentationsList"></segmentation>
        </ng-container>
        

    </div>

    <!-- Child Components -->







    <!-- Child Components Ends -->

</ng-container>
