<!-- Search Box -->
<ng-container>

    <div class="form-group search-box">
        <span class="fa fa-search search-icon"></span>
        <input type="text" 
            class="form-control" 
            placeholder="Search by products, categories, brands & more"
            (click) = "onSearchClicked()"
            (focusout)="onFocusOutEvent($event)"
            >

            <!-- <ng-container>
                <div class="search-result-container p-1">
                    <div class="search-component-holder p-1">

                    
                        <popular-category></popular-category>
                        <trending-products></trending-products>
                        <recently-searched></recently-searched>
                    </div>
                    
                    
                </div>
            </ng-container> -->
    </div>
    <ng-container *ngIf="isOpen">
        <div class="search-result-container p-1">
            <div class="search-component-holder p-1">

            
                <popular-category></popular-category>
                <trending-products></trending-products>
                <recently-searched></recently-searched>
            </div>
            
            
        </div>
    </ng-container>


</ng-container>
