<!-- Search Box -->
<ng-container>

    <div class="form-group search-box">
        <span class="fa fa-search search-icon"></span>
        <input type="text" 
            class="form-control" 
            placeholder="Search by products, categories, brands & more"
            >

            <div class="search-result-container" style="background: var(--white);">
                <span class="">
                    aaaaa
                </span>
                <span class="">
                    aaaaa
                </span>
                <span class="">
                    aaaaa
                </span>
            </div>
    </div>


</ng-container>
