
<ng-container *ngIf="prdLength > 0">
    <div (click) = "viewModal3(null)" class="compare-products-badge">
        <!-- <img class="compare-icon" src="../../../../assets/icons/compare.svg"> -->
        <span class="offer-name-label">
            Compare ({{prdLength ? prdLength : 0}})
        </span>
    </div>
</ng-container>


<div class="product-details-container">
    <div *ngIf="productFamily">
        <custom-bread-crumb [product] = "productFamily" [prdType] = "prdType"></custom-bread-crumb>
    </div>
    <div class="product-details">
        <ng-container *ngIf="productFamily">


            <div class="product-image-view">
                <div class="product-image">
                    <div class="prod-img-cont">
                        <div class="prod-img-logo">
                            <img class="prod-logo"
                                src="{{(productFamily && productFamily.bannerLogo) ? productFamily.bannerLogo : 'https://csg1003200209655332.blob.core.windows.net/images/1685441484-MicrosoftLogo_300X300.png'}}">
                        </div>

                        <!-- //commented for no image data// -->
                        <!-- <div class="prod-img-hover">
                            <ng-container *ngIf="productImages && productImages.length>0">
                                <ng-container *ngFor="let item of productImages">

                                    <img  class="img-hover" src="{{item}}" alt="img">
                                </ng-container>
                            </ng-container>
                            <ng-template #noImagesBlock> -->
                        <!-- <ng-container *ngFor="let img of dummyImages"> -->
                        <!-- <img  class="img-hover"
                                    src="../../../../assets/icons/DefaultImageIcon.svg" alt="img">

                                <img  class="img-hover"
                                    src="../../../../assets/icons/DefaultImageIcon.svg" alt="img">

                                <img  class="img-hover"
                                    src="../../../../assets/icons/DefaultImageIcon.svg" alt="img">

                                <img  class="img-hover"
                                    src="../../../../assets/icons/DefaultImageIcon.svg" alt="img"> -->
                        <!-- </ng-container> -->
                        <!-- </ng-template>

                           
                        </div> -->

                    </div>


                    <div class="buy-now-prod">
                        <span class="quantity-year">
                            <h6 class="head-06">Quantity </h6>
                            <span class="year">(per year)</span>
                        </span>
                        <span class="plus-minus">

                            <span>
                                <img id="add-minus-quantity" (click)="changeQuantity('minus')" alt="minus"
                                class="add" src="../../../../../assets/icons/MinusIcon.svg">
                            </span>
                            <span>
                                <input type="number" min="0" class="input-field" [(ngModel)]="productQuantity" (keydown)="onKeyDown($event)">
                            </span>
                            <span>
                                <img id="add-minus-quantity" alt="" (click)="changeQuantity('add')"
                                class="add" src="../../../../assets/icons/AddIcon.svg">
                            </span>
                        </span>

                        <button class="btn tertiary-btn" (click)="buyNow(productFamily, productQuantity)">Buy now</button>
                    </div>

                </div>

                <div class="product-details-info">
                    <h4 class="head-04 notranslate">{{productFamily.name}}
                    </h4>
                    <div class="oem-section">
                        <p class="para">by Microsoft</p>
                        <img class="partner-icon" src="../../../../../assets/icons/TrustedPartnerBadgeIcon.svg">
                    </div>
                    <div class="pd-header-reviews">
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star_border</mat-icon>
                        <div class="review-text-section">
                            <p class="review-text"> 4 Reviews </p>
                            <!-- <span class="divider">|</span>
                            <p class="link-text"> Write a review </p> -->
                            <span class="divider">|</span>
                            <p class="link-text" (click)="showBasicDialog()"> Have a question? </p>
                        </div>
                    </div>


                    <div class="product-price-detail">
                        <div class="product-price-section" style="display:inline-flex">
                            <p *ngIf="productFamily.priceList[0].discountRate" class="discounted-text">
                                -{{productFamily.priceList[0].discountRate}}%&nbsp;
                            </p>
                            <div class="price" (mouseenter)="showDiscountRate()" (mouseleave)="showMonthlyPrice()">
                                <span class="price-symbol">&#8377;  {{ isMonthly ? (productFamily.priceList[0].price/12 | number : '1.2-2') : productFamily.priceList[0].price }} </span>
                                <span class="product-price-type"> /  {{isMonthly ? 'Month' : (productFamily.priceList[0].priceType)}}</span>
                                
                            </div>
                            <!-- <div class="price">
                                <p class="product-price">
                                    <span class="price-symbol">&#8377;</span>{{productFamily.priceList[0].price | number : '1.2-2'}}
                                    <span class="product-price-type">
                                        / {{productFamily.priceList[0].priceType}}</span>
                                </p>
                            </div> -->
                            <p style="font-size: smaller;">(GST Extra)</p>
                        </div>
                        <div style="display:inline-flex;align-items: center;">
                            <p style="font-size: small;"> MRP:&nbsp;</p>
                            <span class="price-symbol">&#8377;</span>
                            <span>
                                <p style="font-size: initial; text-decoration: line-through;">
                                    {{productFamily.priceList[0].ERPPrice | number : '1.2-2'}}</p>
                            </span>
                            <span class="product-price-type">
                                / {{productFamily.priceList[0].priceType}}</span>
                        </div>
                    </div>
                    <div class="solution-section">
                        <p class="solution">Solution Category:</p>
                        <p>{{productFamily.subcategories[0].name}}</p>
                    </div>
                    <!-- <span class="request-btn" ><button class="btn view-det-btn"
                        (click)="scrollToSection('#feature')">View Features</button>
                    <button class="btn request-quote-btn" (click)="requestQuote(product)"
                        style="margin-left: 4%;">Request Quote</button></span> -->

                    <ng-container *ngIf="productFamily.description">
                        <div class="about-section">
                            <div class="about-heading">
                                <p class="about">Description:</p>
                            </div>
                            <div class="about-desc">
                                <div class="all-desc">
                                    {{(readMore) ? productFamily.description : productFamily.description | slice:0:50}}
                                    <span *ngIf="!readMore">....</span>
                                </div>
                            </div>
                            <ng-container *ngIf="productFamily.description.length>50">

                                <div class="scroll">
                                    <span>
                                        <a class="all-btn" (click)="scrollToSection('#description')">Read more</a>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <!-- <div class="about-desc">
                           
                            <div class="all-desc">
                                {{(seeMore) ? productFamily.description : productFamily.description | slice:0:50}}
                                
                                <span *ngIf="!seeMore">....</span>
                                <a class="all-btn"  (click)="openDescription()">{{ !seeMore ? "See More" : "See Less" }}</a>
                               
                                </div>
                            
                           </div> -->




                    <!-- <p class="about">About this product:</p>
                    <p class="prod-desc">{{productFamily.description}}</p> -->

                    <span class="request-btn">
                        <button class="btn secondary-btn"  (click)="addToCompare(productFamily, 'fromProd')" >Add to Compare</button>
                        <button class="btn primary-btn" style="margin-left: 4%;"
                            (click)="requestQuote( productFamily)">Request Quote</button></span>

                            <hr>
                        

                    <div class="product-common-info">
                        <div class="offer-det">
                            <span class="offer-headline">
                                <img class="offer-img" src="../../assets/productDetails/OfferIllustrationIcon.svg">
                                <p class="offer">&nbsp;Offer</p>
                                <button (click)="onclickOffer()" class="downarrow-btn">
                                    <ng-container *ngIf="offerVisible ; else downArrow"><img
                                            src="../../../../../assets/icons/DefaultUpIcon.svg"></ng-container>
                                    <ng-template #downArrow><img
                                            src="../../../../../assets/icons/DefaultDownIcon.svg"></ng-template>
                                </button>
                            </span>
                            <ng-container *ngIf="offerVisible">
                                <div class="offer-card-container">
                                    <div class="offer-card">
                                        <p class="offer-bank">On Instant Purchase</p>
                                        <p class="offer-dis">With your credit card, get an additional 2% discount</p>
                                        <!-- <a class="offer-more">2 more offers</a> -->
                                    </div>
                                    <div class="offer-card">
                                        <p class="offer-bank" >Business Offer</p>
                                        <p class="offer-dis" >Save upto 28% on business purchase and get GST Invoice</p>
                                        <!-- <a class="offer-more">2 more offers</a> -->
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <ng-container *ngIf="!offerVisible">
                            <hr>
                    <div class="common-info">

                        <div class="common-det">
                            <div class="comm-det-img">
                                <img class="amazon-refer-img"
                                    src="../../../../assets/icons/illustration_icons/SecureTransactionIllustrationIcon.svg">

                            </div>
                            <p class="amazon-refer">secure transaction</p>
                        </div>
                        <div class="common-det">
                            <div class="comm-det-img">
                                <img class="amazon-refer-img"
                                    src="../../../../assets/icons/illustration_icons/TopBrandIllustrationIcon.svg">

                            </div>
                            <p class="amazon-refer">Top brand</p>
                        </div>
                        <div class="common-det">
                            <div class="comm-det-img">
                                <img class="amazon-refer-img"
                                    src="../../../../assets/icons/illustration_icons/ProductCancellationIllustrationIcon.svg">

                            </div>
                            <p class="amazon-refer">5 Days Cancellation </p>
                        </div>
                        <div class="common-det">
                            <div class="comm-det-img">
                                <img class="amazon-refer-img"
                                    src="../../../../assets/icons/illustration_icons/GuaranteedPriceIllustrationIcon.svg">

                            </div>
                            <p class="amazon-refer">Guaranteed Price</p>
                        </div>


                    </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </ng-container>
        <div class="product-info">
            <!-- <ng-container>
                <div class="compare-box">
                    <div class="compare-box-headers">
                        <h5>Compare</h5>
                        <span
                            style="display:flex;flex-basis: 70%;justify-content: flex-end;align-items: center;color: cornflowerblue;font-size: small;font-weight: 500;">
                            <p style="margin-bottom: 3px;color: #0047BD;font-size: 13.122px;font-weight: 600;">Compare
                                products</p>
                        </span>
                    </div>
                    <p style="font-size: small;">choose the right plan that matches your needs!</p>
                    <ng-container *ngFor="let item of allCompareProducts">
                        <div class="plan-price">
                            <div class="plan-price-image">
                                <img style="width:70%;height: 100%;object-fit: cover;"
                                    src="../../../../assets/Logos/MicrosoftDefender_300X300.png">
                            </div>
                            <div class="plan-price-info">
                                <p style="font-size: medium;
            font-weight: 700;margin-bottom: 0;">{{item.name}}</p>
                                <p style="font-size: 13px;
            margin-bottom: 0;">solution Category: endpoint security</p>
                                <p style="font-size: 13px;
            margin-bottom: 0;">&#8377; {{item.priceList[0].price}} /
                                    {{item.priceList[0].priceType}}</p>
                            </div>
                        </div>
                    </ng-container>


                </div>
            </ng-container> -->

            <!-- <details-compare-products-flyer
                [compareProductsList]="selectedProductItem"></details-compare-products-flyer> -->

            <!-- <contact-us-flyer></contact-us-flyer> -->
            <contact-us-flyer-horizontal></contact-us-flyer-horizontal>
            <!-- <div class="connect-us-box">
                <div class="connect-us-desc">
                    <h5>Connect Us!</h5>
                    <p style="font-size: 16px;align-items: center;justify-content: center;">consult with
                        our expert to choose the right plan</p>
                    <button class="btn btn buy-now-btn" style="width:35%">Get Free Call</button>
                </div>

            </div> -->
        </div>
    </div>
    <ng-container *ngIf="productFamily">


        <div class="all-feature-container">
            <nav mat-tab-nav-bar>
                <a class="nav" mat-tab-link *ngFor="let link of links; index as i" (click)="scrollToSection(link)"
                    [active]="activeLink == link"> {{titles[i]}} </a>
            </nav>
            <!-- <div id="description" #descriptionRef>
                <p-card class="Description" header="Description">
                   
                    <p class="m-0">
                        {{(seeMore) ? productFamily.description : productFamily.description | slice:0:150}}
                        <span *ngIf="!seeMore">....</span>
                        <span class="see-more">
                            <button class="btn view-det-btn" (click)="openDescription()">{{ !seeMore ? "See More" : "See
                                Less"
                                }}</button>
                        </span>
                    </p>

                </p-card>
            </div> -->
            <ng-container *ngIf="productFamily.description">
                <div id="description" #descriptionRef>
                    <p-card class="Description">
                        <h5>Description</h5>
                        <p class="m-0">
                            {{(seeMore) ? productFamily.description : productFamily.description | slice:0:690}}
                            <ng-container *ngIf=" productFamily.description.length>700">
                                <span *ngIf="!seeMore">....</span>
                                <!-- <span class="see-more"> -->
                                <button class="btn view-det-btn-01" (click)="openDescription()">{{ !seeMore ? "See More"
                                    : "See
                                    Less"
                                    }}</button>
                                <!-- </span> -->
                            </ng-container>
                        </p>



                    </p-card>
                </div>
            </ng-container>

            <!-- <p-card class="Description" header="Description" id="description" #descriptionRef>
                <p class="m-0">
                    {{productFamily.description}}
                </p>
                <span class="see-more"><button class="btn view-det-btn">See More</button>
                </span>
            </p-card> -->
            <!-- 
            <div class="product-features-container" id="feature" #featureRef>
                <h5>Features</h5>
                <div class="product-feature-cards-container">
                    <div class="prod-feat-img">
                        <img style="width:auto;height: auto;position: relative;"
                            src="../../assets/productDetails/FeaturesIllustration.svg">
                    </div>
                    <div class="prod-feat-card-cont">
                        <div class="prod-card-holder">
                            <div class="feature-desc-heading">
                                <p class="feature-desc" >Here is the common generalized section for the product</p>
                            </div>
                            <div class="prod-card-holder2">
                                <ng-container *ngFor="let item of features">

                                    <div class="product-feature-card" (click)="openLink(item.hyperLinkURL)">
                                        <span class="feature-card">
                                            <img style="width:auto;height: auto;position: relative;"
                                                src="../../assets/productDetails/FeaturesIllustrationIcon.svg">
                                        </span>
                                        <span class="feature-card-content" >
                                            <p class="feature-card-heading">{{item.name}}</p>
                                            <p class="feature-card-desc">{{item.description}}</p>
                                        </span>
                                    </div>
                                </ng-container>
                            </div>

                        </div>
                        <div class="p-view-all-feature-div">
                            <div class="feature-desc-heading">
                                <p class="feature-viewall" >click here to view detailed feature of the
                                    product</p>
                                <button class="btn view-det-btn" (click)="featureCountEvent()">View All Features</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div> -->




            <!-- <<<<<<<<<<<<feature edit>>>>>>>>>>>>>>>>> -->
                <!-- <div class="product-features-container" id="feature" #featureRef></div> -->   

                <!-- above code is for reference of #featureRef scroll section  -->

            <div class="product-features-container" id="bundleDetailsRef" #bundleDetailsRef>
                <h5>Bundle Details</h5>

                <div class="product-feature-container">
                    <ng-container *ngIf="bundleItemsList">
                        <div class="prod-feature-img">
                            <!-- <img style="width:auto;height: auto;position: relative;"
                            src="../../assets/productDetails/FeaturesIllustration.svg"> -->

                            <!-- <div class="bundle-desc-heading">
                                <p class="bundle-desc">Products Included</p>
                            </div>                        
                            <div class="card-flyer-section">
                                <ng-container *ngFor="let item of bundleItemsList; let i = index">
                                    <bundle-varient-card-flyer [product]="item" (click)="navigateToProductDetails(item)"></bundle-varient-card-flyer>
                                </ng-container>
                            </div> -->
    
    
        
                            <iframe [src]="productVideoURL | safeurl" width="600" height="300" frameborder="0" title="test"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
                        </div>
                    </ng-container>
                    <!-- <div class="prod-feature-img">
                        <img style="width:auto;height: auto;position: relative;"
                            src="../../assets/productDetails/FeaturesIllustration.svg">
                    </div> -->
                    <ng-container *ngIf="features">
                        <div class="prod-feat-card-content">
                            <div class="prod-card-holder">
                                <div class="feature-desc-heading">
                                    <p class="feature-desc">Explore the Cutting-Edge Features of {{productFamily.name}}</p>
                                </div>
                                <div class="prod-card">
                              
                                    <!-- <div class="features-container"> -->
                                        <ng-container *ngIf="bundleItemsList.length>0">
                                          
                                              
                                                
                                                <ng-container *ngFor="let item of bundleItemsList; let i = index">
                                                    <div class="feature-heading">
                                                        <div class="feature-card">
                                                            <img class="tick" src="../../../../assets/icons/ProductTickIcon.svg">
                                                        </div>
                                                        <div class="feature-card-content" (click)="navigateToProductDetails(item)">
                                                            <p class="feature-card-heading">{{item.name}}</p>
                                                            <!-- <p class="feature-card-desc">{{item.description}}</p> -->
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            
                                        </ng-container>
                                        
                                        <ng-container *ngFor="let item of features">
                                            <div class="feature-heading">
                                                <div class="feature-card">
                                                    <img class="tick" src="../../../../assets/icons/FeaturesBlueTickIcon.svg">
                                                </div>
                                                <div class="feature-card-content" (click)="openLink(item.hyperLinkURL)">
                                                    <p class="feature-card-heading">{{item.name}}</p>
                                                    <!-- <p class="feature-card-desc">{{item.description}}</p> -->
                                                </div>
                                            </div>
                                        </ng-container>
                                    <!-- </div> -->

                                </div>
    
                            </div>
                            <!-- <div class="p-view-all-feature-div">
                                <div class="feature-desc-heading">
                                  
                                    <button class="btn view-det-btn" (click)="featureCountEvent()">View All
                                        Features</button>
                                </div>
                            </div> -->
    
                        </div>
                    </ng-container>
                </div>
            </div>




            <div class="bottom-container">
                <!-- <div class="specification-cont" id="specification" #specificationRef>
                    <h5>Specifications</h5>
                    <div class="specs-list">
                        <div class="specs-name">
                            <div style="display:flex;flex-basis:20%;padding: 7%;">
                                <img style="width:auto;height: auto;position: relative;"
                                    src="../../assets/productDetails/FeaturesIllustrationIcon.svg">
                            </div>
                            <div
                                style="display:flex;flex-basis: 80%;flex-direction: column;justify-content: center;align-items: baseline;margin-left: 5%;">
                                <p style="font-size: small;margin-bottom: 0">Supported Platforms</p>
                                <p style="font-size: smaller;
                                font-weight: 500;margin-bottom: 0;">Exchange online plan2</p>
                            </div>
                        </div>
                        <div class="specs-name">
                            <div style="display:flex;flex-basis:20%;padding: 7%;">
                                <img style="width:auto;height: auto;position: relative;"
                                    src="../../assets/productDetails/FeaturesIllustrationIcon.svg">
                            </div>
                            <div
                                style="display:flex;flex-basis: 80%;flex-direction: column;justify-content: center;align-items: baseline;margin-left: 5%;">
                                <p style="font-size: small;margin-bottom: 0">Supported Platforms</p>
                                <p style="font-size: smaller;
                                    font-weight: 500;margin-bottom: 0;">Exchange online plan2</p>
                            </div>
                        </div>
                        <div class="specs-name">
                            <div style="display:flex;flex-basis:20%;padding: 7%;">
                                <img style="width:auto;height: auto;position: relative;"
                                    src="../../assets/productDetails/FeaturesIllustrationIcon.svg">
                            </div>
                            <div
                                style="display:flex;flex-basis: 80%;flex-direction: column;justify-content: center;align-items: baseline;margin-left: 5%;">
                                <p style="font-size: small;margin-bottom: 0">Supported Platforms</p>
                                <p style="font-size: smaller;
                                        font-weight: 500;margin-bottom: 0;">Exchange online plan2</p>
                            </div>
                        </div>
                        <div class="specs-name">
                            <div style="display:flex;flex-basis:20%;padding: 7%;">
                                <img style="width:auto;height: auto;position: relative;"
                                    src="../../assets/productDetails/FeaturesIllustrationIcon.svg">
                            </div>
                            <div
                                style="display:flex;flex-basis: 80%;flex-direction: column;justify-content: center;align-items: baseline;margin-left: 5%;">
                                <p style="font-size: small;margin-bottom: 0">Supported Platforms</p>
                                <p style="font-size: smaller;
                                            font-weight: 500;margin-bottom: 0;">Exchange online plan2</p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="specification-section" id="specification" #specificationRef>
                    <div class="specification-containter">
                        <div class="specification-headline">
                            <h5>Specifications</h5>
                        </div>
                        <div class="specification-list">
                            <div class="specification-feature">
                                <div class="specification-feature-icon-container">
                                    <img class="specification-icon" src="../../../../assets/icons/PlatformIcon.svg">
                                </div>
                                <div class="specification-feature-details">
                                    <p class="specification-feature-headline">Supported Platforms</p>
                                    <p class="specification-feature-description">Windows, macOS</p>
                                </div>
                            </div>
                            <div class="specification-feature">
                                <div class="specification-feature-icon-container">
                                    <img class="specification-icon" src="../../../../assets/icons/LanguagesIcon.svg">
                                </div>
                                <div class="specification-feature-details">
                                    <p class="specification-feature-headline">Languages</p>
                                    <p class="specification-feature-description">English</p>
                                </div>
                            </div>
                            <div class="specification-feature">
                                <div class="specification-feature-icon-container">
                                    <img class="specification-icon" src="../../../../assets/icons/DevicesIcon.svg">
                                </div>
                                <div class="specification-feature-details">
                                    <p class="specification-feature-headline">Devices</p>
                                    <p class="specification-feature-description">Desktop, Mobile</p>
                                </div>
                            </div>
                            <div class="specification-feature">
                                <div class="specification-feature-icon-container">
                                    <img class="specification-icon" src="../../../../assets/icons/CloudBasedIcon.svg">
                                </div>
                                <div class="specification-feature-details">
                                    <p class="specification-feature-headline">Deployment</p>
                                    <p class="specification-feature-description">Cloud-Based</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <ng-container *ngIf="products.length>0">
                    
                    <div class="specification-cont" id="compProd" #compProdRef>
                        <h5>Compare Products</h5>
                        <div class="comp-prod-cont">
                            <div class="prod-to-comp">
                                <div class="comp-prod-card">
                                    <div class="comp-prod-card-cont">
                                        <div class="comp-prod-card-img">
                                            <img style="width:70%;height: auto;position: relative;"
                                                src="{{productFamily.bannerLogo}}">

                                        </div>
                                        <div class="comp-prod-card-content">
                                            <p style="font-size: medium;font-weight: 500;">{{productFamily.name}}</p>
                                            <p style="font-size: medium;font-weight: 300;">Solution category</p>
                                            <p style="font-size: small;font-weight: 500;">{{productFamily.subcategories[0].name}}</p>
                                        </div>

                                    </div>
                                    <div style="display: flex;flex-direction: row;">
                                        <span style="    display: inline-flex;
                                    flex-basis: 30%;
                                    align-items: center;
                                    justify-content: flex-start;
                                    padding: 1%;">
                                            <p-checkbox [binary]="true" inputId="binary" (onChange) ="compareEvent($event,productFamily)"
                                            ></p-checkbox>
                                            <p style="font-size: small;">&nbsp;Compare</p>
                                        </span>
                                        <span style="    display: inline-flex;
                                    align-items: center;
                                    flex-basis: 70%;
                                    justify-content: flex-end;
                                    padding: 1%;">
                                            <a style="color: #0047BD;font-weight: 400;font-size: small;">view details</a>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <span style="display:flex;align-items: center;justify-content: center;">
                                <h6>VS</h6>
                            </span>

                            <div class="comp-prod-vs">
                                <ng-container *ngFor="let item of products">
                                    <div class="comp-prod-card">
                                        <div class="comp-prod-card-cont">
                                            <div class="comp-prod-card-img">
                                                <img style="width:70%;height: auto;position: relative;"
                                                    src="{{item.bannerLogo}}">
                                            </div>
                                            <div class="comp-prod-card-content">
                                                <p style="font-size: medium;font-weight: 500;">{{item.name}}</p>
                                                <p style="font-size: small;font-weight: 300;">Solution category</p>
                                                <p style="font-size: small;font-weight: 500;">{{item.subCategories[0].name}}
                                                </p>
                                            </div>

                                        </div>
                                        <div style="display: flex;flex-direction: row;">
                                            <span style="    display: inline-flex;
                                flex-basis: 30%;
                                align-items: center;
                                justify-content: flex-start;
                                padding: 1%;">
                                                <p-checkbox [binary]="true" inputId="binary" (onChange) ="compareEvent($event,item)"></p-checkbox>
                                                <p style="font-size: small;">&nbsp;Compare</p>
                                            </span>
                                            <span style="    display: inline-flex;
                                align-items: center;
                                flex-basis: 70%;
                                justify-content: flex-end;
                                padding: 1%;">
                                                <a style="color: #0047BD;font-weight: 400;font-size: small;">view
                                                    details</a>
                                            </span>

                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </ng-container> -->







                <ng-container *ngIf="-1>0">
                    <div class="specification-cont" id="compProd" #compProdRef>
                        <h5>Compare Products</h5>
                        <div class="comp-product-cont">
                            <div class="product-to-comp">
                                <div class="comp-product-card">
                                    <div class="comp-product-card-cont">
                                        <div class="comp-product-card-img">
                                            <img class="card-logo" src="{{productFamily.bannerLogo}}">

                                        </div>
                                        <div class="comp-product-card-content">
                                            <p class="product-category" (click)="navigateToProductDetails(productFamily)">{{productFamily.name}}</p>
                                            <p class="product-solution">Solution Category:</p>
                                            <p class="product-desc">{{productFamily.subcategories[0].name}}</p>
                                        </div>
                                    </div>
                                    <div class="checkbox-sec">
                                        <div class="checkbox-sec-01">
                                            <div class="checkbox">
                                                <!-- <p-checkbox onCheckBoxChange (click)="addToCompare(productFamily, 'fromProd')"
                                                [(ngModel)]='checked' [binary]="true" inputId="binary"></p-checkbox> -->
                                                <p-checkbox
                                                    (onChange)="onCheckBoxChange($event, productFamily, 'fromProd')"
                                                    [(ngModel)]='productFamily.checked' [binary]="true"
                                                    inputId="binary"></p-checkbox>
                                            </div>
                                            <div class="checkbox-header">
                                                <p class="compare-sec">&nbsp;Compare</p>
                                            </div>
                                        </div>
                                        <div class="checkbox-sec-02">
                                            <!-- <a class="view-sec"(click)="navigateToProductDetails(productFamily)">view details</a> -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <span
                                style="display:flex;align-items: center;justify-content: center;padding-left:20px;padding-right:20px;">
                                <h6 style="font-size: 25px;">VS</h6>
                            </span>

                            <ng-container *ngIf="allCompareProducts.length >=3">
                                <button #leftArrow class="arrow left-arrow" (click)="scrollFunctionLeft()">
                                    <img class="arrow-icon" src="../../../../assets/icons/ArrowLeftIcon.svg">
                                </button>
                            </ng-container>

                            <div class="scroll-container">

                                <div class="scroll-content">
                                    <div class="product-to-comp">
                                        <ng-container *ngFor="let item of allCompareProducts">
                                            <div class="comp-product-card">
                                                <div class="comp-product-card-cont">
                                                    <div class="comp-product-card-img">
                                                        <img class="card-logo" src="{{item.bannerLogo}}">
                                                    </div>
                                                    <div class="comp-product-card-content">
                                                        <!-- <p class="product-category">{{item.name}}</p> -->
                                                        <p class="product-category" (click)="navigateToProductDetails(item)">{{item.name}}</p>
                                                        <p class="product-solution">Solution Category:</p>
                                                        <p class="product-desc">{{item.solutionCategory}}</p>
                                                    </div>
                                                </div>
                                                <div class="checkbox-sec">
                                                    <div class="checkbox-sec-01">
                                                        <div class="checkbox">
                                                            <!-- <p-checkbox (click)="addToCompare(item,'prodFam')"
                                                                    [(ngModel)]="item.checked" [binary]="true" inputId="binary">
                                                                </p-checkbox> -->
                                                            <p-checkbox
                                                                (onChange)="onCheckBoxChange($event, item, 'prodFam')"
                                                                [(ngModel)]="item.checked" [binary]="true"
                                                                inputId="binary">
                                                            </p-checkbox>


                                                        </div>
                                                        <div class="checkbox-header">
                                                            <p class="compare-sec">&nbsp;Compare</p>
                                                        </div>
                                                    </div>
                                                    <div class="checkbox-sec-02">
                                                        <!-- <a class="view-sec" (click)="navigateToProductDetails(item)">view details</a> -->
                                                    </div>
                                                </div>
                                            </div>

                                        </ng-container>
                                    </div>
                                </div>


                            </div>
                            <ng-container *ngIf="allCompareProducts.length >=3">
                                <button class="arrow right-arrow" (click)="scrollFunctionRight()">
                                    <img class="arrow-icon" src="../../../../assets/icons/ArrowRightIcon.svg">
                                </button>
                            </ng-container>
                        </div>
                    </div>

                </ng-container>
            </div>


            <!-- Bundle section -->
            <!-- <div *ngIf="bundleItemsList && bundleItemsList.length>0" class="specification-cont" id="bundleDetailsRef"
                #bundleDetailsRef>
                <h5 id="similar-prod">Bundle Details</h5>
                <div class="specs-list">
                    <ng-container *ngFor="let item of bundleItemsList; let i = index">
                        <div class="similar-prod-card">
                            <div class="sim-prod-holder">
                                <div class="similar-prod-img-det">
                                    <img class="bundle-img"
                                        src="{{(item.bannerLogo) ? item.bannerLogo : 'https://csg1003200209655332.blob.core.windows.net/images/1685441484-MicrosoftLogo_300X300.png'}}">

                                </div>
                                <div class="similar-prod-price-det">

                                    <span class="bundle-heading" (click)="navigateToProductDetails(item)">{{item.name}}</span>

                                    <p class="bundle-solution">Solution Category:</p>
                                    <p class="bundle-solution-desc">{{(item.solutionCategory) ? item.solutionCategory :
                                        'Cybersecutiy and Compliance'}}</p>
                                    <span class="similar-prod-price-det-price" *ngIf="item.priceList!=null">
                                        <p class="bundle-price">&#8377; {{item.priceList[0].price}}</p>
                                        <p class="bundle-type">&nbsp; / {{item.priceList[0].priceType}}</p>
                                    </span>

                                </div>
                            </div>



                            <div class="quantity-add-prod-bundle">
                                <span style="display: inline-flex;justify-content: center;gap: 5px;">

                                    <span>
                                        <img id="add-minus-quantity" (click)="decreaseQuantity(item.quantity, i)" alt="minus"
                                        class="add" src="../../../../../assets/icons/MinusIcon.svg">
                                    </span>
                                    <span>
                                        <input  type="number" min="0" class="input-field" [(ngModel)]="item.quantity" (keydown)="onKeyDown($event)">
                                    </span>
                                    <span>
                                        <img id="add-minus-quantity" alt="" (click)="addQuantity(item.quantity, i)"
                                        class="add" src="../../../../assets/icons/AddIcon.svg">
                                    </span>
                                </span>
                            </div>

                            <div class="sim-prod-btn-cont">
                                <span>
                                    <button class="btn similar-prod-request-quote-btn"
                                        (click)="requestQuote(item)">Request Quote</button>
                                </span>
                            </div>

                        </div>
                    </ng-container>

                </div>

            </div> -->
            <!-- <div class="bottom-container">
                <ng-container *ngIf="products.length>0">
                    <div class="specification-cont" id="bundleDetailsRef" #bundleDetailsRef>
                        <h5>Bundle Details</h5>
                        <div class="comp-prod-cont">
                            <div class="comp-prod-vs">
                                <ng-container *ngFor="let item of allSimilerProducts">
                                    <div class="comp-prod-card">
                                        <div class="similer-product-card-cont">
                                            <div class="similer-prod-top">
                                                <div class="comp-prod-card-img">
                                                    <img style="width:70%;height: auto;position: relative;"
                                                        src="{{item.bannerLogo ? item.bannerLogo  : alternateLogo}}">
                                                </div>
                                                <div class="comp-prod-card-content">
                                                    <p style="font-size: medium;font-weight: 500;">{{item.name}}</p>
                                                </div>
                                            </div>
                                            <div class="similer-prod-bottom">
                                                <div class="buy-now-prod">
                                                    <span style="display: inline-flex;justify-content: center;align-items: center;margin-bottom: 7%;">
                                                        <p style="font-size: 13px;
                                                        margin: 5px;">&#8377; {{item.priceList[0].price}} /
                                                                                {{item.priceList[0].priceType}}
                                                        </p>
                                                        <h6 style="margin-bottom: 0;">Quantity </h6>
                                                        <p>(per user)</p>
                                                    </span>
                                                    
                                                    <span style="display: inline-flex;justify-content: center;gap: 5px;">
                                
                                                        <span>
                                                            <img alt="minus" src="../../../assets/icons/Minus.svg">
                                                        </span>
                                                        <span>
                                                            <input class="input-field">
                                                        </span>
                                                        <span>
                                                            <img alt="" src="../../../assets/icons/Add.svg">
                                                        </span>
                                                    </span>
                                
                                                    <button class="btn buy-now-btn">Buy now</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </div> -->
            <div *ngIf="faq.length>0" class="faq-cont" id="faq" #faqRef>
                <span class="faq-title">
                    <h5 id="similar-prod">Frequently asked Questions</h5>
                </span>
                <ng-container *ngFor="let item of faq; let i = index">
                    <div class="display-faq">
                        <p class="faq-question">{{i+1}}.&nbsp;{{item.Question}}</p>
                        <p>{{item.Answer}}</p>
                    </div>
                </ng-container>

            </div>

        </div>

    </ng-container>