<!-- <div class="contact-us-wrapper">
    <div class="contact-us-container">
        Sample
    </div>
</div> -->

<div class="contact-us-wrapper">
    <div class="card-container">
      <div class="user">
        <img id="userAvatar" src="../../../assets/icons/ConnectUsIllustration.svg" width="125px" height="125px" />
      </div>
      <div class="accountStats">
        <span class="text-header">
            Connect Us!
        </span>
        <span class="text-small">
            Connect with Our Skilled Experts and Find the Best Plan for You!
        </span>

        <div>
            <button class="btn call-btn"> Hi</button>
        </div>
      </div>
    </div>
</div>
