.container-box{
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
}

.header{
    font-weight: 500;
    line-height: 2rem;
    font-size: 18px;
    color: var(--neutral);
}

.text-style{
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--neutral);
}

.list-holder{
    display: flex;
    
}