<div class="container">
    <div>
        <span class="text-header alignLeft">Products by Brands</span>
        <span class="text-normal brown-color alignRight">
            See All
            <img src="../../../../assets/icons/arrow-right-1.svg">
        </span>
    </div>

    <div class="card-container">

        <ng-container *ngIf="oems.length > 0">
            <ng-container *ngFor="let category of oems">
                <card-item [imageSrc]="category.imageSrc" [name]="category.name" (click)="goToProductsPageByBrand(category)"></card-item>
            </ng-container>
        </ng-container>
    </div>
</div>
