.container{
    height: 322px;
    width: 100%;
    background : var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1620px !important;
    row-gap: 1em;
}

.card-container{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: -5px;
    column-gap: 1.5%;
}

.card-item{
    border: 2px solid var(--light_border);
    border-radius: 5px;
    height: 11.5rem;
    width: 11.5rem;
}

.d-flex{
    display: flex!important;
}

.card-container img{
    width: 3em;
    height: 3em;
}

.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}

.brown-color{
    color: var(--brown);
}
