<ng-container *ngIf="productItem">
    <div class="card bundle-card-container">
        <div class=" card-section">
            <div class="logo-container">
                <img class="logo" src="{{productItem.bannerLogo ? productItem.bannerLogo : alternateLogo}}">
    
            </div>
            <div class="content-section">
                <div class="headline-section">
                    {{productItem.productName}}
                </div>
                <div class="solution-category-section">
                    <!-- <div class="solution-label">
                        Solution Category:
                    </div> -->
                    <div class="solution-category-name">
                        {{productItem.solutionCategory}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
