.container-holder {
    color: aliceblue;
    background: var(--white);
    overflow-y: scroll;
    height: 350px;
    /* border: 2px solid blue; */
}
.container-holder1{
    height: 200px;
    border: 2px solid red;
}
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

.nodata{
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: 24px;
    font-weight: bolder;
   
}
.no-img{
    width: 300px;
    height: 300px;
  
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-style {
    /* color: black; */
    color: #686A77;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    /* font-weight: 600; */
    font-size: 0.8rem;

    /* height: 40em; */
    /* overflow: scroll; */
    overflow-x: hidden;
    
}

.text-header {
    color: black;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
}

.list-row {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.list-row:last-child {
    /* border-bottom: none !important */
}





.list-row div {
    height: 30px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none !important;
    cursor: pointer;
    font-size: 0.8rem;
}

.list-item:last-child {
    
    /* border-bottom: 2px solid var(--text-grey) !important;*/
    margin-bottom: 10px; 
}