<div class="container">
    <div *ngIf="routePath === 'home'">
        <span  class="text-header alignLeft">Trending Products</span>
        <span class="text-normal brown-color alignRight">
            See All
            <img src="../../../../assets/icons/arrow-right-1.svg">
        </span>
    </div>

    



               <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
        <div class="product-container">
            <div class="row">
                <ng-container *ngFor="let product of productList">
                    <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4"> -->
                    <div style="margin-bottom: 40px;" [ngClass]=" (routePath === 'home') ? 'col-xs-12 col-sm-6 col-md-3 col-lg-3' : 'col-xs-12 col-sm-6 col-md-3 col-lg-3'">
                        <div href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box" (click)="navigateToProductDetails(product)">
                                        <img src="{{(product.imageURL && product.imageURL !== null) ? product.imageURL : 'https://csg1003200209655332.blob.core.windows.net/images/1681727933-Microsofticon.png'}}">
                                        <!-- <img src="../../../assets/images/mrr.png"> -->
                                        <div class="overlay">
                                            <div class="review-container">
                                                <span>4.3</span>
                                                <mat-icon class="review-icon">star</mat-icon>
                                            </div>
                                            <!-- <div>
                                                <span style="text-decoration: underline;">See Reviews</span>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- <div class="bg-image">

                                    </div> -->
                                    <div class="text-container title-header">
                                        <div class="title-container">
                                            <h4>{{product.name}}</h4>
                                            <img src="../../../assets/icons/Bookmark.svg">
                                        </div>
                                        <p class="description-container">
                                            {{product.description}}
                                        </p>
                                        
                                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                                    </div>
                                    <div class="text-container text-solution">
                                        <span class="text-style">
                                            SOLUTION
                                        </span>
                                        <div  class="solution-link">
                                            {{ (product.subcategories && product.subcategories.length > 0)? product.subcategories[0].name : ''}}
                                        </div>
                                        
                                    </div>
                                    <div class="button-container">
                                        <div class="product-actions">
                                            <button class="btn compare-btn">Add to compare</button>
                                            <button class="btn request-btn" (click)="requestQuote(product)">Request quote</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 01</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
                
                <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg" alt="" />
                                </div>
                                <div class="text-container">                                    
                                    <h6>Title 02</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>Title 03</h6>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 04</h6>
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>

        


















    
</div>
