<ng-container>
    <div class="notification-container">
        <div class="triangle"></div>
    
        <div class="notification-content-container">
            <div class="header-container">
                <span>Notification</span>
                <!-- <a>View all</a> -->
            </div>
            <div class="body-container">
                <div class="notification-card">
                    <ng-container *ngFor="let item of notificationList; let i=index">
                        <div class="content-container">
                            <div class="icon">
                                <div class="txt">LA</div>
                            </div>
                              <div class="content">{{item.notification.message}} by {{item.createdBy.firstName}}
                                  <div class="time">{{ formatTime(item.createdBy.updatedAt)}}</div>
                              </div>
                        </div>
                    </ng-container>
                    
    
                    <!-- <div class="content-container">
                        <div class="icon">
                            <div class="txt">SH</div>
                        </div>
                          <div class="content">Sina: Thanks
                              <div class="time">10 hours ago</div>
                          </div>
                    </div>
    
                    <div class="content-container">
                        <div class="icon">
                            <div class="txt">SH</div>
                        </div>
                          <div class="content">Sina: Thanks
                              <div class="time">10 hours ago</div>
                          </div>
                    </div> -->
                </div>
            </div>
            <div class="footer-container">
                <a>View all</a>
            </div>
        </div>
    </div>
    
</ng-container>