<div class="overall-container">



<div class="review-container">
    <div class="review-heading">
        Review Our Products
    </div>
     <p> 
    Share your own experience by writing reviews of software products used in your industry.
  </p>
  <div class="search-box">
    <span class="search-icon"><img alt="SearchIcon" src="../../../assets/icons/Search.svg"></span>
    <input type="text" 
        class="form-control" 
        placeholder="Search by products, categories, brands & more"
        (input)="onSearchInputChange($event)"
 >
        <!-- (focusout)="onFocusOutEvent($event)" -->
        
    </div>
</div>



<h2>Our Products</h2>
<div class="card-container">
  <ng-container *ngFor="let product of productList">
  <div class="card" (click)="selectProduct(product._id)">
  <div class="image">
    <img class="card-img" src="../../../../../assets/icons/Microsoft.svg">
  </div>
  <div class="card-cont">
    <div class="header">
      {{product.name}}
    </div>
    <div class="sponser">
By Microsoft
    </div>
  </div>
  </div>
</ng-container>
</div>
</div>