.product-details-container {
  display: flex;
  /* padding: 1%;
  margin: 1%; */
  flex-direction: column;
}
.product-details {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}
.product-image-view {
  display: flex;
  flex-basis: 60%;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}
.product-info {
  display: flex;
  flex-basis: 40%;
  padding: 1%;
  /* margin: 1%; */
  flex-direction: column;
}
.product-details-info{
  display: flex;
  flex-basis: 70%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}
.product-image {
  display: flex;
  flex-basis: 30%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}
.view-det-btn {
  border-radius: 8px;
  border: 1px solid cornflowerblue;
  text-align: center;
  color: cornflowerblue;
  width: fit-content;
  font-size: 16px;
  
}
.request-quote-btn {
  background: linear-gradient(180deg, #003388 -21.43%, #4A86EA 144.64%);
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  width: 40%;
}
.review-icon {
  color: orange;
  padding-top: 5px;
  line-height:2rem;
  overflow: visible;
}
.compare-box {
  padding: 2%;
  margin: 2%;
  border-radius: 8px;
background: #F1F8FF;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.compare-box-headers {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}
.plan-price {
  display: flex;
  border-radius: 8px;
  /* border: 0.1px solid gray; */
  padding: 1%;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  flex-direction: row;
  border-radius: 8px;
border: 1px solid #D9D9D9;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.plan-price-image {
  display: flex;
  flex-basis: 25%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}
.plan-price-info {
  display: flex;
  flex-basis: 75%;
  padding: 1%;
  margin: 1%;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.connect-us-box {
  display: flex;
  padding-top: 3%;
  margin-top: 10%;
  margin-left: 3%;
  border-radius: 30px;
  background: #F1F8FF;
  flex-direction: column;
}
.connect-us-desc {
  display: flex;
  padding: 2%;
  margin: 2%;
  flex-basis: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.connect-us-img {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-basis: 10%;
  /* flex-direction: column; */
}
.get-free-call-btn {
  border-radius: 8px;
  border: 1.5px solid cornflowerblue;
  text-align: center;
  color: cornflowerblue;
  width: fit-content;
  font-size: 16px;
  
}
.tab-nav-list {
  display: flex;
  padding: 1.5%;
  /* margin: 1%; */
  flex-direction: row;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  --bs-bg-opacity: 1;
}
.product-features-container {
  display: flex;
  padding: 1%;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.feature-desc-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-feature-cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
  align-items: center;
  padding: 1%;
  /* margin-bottom: 1%; */
  margin-left: 1%;
  margin-right: 1%;
  /* flex-direction: row; */
}
.product-feature-card {
  flex-basis: 31%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 2%;
  margin: 1%;
  border-radius: 8px;
  border: 0.1px solid gray;
  flex-direction: column;
}
.product-feature-card h6 {
  color:cornflowerblue;
}
@media (max-width: 768px) {
  .product-feature-card {
    flex-basis: 40%; /* Each card takes up 50% of the container width on smaller screens */
  }
}

@media (max-width: 580px) {
  .product-feature-card {
    flex-basis: 100%; /* Each card takes up 100% of the container width on even smaller screens */
  }
}

.bottom-container {
  display: flex;
  padding: 1%;
  /* margin: 1%; */
  flex-direction: column;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  --bs-bg-opacity: 1
}

.specification-cont {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
}
.specs-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  flex-direction: row;
}
.specs-name {
  display: flex;
  flex-basis: 23%;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}

@media (max-width: 768px) {
  .specs-name {
    flex-basis: 40%; /* Each card takes up 50% of the container width on smaller screens */
  }
}

@media (max-width: 580px) {
  .specs-name {
    flex-basis: 100%; /* Each card takes up 100% of the container width on even smaller screens */
  }
}

.similar-prod-card {
  display: flex;
  border-radius: 8px;
  flex-basis: 30%;
  /* border: 0.1px solid gray; */
  padding: 1%;
  margin:1%;
  flex-direction: row;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);;
}

.similar-prod-img-det {
  display: flex;
  flex-basis: 33%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}

.similar-prod-price-det {
  display: flex;
  flex-basis: 67%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}

.view-price-det-btn {
  /* border-radius: 8px;
  border: 1px solid cornflowerblue; */
  text-align: center;
  color: cornflowerblue;
  width: fit-content;
  font-size: smaller;
}

.similar-prod-price-det-title {
  display: flex;
  flex-basis: 33.3%;
}
.similar-prod-price-det-price {
  display: flex;
  flex-basis: 33.3%;
  /* flex-direction: row; */
}
.similar-prod-price-det-btn {
  display: flex;
  flex-basis: 10.3%;
}
.similar-prod-request-quote-btn {
  background: linear-gradient(180deg, #003388 -21.43%, #4A86EA 144.64%);
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.buy-now-prod {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
}
.buy-now-btn {
  background: linear-gradient(180deg, #F79C0B 0%, #C68600 100%);
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  text-align: center;
  margin-top: 3%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.input-field {
  background: var(--white);
  border: 1px solid #918F90;
  border-radius: 8px;
  width: 6em;
  height: 2em;
  text-align: center;
}
.offer-det {
  display: flex;
  /* padding: 1%;
  margin: 1%; */
  flex-direction: column;
}
.offer-card-container {
  display: flex;
  /* padding: 1%;
  margin: 1%; */
  flex-direction: row;
}
.offer-card {
  display: flex;
  flex-basis: 41%;
  padding: 1%;
  margin: 2%; 
  flex-direction: column;
  border-radius: 8px;
background: #FFF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

p{
  margin-bottom: 0;
}

.common-info {
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}
.common-det{
  display: flex;
  flex-basis: 20%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.comm-det-img {
 flex-basis: 30%;
}