<!---
    <global-search></global-search>

<div class="home-page-container">

        already commented
            <global-search></global-search>
            <carousel></carousel> 
    -->  


     




<!--
<products-by-category></products-by-category>
<div class="test">
    <carousel></carousel>
</div>

<products-by-brand></products-by-brand>
<products-by-trending></products-by-trending>


<product-card-item></product-card-item>

</div>

-->

<!-- <div (click) = "viewModal3(null)" class="compare-products-badge">
    <span class="offer-name-label">
        Compare
    </span>
</div> -->


<div class="header-container">
    <div class="header-content">
        <div class="header-text-content">
            We bring to you the Best of Products and Services for your Business Excellence
        </div>
        
        <!-- <div class="search-bar">
            <div class="form-group search-box-container">
                <search-box></search-box>
            </div>        
        </div> -->
        <div class="form-group search-box-container">
            <search-box style="position: absolute; width: 45%;"></search-box>
            <div id="searchBox" #elmSearchBox></div>
        </div>
        <div class="shop-feature-container">
            <div class="shop-feature-card">
                <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/CompareProducts3D.svg">
                    <div class="shop-feature-title">Compare Products</div>
                </div>
                <!-- <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/CompareProductStrokeIllustration.svg">
                    <span class="shop-feature-title">Compare Products</span>
                </div> -->
            </div>
            <div class="shop-feature-card">
                <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/GuaranteedPrice3D.svg">
                    <div class="shop-feature-title">Best price Guarantee</div>
                </div>
                <!-- <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/GuranteedPriceStrokeIllustration.svg">
                    <span class="shop-feature-title">Guranteed Price</span>
                </div> -->
            </div>
            <div class="shop-feature-card">
                <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/AutomatedDeployment3D.svg">
                    <div class="shop-feature-title">Automated Deployment</div>
                </div>
                <!-- <div class="shop-feature-content">
                    <img class="shop-feature-img" src="../../../assets/Shop/AutomatedDeploymentStrokeIllustration.svg">
                    <span class="shop-feature-title">Automated Deployment</span>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="header-background">
        <img class="header-background-img" src="../../../assets/ShopPageHeaderBackground.jpg">
    </div> -->
</div>

<div class="body-container">
    <div class="aboutus-container">
        <div class="container-headline">
            <h4>About our Platform</h4>
        </div>
        <div class="aboutus-content">
            <div>
                <!-- <iframe [src]="aboutOurPlatformVideoUrl" width="600" height="350" frameborder="0" title="test" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                <iframe [src]="aboutOurPlatformVideoUrl | safeurl"  class="iframe" width="600" height="350" frameborder="0" title="test" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="aboutus-text">
                <p class="teritary-content">Our platform will help you compare products for features & capabilities, and we ensure you guaranteed best price on all your purchases.</p>
                <p class="primary-content-headline">And You Know What!</p>
                <p class="primary-content">We have you covered with an automated deployments of your purchased products & solutions</p>
                <a href="https://realize.skysecuretech.com/" target="_blank"><button class="btn request-btn" >Access Platform</button> </a>
            </div>
        </div>
    </div>
    <div class="product-by-category-container">
        <products-by-category></products-by-category>
    </div>
    <div class="contactus-flyer">
        <img class="contactus-flyer-avatar" src="../../../assets/Shop/ContactUsFullIllustration.svg">
        <p class="primary-content">We are a call away if you want to speak to our solution experts</p>
        <button (click)="showBasicDialog()" class="request-btn">Contact Us</button>
    </div>
    <div class="trending-products-container">
        <products-by-trending></products-by-trending>
    </div>
    <!-- <div class="review-container">
        <div class="container-headline">
            <h4>Reviews</h4>
        </div>
        <div class="overall-review-content">
            <div class="review-card">
                
                <div class="review-content">
                    <p class="review-text"> We've been using Azure Active Directory for our company's cybersecurity needs, and it has been a positive experience overall. The user interface is straightforward, making it easy for our IT team to set up and manage user identities and access controls.</p>
                </div>
    
                <div class="reviewer-container">
                    <div class="reviewer-avatar">
                        <img class="reviewer-avatar-img" src="../../../assets/Shop/ReviewDummy/mubariz-mehdizadeh-t3zrEm88ehc-unsplash.jpg">
                    </div>
                    <div class="reviewer-details">
                        <div class="review-rating">
                        
                        <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                        <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                        <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                        <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                        <img class="review-icon" src="../../../assets/icons/StarStorkeIcon.svg">
                      </div>
                       
                        <div class="reviewer-name-container">
                            <p class="reviewer-name">David Webb</p>
                            <div class="verified-section">
                                <img class="success-icon" src="../../../assets/icons/SuccessTickIcon.svg">
                                <p class="verified-user">Verified user</p>
                            </div>
                        </div>
                        <p class="reviewer-role">Project Manager, Zoho.</p>
                    </div>                
                </div>
            </div>
            <div class="review-card">
                
                <div class="review-content">
                    <p class="review-text">Microsoft Intune has been our go-to solution for managing our mobile devices across the organization. The integration with Azure Active Directory is seamless, allowing us to enforce secure access controls and policies based on user identities.  </p>
                </div>
                <div class="reviewer-container">
                    <div class="reviewer-avatar">
                        <img class="reviewer-avatar-img" src="../../../assets/Shop/ReviewDummy/kelly-sikkema-JN0SUcTOig0-unsplash.jpg">
                    </div>
                    <div class="reviewer-details">
                        <div class="review-rating">
                            
                            <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                            <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                            <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                            <img class="review-icon" src="../../../assets/icons/StarIcon.svg">
                            <img class="review-icon" src="../../../assets/icons/StarStorkeIcon.svg">
                        </div>

                        <div class="reviewer-name-container">
                            <p class="reviewer-name">Ellyse Perry</p>
                            <div class="verified-section">
                                <img class="success-icon" src="../../../assets/icons/SuccessTickIcon.svg">
                                <p class="verified-user">Verified user</p>
                            </div>
                        </div>
                        <p class="reviewer-role">Cloud Business Delivery Head, Google.</p>
                    </div>                
                </div>
            </div>
            <div class="write-review-section">
                <p class="review-headline">We'd love to hear your feedback!</p>
                <img class="review-img" src="../../../assets/Shop/WriteaReviewIllustration.png">
                <p class="review-description">Tell us your experience about the products and services</p>
                <button class="request-btn">Write a review</button>
            </div>
        </div>
    </div> -->
    <div class="video">
        <video-carousel></video-carousel>
    </div>
    
</div>