<div class="final-container">
    <div class="final-content">
        <h4 class="d-flex justify-content-center mb-3 mt-3 productName">{{ productName }}</h4>
<div class="thanks-card">
    <!-- <div class="star">
       
            <div class="rating-stars">
                <mat-icon class="review-icon">star</mat-icon>
                <mat-icon class="review-icon">star</mat-icon>
                <mat-icon class="review-icon">star</mat-icon>
                <mat-icon class="review-icon">star</mat-icon>
                <mat-icon class="review-icon">star_border</mat-icon>
            </div>  
      
    </div> -->

    <div class="star">
        <div class="rating-stars">
          <mat-icon class="review-icon" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            {{ i < averageRating ? 'star' : 'star_border' }}
          </mat-icon>
         
        </div>
        
      </div>
      <!-- <div class="star">
        <div class="rating-stars">
         
          <ng-container *ngFor="let _ of [].constructor(starRating.whole); let i = index">
            <mat-icon class="review-icon">star</mat-icon>
          </ng-container>
      
       
          <ng-container *ngIf="starRating.fractional > 0">
            <mat-icon class="review-icon">star_half</mat-icon>
          </ng-container>
      
         
          <ng-container *ngFor="let _ of [].constructor(5 - starRating.whole - (starRating.fractional > 0 ? 1 : 0)); let i = index">
            <mat-icon class="review-icon">star_border</mat-icon>
          </ng-container>
        </div>
      </div> -->
      
    <div class="star-cont">
        Thanks for Submitting Review
    </div>
   
</div>

<div class="points">
    <ul>
        <ol>
        <li>To ensure that the reviews are genuine, our team verifies each review.</li>
        <li>Our team may reach out for your license number or a copy of the invoice to ensure compliance with our licensing and billing procedures.</li>
            <!-- <li>We will further send you Amazon voucher for every verified review for effort you had to take 🙂</li> -->
    </ol>
    </ul>
</div>


<div class="file-upload">
    <!-- <div class="upload">
        <label>Add purchase invoice copy</label>
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                (change)="uploadFile($event)" />
            <img *ngIf="productLogo" style="width: 100px;height: 100px;" src="{{productLogo}}"
                alt="productLogo" />
            <button *ngIf="productLogo" style="margin: 10px;" class="btn btn-warning"
                (click)="removeImage()">Remove</button>
            <label for="imageUpload" *ngIf="editFile" [ngClass]="['custom-label', 'upload-image']"></label>
            <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']"
                (click)="removeUploadedFile()"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
            </div>
        </div>
    </div> -->

    <div class="btn">
        <button class="btn primary-btn"  (click)="createProductReview()">Save Review</button> 
    </div>
    
</div> 
    </div>
    <div class="row"  *ngIf="showMsg" >
      <div class="col-12 d-flex  justify-content-end">
          <p class="alert alert-success">
              <strong>Product Review Created Successfully !</strong> 
          </p>
      </div>
    </div>

</div>
