<div class="brand-details-container">
    <ng-container *ngIf="onPageLoad">
        <div class="pd-header" [ngStyle]="{'background': 'url(' + productFamily.bannerURL + ') no-repeat 0 0 / cover'}" *ngIf="onPageLoad" >
            <div class="pd-header-title">
                <h3 [style.color]="getColor(productFamily.bannerTextColor)">{{productFamily.name}}</h3>
                <div class="pd-header-reviews">
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                </div>
                <div class="pd-header-desc">
                    <p [style.color]="getColor(productFamily.bannerTextColor)">{{productFamily.description}}</p>
                </div>
                <div class="pd-header-actions">
                    <button class="btn request-btn" (click)="requestQuote(productFamily)">Request quote</button>
                    <button class="btn tertiary-btn">Try free trail</button>
                </div>
            </div>
            <div class="pd-header-right">
                <img class="mat-card-img pd-header-right-img" mat-card-image src="{{productFamily.bannerLogo ? productFamily.bannerLogo : alternateLogo}}" alt="Microsoft" />
            </div>
        </div>

        <!-- Product BUndles -->
        


        <div class="bundles-container" [ngStyle]="{'background' : 'url(' + productFamily.bannerURL + ') no-repeat 0 0 / cover'}">
            <div class="overlay-header">
                <span class="text-header">
                    {{productFamily.name}}
                </span>
            </div>

            <div class="card flex justify-content-center custom-style-accordian">
                <p-accordion [multiple]="true" [activeIndex]="[0,1]">
                    <p-accordionTab header="Available Products">
                        <brand-bundle [productVarientData] = "productVarientData"></brand-bundle>
                    </p-accordionTab>

                    <!-- Product Bundles Accordian -->
                    <p-accordionTab header="Additional Features">
                        <brand-features [productVarientData] = "productVarientData"></brand-features>
                    </p-accordionTab>
                </p-accordion>
            </div>
            
            <!-- <div class="bundle-card-holder">
                <ng-container *ngFor="let product of products;">
                    <div class="" href="">
                        <bundle-card-flyer [productItem]="product"></bundle-card-flyer>
                    </div>
                </ng-container>
                <ng-container *ngFor="let productVarient of productVarients;">
                    <div class="" href="">
                        <bundle-card-flyer [productItem]="productVarient"></bundle-card-flyer>
                    </div>
                </ng-container>
            </div> -->
        </div>
    </ng-container>
</div>






