<div class="brand-details-container">
    <ng-container *ngIf="onPageLoad">
        <div class="pd-header" [ngStyle]="{'background': 'url(' + productFamily.bannerURL + ') no-repeat 0 0 / cover'}" *ngIf="onPageLoad" >
            <div class="pd-header-title">
                <h3 [style.color]="getColor(productFamily.bannerTextColor)">{{productFamily.name}}</h3>
                <div class="pd-header-reviews">
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                    <mat-icon class="review-icon">star</mat-icon>
                </div>
                <div class="pd-header-desc">
                    <p [style.color]="getColor(productFamily.bannerTextColor)">{{productFamily.description}}</p>
                </div>
                <div class="pd-header-actions">
                    <button class="btn request-btn" (click)="requestQuote(productFamily)">Request quote</button>
                    <button class="btn tertiary-btn">Try free trail</button>
                </div>
            </div>
            <div class="pd-header-right">
                <img class="mat-card-img pd-header-right-img" mat-card-image src="{{productFamily.bannerLogo ? productFamily.bannerLogo : alternateLogo}}" alt="Microsoft" />
            </div>
        </div>

        <!-- Product BUndles -->
        


        <div class="bundles-container" [ngStyle]="{'background' : 'url(' + productFamily.bannerURL + ') no-repeat 0 0 / cover'}">
            <div class="overlay-header">
                <span class="text-header">
                    {{productFamily.name}}
                </span>
            </div>

            <div class="card flex justify-content-center custom-style-accordian">
                <p-accordion [multiple]="true" [activeIndex]="[0]">
                    <p-accordionTab header="Products">

                        <brand-bundle></brand-bundle>
                        <!-- <div class="row-style">
                            <div class="product-holder">
                                <div class="product-header">
                                    <span>Office 365</span>
                                </div>
                                <div class="link-style">
                                    <span>View Details</span>
                                </div>
                            </div>
                            <div class="product-card-holder">
                                Sample
                            </div>
                        </div> -->
                    </p-accordionTab>

                    <!-- Product Bundles Accordian -->
                    <p-accordionTab header="Features Comparison">
                        <brand-features></brand-features>
                        <!-- <div class="container text-center">
                            <div class="row">
                               Hi
                              </div>
                        </div> -->
                    </p-accordionTab>
                </p-accordion>
            </div>
            
            <!-- <div class="bundle-card-holder">
                <ng-container *ngFor="let product of products;">
                    <div class="" href="">
                        <bundle-card-flyer [productItem]="product"></bundle-card-flyer>
                    </div>
                </ng-container>
                <ng-container *ngFor="let productVarient of productVarients;">
                    <div class="" href="">
                        <bundle-card-flyer [productItem]="productVarient"></bundle-card-flyer>
                    </div>
                </ng-container>
            </div> -->
        </div>
    </ng-container>
</div>






