.all-accounts-view {
    min-height: 36em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
}

.text-style{
    cursor: pointer;
    color: #3366CC;
}

th, td {
    text-align: center;
    font-size: 0.8em;
  }