<div class="gst-details-view">

    

    <div class="row jumbotron box8 container-style card-2 d-flex justify-content-between"> 
        <!-- <div class="row  d-flex align-items-center"> -->
        
          <!-- <div class="col-8"> -->
            <p *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">Please fill the mentioned details to generate estimation</p>
            <div class="quote-front-page">

              <div  *ngIf="!isCheckedSelf && !isCheckedOthers" class="self col-4">
                <div>
                  <img src="../../../../../../../assets/images/request_quote.png" class="image">
                </div>
              </div>
             
                <div id="customerToogle"  *ngIf="!isCheckedSelf && !isCheckedOthers" class="self col-8">
                  <p *ngIf="!isCheckedSelf && !isCheckedOthers" class="quote-head" >Request Quotation </p> 
                  <div class="radiobtns">
                    <div class="radio-group" (click)="handleChange('self')">
                        <input class="radio-circle" type="radio" [checked]="isCheckedSelf" name="myRadios" (change)="handleChange('self')" value="self" />
                        <!-- <span>Requesting for <span class="highlight" >Myself</span></span> -->
                          <span>Requesting for Myself</span>
                    </div>
                    <div class="radio-group"  (click)="handleChange('others')">
                        <input type="radio" class="radio-circle" [checked]="isCheckedOthers" name="myRadios" (change)="handleChange('others')" value="others" />
                        <!-- <span>Requesting for <span class="highlight" > Others</span></span> -->
                        <span>Requesting for Others</span>
                    </div>
                  </div>
                    <div class="btn-holder">
                    <button class="btn secondary-btn-btn" (click)="onCancelClick()">Cancel</button>
                  </div>
                </div>
              <!-- </div> -->
          <!-- </div> -->
      
        </div>
      
    



     <!-- <p *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">Please fill the mentioned details to generate estimation</p>
      <div class="quote-front-page">
      <p *ngIf="!isCheckedSelf && !isCheckedOthers" class="quote-head" >Requesting Quotation for ?</p>  
        <div id="customerToogle" *ngIf="!isCheckedSelf && !isCheckedOthers" class="self">
          <div class="radiobtns">
            <div class="radio-group" (click)="handleChange('self')">
                <input class="radio-circle" type="radio" [checked]="isCheckedSelf" name="myRadios" (change)="handleChange('self')" value="self" />
             
                <input type="radio" class="radio">  <span>Requesting for Myself</span>
            </div>
            <div class="radio-group"  (click)="handleChange('others')">
                <input type="radio" class="radio-circle" [checked]="isCheckedOthers" name="myRadios" (change)="handleChange('others')" value="others" />
               
                <input type="radio"><span>Requesting for Others</span>
            </div>
          </div>
            <div class="btn-holder">
            <button class="btn secondary-btn-btn" (click)="onCancelClick()">Cancel</button>
          </div>
        </div>
      </div>   -->


        <ng-container *ngIf="channelPartnerList && channelPartnerList.length>0">

        </ng-container>
        <!-- <div *ngIf="
        (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)" class="name-row-01">
          <div class="col col-sm-6 form-group">
            <label for="State">Referred By<span class="mandatory">*</span></label>
            <select class="form-control" (change)="onReferredByChange($event)">
              <option disabled selected>--Select Channel Partner--</option>
              <option *ngFor="let item of channelPartnerList" [value]="item | json">{{item.companyBusinessName}}</option>
            </select>
          </div>
        </div> -->


        <ng-container *ngIf="selectedGSTType ==='self'"> 

            <form [formGroup]="gstForm">

              <div class="gst-label">
                <p>Please Enter Company GST Number <a class="find-gst" href="https://www.knowyourgst.com/gst-number-search/by-name-pan/" target="_blank">(Search GSTIN)</a></p>
              </div>
                


                  <div class="col-sm-6 form-group">
                    <input formControlName="gstNo" type="text" class="form-control " name="gstNo" id="gst-no"
                      placeholder="Enter your GST NO" >
                    
                      {{disableGstNOField()}}
                      <span class="text-danger" *ngIf="gstForm.get('gstNo').invalid">Please enter valid GST Number</span>
                  </div>
                  <p class="or ">(Or)</p>
                  <div class="col-sm-12 check-box-holder">
                    <input type="checkbox" formControlName="checkGstNil" class="form-check d-inline" id="chb"  >
                    <div for="chb" class="nogstLable" >&nbsp;I Don't Have Company GST Number.
                      
                      {{disableCheckGstNil()}}
                    </div>
                  </div>
                  
            </form>
            
        </ng-container>
        <ng-container *ngIf="selectedGSTType ==='others'">
        
            <form [formGroup]="gstFormOthers">

                <div class="name-row-01">
                    <div class="col col-sm-4 form-group">
                      <label for="firstName">Name <span class="mandatory"> * </span> </label>
                      <input formControlName="firstName" type="firstName" class="form-control-01" name="Locality" (input)="onInputChanges($event)"
                        id="firstName" placeholder="Name" required>
                        <div *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">
                          <div class="error-message commonError" *ngIf="isOthers &&gstFormOthers.get('firstName')?.hasError('required')">
                            Please enter Name</div>  
                          </div>
                    </div>
                    <div class="col  form-group">
                      <label for="email">Email ID<span class="mandatory">*</span></label>
                      <input formControlName="email" type="email" class="form-control-01" name="email" id="email" (input)="onInputChanges($event)"
                        placeholder="Email ID" >
                        <!-- <div class="error-message" *ngIf="onGSTDetailsCLicked && gstFormOthers.get('email').hasError('required')">Email ID is required</div> -->
                        <!-- <div class="error-message" *ngIf="onGSTDetailsCLicked && gstFormOthers.get('email').hasError('email')">Please enter valid email address</div> -->
                        <div *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">
                          <div class="error-message commonError" *ngIf="isOthers &&gstFormOthers.get('email')?.hasError('required')">
                            Please enter Email</div>  
                         
                         
                          </div>
                          <div class="error-message commonError" *ngIf="gstFormOthers.get('email')?.hasError('pattern')">
                            Please enter Valid Email</div>  
                          
                    </div>
                </div>

                <div class="name-row-01">
                  <div class="col col-sm-4 form-group">
                    <label for="cod">Country code</label>
                    <select class="form-control browser-default custom-select">
                      <option data-countryCode="IN"  value="1" selected>IN (+91)</option>
                      <option data-countryCode="US" value="2" >USA (+1)</option>
                      <option data-countryCode="GB" value="44">UK (+44)</option>
                    </select>
                  </div>
                  <div class="col  form-group">
                    <label for="tel">Phone<span class="mandatory">*</span></label>
                    <input formControlName="phoneNo" type="tel" name="phone" class="form-control-01" id="tel" (input)="onInputChanges($event)"
                      placeholder="Enter Your Phone No." >
                      <!-- <div class="error-message" *ngIf="onGSTDetailsCLicked && gstFormOthers.get('phoneNo').hasError('required')">Phone No. is required</div> -->
                      <div *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">
                        <div class="error-message commonError" *ngIf="isOthers &&gstFormOthers.get('phoneNo')?.hasError('required')">
                          Please enter Phone Number</div>  
                       
                        <div class="error-message commonError" *ngIf="gstFormOthers.get('phoneNo')?.hasError('pattern')">
                          Please enter Valid 10 digit Phone Number</div>  
                        </div>
                  </div>
                </div>


                

                <div class="gst-label">
                  <p>Please Enter Company GST Number <a class="find-gst" href="https://www.knowyourgst.com/gst-number-search/by-name-pan/" target="_blank">(Search GSTIN)</a></p>
                </div>
                

                  <div class="col-sm-6 form-group">
                    <input formControlName="gstNo" type="text" class="form-control " name="gstNo" id="gst-no"
                      placeholder="Enter your GST NO" >
                    
                      {{disableGstNOField()}}
                      <span class="text-danger" *ngIf="gstForm.get('gstNo').invalid">Please enter valid GST Number</span>
                  </div>
                  <p class="or ">(Or)</p>
                  <div class="col-sm-12 check-box-holder">
                    <input type="checkbox" formControlName="checkGstNil" class="form-check d-inline" id="chb"  >
                    <div for="chb" class="nogstLable" >&nbsp;I Don't Have Company GST Number.
                      
                      {{disableCheckGstNil()}}
                    </div>
                  </div>
                  
            </form>
        </ng-container>
        <div *ngIf="gstErrorMessageFlag">
          <p class="error-message commonError">{{gstErrorMessage}}</p>
        </div>
        <!-- <div *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">
        <div class="error-message commonError" *ngIf="isOthers &&gstFormOthers.get('firstName')?.hasError('required')">
          Please enter Name</div>  
        </div> -->
        <!-- <div *ngIf="contactError">
          <div class="error-message commonError">Please enter either Email or Phone</div>
        </div> -->
        <div class="btn-holder" *ngIf=" (isCheckedSelf && !isCheckedOthers) || (!isCheckedSelf && isCheckedOthers)">
    
          <button class="btn secondary-btn" (click)="onBackClick()">Back</button>
          <button class="btn primary-btn" (click)="onNextClick()">Next</button>
    
        </div>
    </div>
    
    

</div>




 

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>







