p{
    margin-bottom: 0px;
}

.gst-label{
    margin-top: 25px;
    font-weight: 600;
    color: black;
    font-size: 14px;
    font-family: 'lato', sans-serif;
}

.container-style{
    width:75%;
    background-color: #fff;
    border-radius: 6px;
    padding : 15px;
    font-family: 'lato', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col-sm-11{
    width:100%
}

.gst-details-view{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    background: var(--primary);
    align-items: center;
    justify-content: center;
}

#customerToogle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin-top: 23px;
    column-gap: 2rem;
}

.radio-group {
    display: flex;
    column-gap: 15px;
    cursor: pointer;
    /* width: 80%; */
    box-sizing: border-box;
    border-radius: 50px;
    background-color: white;
    justify-content: center;
    /* margin-left: 10%; */
    padding: 8px;
    border: 1px solid #474BA0;
}
.radio{
    size:14px;
}
.error-message{
    color: red;
    text-align: center;
    font-size:  12px;
}

.or{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: orange;
}

.check-box-holder{
    display: flex;
    column-gap: 5px;
}
.mandatory{
    color: red;
}
.nogstLable{
    font-size: 14px;
    padding-top: 2px;
}
.btn-holder{
    display: flex;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-left: 20px;
}


.primary-btn {
    margin-bottom: 10px;
    font-size: 13px !important;
}

.secondary-btn{
    margin-bottom: 10px;
    font-size: 13px; 
}

.name-row-01 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
}

.phone-number-row{
 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: 600;
    color: black;
    font-size: 14px;
    font-family: 'lato', sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 6.5px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}

.form-control-01 {
    display: block;
    width: 100%;
    padding: 5px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}
.quote-front-page{
    display: flex;
    flex-direction: row;
    /* background-color: #F6F6F6; */
    /* width: 50%;
    margin-left: 25%; */
   border-radius: 10px;
   /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.quote-front-page1{
    display: flex;
    flex-direction: row;
    /* background-color: #F6F6F6; */
    /* width: 50%;
    margin-left: 25%; */
   border-radius: 10px;
   /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.frontPage{
    width: 50%;
}
.self{
    display: flex;
    flex-direction: column;
    /* background-color: #F6F6F6; */ 
    justify-content: center;
    align-content: flex-end; 
}
.radiobtns{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    width: 80%;
}


.quote-head{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #2E3489;
}
.highlight{
 font-weight: bold;
 color: black;

}
/* .highlight:hover{
    font-weight: bold;
    color: var(--white);
   
   } */
.radio-group:hover {
    background-color: #2E3489;
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
   
    font-weight: bold;
  }
  .radio-circle{
    display: none;
  }



  .secondary-btn-btn {
    color: var(--primary-500-purple);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 7rem;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--primary-300-purple);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
  }
  
  .secondary-btn-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: var(--primary-500-purple);
    background-color: var(--white);
    border: 1px solid var(--primary-500-purple);
  }
  
  .secondary-btn-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .secondary-btn-btn{
    margin-bottom: 20px;
    font-size: 13px; 
}

.primary-btn {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 6rem;
    border-radius: 8px;
    background: var(--btn-gradient);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
    padding: 7px;
  }
  
  .primary-btn:hover {
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* background: var(--btn-lite-gradient); */
  }
  
  .primary-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .secondary-btn {
    color: var(--primary-500-purple);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 6rem;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--primary-300-purple);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
    padding: 6px;
  }
  
  .secondary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: var(--primary-500-purple);
    background-color: var(--white);
    border: 1px solid var(--primary-500-purple);
  }
  
  .secondary-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .image{
    height: 400px;
    width: 500px;
  }
   


  @media  ( min-width: 320px) and (max-width:550px)  {
    .quote-front-page{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-style {
        width: 539px;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        font-family: 'lato', sans-serif !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .radiobtns {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        width: 300px;
    }
    .image {
        height: 200px;
        width: 250px;
        /* display: none; */
    }
    .self {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;
        align-items: center;
    }
    .row>* {
        flex-shrink: 0;
        width: 60%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    margin-left: 20%;
      }
      .gst-details-view {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        padding: 40px;
        background: var(--primary);
        /* align-items: center; */
        /* justify-content: center; */
    }
    #customerToogle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        column-gap: 2rem;
        width: 100%;
    }
    .name-row-01{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        column-gap: 20px;
    }
}

@media  ( min-width:550px) and (max-width:770px)  {
    .quote-front-page{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-style {
        width: 539px;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        font-family: 'lato', sans-serif !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .radiobtns {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        width: 300px;
    }
    .image {
        height: 200px;
        width: 250px;
        /* display: none; */
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    /* margin-left: 20%; */
      }
      .gst-details-view {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        padding: 40px;
        background: var(--primary);
        /* align-items: center; */
        /* justify-content: center; */
    }
    .quote-head{
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        color: #2E3489;
        width: 150px;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 95%;
        align-items: center;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 72%;
    }
}

@media  ( min-width:770px) and (max-width:1024px)  {
    .quote-front-page{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-style {
        width: 539px;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        font-family: 'lato', sans-serif !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .radiobtns {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        width: 300px;
    }
    .image {
        height: 200px;
        width: 250px;
        /* display: none; */
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    /* margin-left: 20%; */
      }
      .gst-details-view {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        padding: 40px;
        background: var(--primary);
        /* align-items: center; */
        /* justify-content: center; */
    }
    .quote-head{
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        color: #2E3489;
        width: 150px;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 95%;
        align-items: center;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 72%;
    }
}

@media  ( min-width:1024px) and (max-width:1300px)  {
    .quote-front-page{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-style {
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        font-family: 'lato', sans-serif !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .radiobtns {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        width: 400px;
        font-size: 20px;
    }
    .image {
        height: 300px;
        width: 450px;
        /* display: none; */
    }
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    /* margin-left: 20%; */
      }
      .gst-details-view {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        padding: 40px;
        background: var(--primary);
        /* align-items: center; */
        /* justify-content: center; */
    }
    .quote-head{
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        color: #2E3489;
        width: 200px;
        font-size: 20px;
    }
    /* .col-6 {
        flex: 0 0 auto;
        width: 95%;
        align-items: center;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 72%;
    } */
    .secondary-btn-btn {
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    .secondary-btn-btn {
        color: var(--primary-500-purple);
        font-size: 14px;
        font-weight: 500;
        border: none;
        outline: none;
        width: 8rem;
        border-radius: 8px;
        background: var(--white);
        border: 1px solid var(--primary-300-purple);
        transition: all .3s ease;
        box-shadow: 0 3px 6px #0000001a;
    }
}


@media  ( min-width:1920px) and (max-width:2100px)  {
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        /* margin-left: 15%; */
    }
    

.quote-head {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #2E3489;
    font-size: 24px;
}
.radiobtns {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    width: 80%;
    font-size: 24px;
}


.secondary-btn-btn {
    color: var(--primary-500-purple);
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 8rem;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--primary-300-purple);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
}
.image {
    height: 500px;
    width: 600px;
  
}
.col-6 {
    flex: 0 0 auto;
    width: 45%;
}
}
@media  ( min-width:2100px) and (max-width:2560px)  {
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        /* margin-left: 15%; */
    }
    

.quote-head {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #2E3489;
    font-size: 24px;
}
.radiobtns {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    width: 80%;
    font-size: 24px;
}


.secondary-btn-btn {
    color: var(--primary-500-purple);
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 8rem;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--primary-300-purple);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
}
.image {
    height: 500px;
    width: 600px;
  
}
.col-6 {
    flex: 0 0 auto;
    width: 35%;
}
}

.disabled-input {
    /* background-color: #f0f0f0;   */
    background-color: #f6f6f6;
    color: #808080; 
    cursor: not-allowed;
  }