<footer class="footer-container">

    <div class="footer-column p-4">



        <div class="section-01">
            <div class="logo">
                <img class="footer-logo" alt="" src="../../../assets/Realize/logos/Realize_Logo.svg">
            </div>
            <div class="heading">
                <p> Assess, Implement & Manage the best solutions!</p>
            </div>
        </div>
        <div class="section-02">
            <div class="sec02-heading">
                <h1>CONTACT US</h1>
            </div>
            <div class="phoneno">
                <div class="phone-icon"> <img alt="" src="../../../assets/icons/PhoneCall.svg"></div>
                <div class="phone-number"><span>(+91) 12345 67890</span></div>
            </div>
            <div class="message">
                <div class="message-icon"> <img alt="" src="../../../assets/icons/Mail.svg"></div>
                <div class="email">
                    <div class="email-01">
                        <p>support@altsystech.com </p>
                    </div>
                    <!-- <div class="email-02"><p>finance@altsystech.com </p></div> -->
                </div>

            </div>
        </div>
        <div class="section-03">
            <div class="sec03-heading">
                <h2>QUICK LINKS</h2>
            </div>

            <div class="A">
                <span>FAQs</span>
            </div>
            <div class="B">
                <span>NEWS</span>
            </div>
            <div class="C">
                <span>BLOGS</span>
            </div>
        </div>
        <div class="section-04">
            <div class="sec04-heading">
                <h1>SKYSECURE</h1>
            </div>
            <div class="location">
                <div class="location-icon"> <img alt="" src="../../../assets/icons/Mappin.svg"></div>
                <div class="address"><span></span>AGR Plaza, 6/1, 3rd floor, Bellandur, Bengaluru, Karnataka 560103
                </div>
            </div>
        </div>
        <div class="section-05">
            <div class="sec05-heading">
                <h3>SOCIAL MEDIA</h3>
            </div>
            <DIV class="social-icons">

                <div class="icon-1">
                    <a href="https://twitter.com/SkysecureT?t=eIQh6SBZr52JEPj57ntPWw&s=09"><img alt=""
                            src="../../../assets/icons/Twitter.svg"></a>
                </div>
                <div class="icon-2">
                    <a href="https://www.linkedin.com/company/skysecure-technologies/"><img alt=""
                            src="../../../assets/icons/LinkedIn.svg"></a>
                </div>
                <div class="icon-3">
                    <a href="https://skysecuretech.com/"><img alt="" src="../../../assets/icons/globe.svg"></a>
                </div>
            </DIV>
        </div>

    </div>




</footer>