<footer class="footer-container">

    <div class="footer-column p-4">



        <div class="section-01">
            <div class="logo">
                <img class="footer-logo" alt="" src="../../../assets/Logos/skysecureLogo.png">
            </div>
            <div class="heading">
                <p> Assess, Implement & Manage the best solutions!</p>
            </div>
        </div>
        <div class="section-02">
            <div class="sec02-heading">
                <h1>CONTACT US</h1>
            </div>
            <div class="phoneno">
                <div class="phone-icon"> <img alt=""  class="p-icon" src="../../../assets/icons/PhoneCall.svg"></div>
                <div class="phone-number"><span>(+91) 7353355526</span></div>
            </div>
            <div class="message">
                <div class="message-icon"> <img alt=""  class="p-icon" src="../../../assets/icons/Mail.svg"></div>
                <div class="email">
                    <div class="email-01">
                        <p>sales@skysecuretech.com</p>
                    </div>
                    <!-- <div class="email-02"><p>finance@altsystech.com </p></div> -->
                </div>

            </div>
        </div>
        <div class="section-03">
            <div class="sec03-heading">
                <h2>QUICK LINKS</h2>
            </div>

            <div class="A">
                <span>FAQs</span>
            </div>
            <!-- <div class="B">
                <span>NEWS</span>
            </div> -->
            <div class="C">
                <span>BLOGS</span>
            </div>
        </div>
        <div class="section-04">
            <div class="sec04-heading">
                <h1>SKYSECURE</h1>
            </div>
            <div class="location">
                <div class="location-icon"> <img alt="" class="p-icon" src="../../../assets/icons/Mappin.svg"></div>
                <div class="address"><span></span>AGR Plaza, 6/1, 3rd floor, Bellandur, Bengaluru, Karnataka 560103
                </div>
            </div>
        </div>
        <div class="section-05">
            <div class="sec05-heading">
                <h3>SOCIAL MEDIA</h3>
            </div>
            <div class="social-icons">

                <div class="icon-1" (mouseenter)="isHiddenTwitter = !isHiddenTwitter" (mouseleave)="isHiddenTwitter = !isHiddenTwitter">
                    <a href="https://twitter.com/SkysecureT?t=eIQh6SBZr52JEPj57ntPWw&s=09" target="_blank">
                        <ng-container *ngIf="isHiddenTwitter"><img class="p-icon-01" src="../../../assets/icons/TwitterIcon.svg"></ng-container>
                        <ng-container *ngIf="!isHiddenTwitter"><img alt="" class="p-icon-01" src="../../../assets/icons/TwitterXicon.svg"></ng-container>
                    </a>
                </div>
                <div class="icon-2" (mouseenter)="isHiddenLinkedIn = !isHiddenLinkedIn" (mouseleave)="isHiddenLinkedIn = !isHiddenLinkedIn">
                    <a href="https://www.linkedin.com/company/skysecure-technologies/" target="_blank">
                        <ng-container *ngIf="isHiddenLinkedIn"><img alt="" class="p-icon-02" src="../../../assets/icons/LinkedInIcon.svg">
                        </ng-container>
                        <ng-container *ngIf="!isHiddenLinkedIn"><img alt="" class="p-icon-02" src="../../../assets/icons/LinkedInWhiteIcon.svg">
                        </ng-container>
                    </a>
                </div>
                <div class="icon-3" (mouseenter)="isHiddenYouTube = !isHiddenYouTube" (mouseleave)="isHiddenYouTube = !isHiddenYouTube">
                    <a href="https://www.youtube.com/channel/UCdCps8R7SdXhW3YQnE6tsyg"    target="_blank">
                        <ng-container *ngIf="isHiddenYouTube"><img alt="" class="p-icon-02" src="../../../assets/icons/YoutubeIcon.svg"></ng-container>
                        <ng-container *ngIf="!isHiddenYouTube"><img alt="" class="p-icon-02" src="../../../assets/icons/YoutubeIcon-1.svg"></ng-container>
                    </a>
                </div>
            </div>
        </div>

    </div>




</footer>