/* .footer {
    background: #0b0d1b;
    float: left;
    width: 100%;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
} */

.footer-container{
    background: #081539;
    display: block;
    /* padding-top: 2em; */
}

.text-white{
    color: var(--text-white) !important;
}

.logo-style {
    width: 4em;
}

.nested-row-bottom {
    padding-bottom: 15%;
}


.footer-column {
    display: flex;
    background: #081539;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* border-top: 1px solid #ccc; */
}

.item-large {
    flex: auto;
    padding-bottom: 32px;
    width: 30%;
    /* border-right: 1px solid #d9d9d9; */
}

.item-small {
    flex: auto;
    padding-bottom: 32px;
    width: 20%;
    /* border-right: 1px solid #d9d9d9; */
}

.section-header {
    color: var(--text-grey) !important;
}

.image-holder {
    display: flex !important;
}

.image-holder img{
    width: 1.6em;
    height: 1.6em
}
.image-background {
    background: var(--primary);
    border-radius: 50%;
}