<footer class="footer-container">

    <div class="footer-column p-4">

        <!-- Section 1 -->
        <div class="item-large">
            <div class="row">
                
                <div class="p-4">
                  
                  <h6 class="text-uppercase fw-bold mb-4">
                      <img class="logo-style" src="../../../assets/images/altsys_logo_dark.png">
                  </h6>
                  <p class="text-white">
                      Assess, Implement & Manage the best solutions!
                  </p>
                </div>
                
            </div>
        </div>
        <!-- Section 1 -->

        <!-- Section 2 -->
        <div class="item-large">
            <div class="text-white p-4">
                
                <h6 class="text-uppercase section-header  fw-bold mb-4">
                    CONTACT US
                </h6>
                <!-- Nested Grid -->
                <div class="row nested-row-bottom">
                    <div class="col-md-3">
                        <img src="../../../assets/icons/PhoneCall.svg">
                    </div>
                    <div class="col-md-9">
                        <span>(+91) 12345 67890</span>
                    </div>
                </div>
                <div class="row nested-row-bottom">
                    <div class="col-md-3">
                        <img src="../../../assets/icons/Mail.svg">
                    </div>
                    <div class="col-md-9">
                        <span>support@altsystech.com </span>
                        <span>finance@altsystech.com</span>
                    </div>
                </div>
                <div class="row nested-row-bottom">
                    <div class="col-md-3">
                        <img src="../../../assets/icons/Mappin.svg">
                    </div>
                    <div class="col-md-9">
                        <span>AGR Plaza, 6/1, 3rd floor, Bellandur, Bengaluru, Karnataka 560103</span>
                    </div>
                </div>
                <!-- Nested Grid Ends -->
            </div>
            
        </div>
        <!-- Section 2 -->



        <!-- Section 3 -->
        <div class="item-small">
            <div class="text-white p-4">
                
                <h6 class="text-uppercase section-header  fw-bold mb-4">
                    Quick Links
                </h6>
                <!-- Nested Grid -->
                <div class="row nested-row-bottom">
                    
                    <div class="col-md-9">
                        <span>FAQs</span>
                    </div>
                </div>
                <div class="row nested-row-bottom">
                    
                    <div class="col-md-9">
                        <span>News </span>
                        
                    </div>
                </div>
                <!-- Nested Grid Ends -->
            </div>
        </div>
        <!-- Section 3 -->

        <!-- Section 4 -->
        <div class="item-small">
            <div class="text-white p-4">
                
                <h6 class="text-uppercase section-header  fw-bold mb-4">
                    ALTSYS
                </h6>
                <!-- Nested Grid -->
                <div class="row nested-row-bottom">
                    
                    <div class="col-md-9">
                        <span>Blogs</span>
                    </div>
                </div>
                <div class="row nested-row-bottom">
                    
                    <div class="col-md-9">
                        <span>Contact Us</span>
                        
                    </div>
                </div>
                <!-- Nested Grid Ends -->
            </div>
        </div>
        <!-- Section 4 -->

        <!-- Section 5 -->
        <div class="item-large">
            <div class="text-white p-4">
                <h6 class="text-uppercase section-header  fw-bold mb-4">
                    SOCIAL MEDIA
                </h6>

                <div class="row nested-row-bottom">
                    <div class="col-md-4 image-holder">
                        <div class="image-background p-2">
                            <img src="../../../assets/icons/Twitter.svg">
                        </div>
                        
                    </div>
                    <div class="col-md-4 image-holder">
                        <div class="image-background p-2">
                            <img src="../../../assets/icons/LinkedIn.svg">
                        </div>
                        
                    </div>
                    <div class="col-md-4 image-holder">
                        <div class="image-background p-2">
                            <img src="../../../assets/icons/Pinterest.svg">
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Section 5 -->

    </div>

</footer>



  