.nodata{
    text-align: center;
    padding-top: 10px;
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-size: 12px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    font-size: 12px;
}

.no-img{
    width:50%;
}

:host ::ng-deep.p-paginator.p-paginator-bottom
{
    font-size: 13px;
}

:host ::ng-deep.p-paginator .p-paginator-pages .p-paginator-page{
    height: 2rem;
    min-width:2rem
}
:host ::ng-deep .tooltip .ui-tooltip-text {
   font-size: 8px; 
  }