<div class="login-container">
    <div class="LHS">
        <div class="logo">
            <img class="skysecure-logo" src="../../assets/Logos/skysecureLogo.png">
        </div>
        <div class="center-img">
            <img class="login-img" src="../../assets/images/loginsignup/logininImage.svg">
        </div>
        <div class="welcome"><h1>Welcome to skysecure!</h1></div>
        <div class="content">
            <span>
                <p>   
                A complete business solution to streamline operations, simplify purchase process, and foster a culture of security awareness throughout the organization.</p> 
               <p>Streamline | Simplify | Secure</p> 
            </span>
        </div>
    </div>
    <div class="RHS">
        <!-- <login></login> -->
        <router-outlet></router-outlet>
    </div>
</div>