.business-details-container{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    background: var(--primary);
    align-items: center;
    justify-content: center;
}

.container-style{
    width:75%;
    background-color: #fff;
    border-radius: 6px;
    padding : 15px;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.error-message{
    color: red;
    text-align: left;
    font-size: 13px;
}

.btn-holder{
    display: flex;
    column-gap: 7%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}


.primary-btn {
    margin-bottom: 10px;
    font-size: 13px !important;
}

.secondary-btn{
    margin-bottom: 10px;
    font-size: 13px; 
}

.name-row-01 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
}

.phone-number-row{
 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: 600;
    color: black;
    font-size: 14px;
    font-family: 'lato', sans-serif;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 6.5px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}

.form-control-01 {
    display: block;
    width: 100%;
    padding: 5px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}

/* Primeng Auto Focus Change */
:host ::ng-deep .p-autocomplete{
   
    width:100% !important;
    height: 35px !important;
    
}

:host ::ng-deep .p-inputtext{
    border: 1.6px solid #918F90 !important;
}


