<div id="customers-details-view">

<ng-container *ngIf="customerData">



  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      
      <div class="company-header"> 
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-car icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        {{customerMasterData.company_name}}
                    <div class="page-title-subheading">
                        Contact Name - {{customerMasterData.contact_name}}
                    </div>
                    </div>
                </div>
                  
            </div>
        </div> 
      </div>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-black bg-card o-hidden h-100">
            <div class="card-body">
              
              <div class="mr-5">Total Estimates</div>
              <div class="card-value">
                {{customerEstimates ? customerEstimates.length : 0}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-black bg-card o-hidden h-100">
            <div class="card-body">
              
              <div class="mr-5">Total Invoices</div>
              <div class="card-value">
                {{customerInvoices ? customerInvoices.length : 0}}
              </div>
            </div>
           
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-black bg-card o-hidden h-100">
            <div class="card-body">
              
              <div class="mr-5">Transaction Value</div>
              <div class="card-value">
                {{customerProfits.total.income_total}}
              </div>
            </div>
            
          </div>
        </div>
        
      </div>


      <div class="row">
        <!-- Invoice Table-->
        

        <!-- Estimates Table -->
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Estimate Data
            </div>
            <div class="card-body">
              <customer-details-estimates-table [customerEstimates] = "customerEstimates"></customer-details-estimates-table>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Invoice Data
            </div>
            <div class="card-body">
              <customer-details-invoice-table [customerInvoices] = "customerInvoices"></customer-details-invoice-table>
            </div>
          </div>
        </div>
      </div>




      

      

    </div>


    

 
  </div>




</ng-container>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  >
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>


