
.global-search-container{
    background-image: url('../../../../assets/images/searchBackground.jpg');
    background-repeat: repeat-y;
    height: 322px;
    width: 100%;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    color: var(--white);
    padding-bottom: 20px;
}