<div class="all-accounts-view">
    <ng-container *ngIf="(allMarketPlaceList && allMarketPlaceList.length>0) ; else noDataFound">
        <div class="card">
            <p-table 
                [value]="allMarketPlaceList" 
                [tableStyle]="{ 'min-width': '60rem' }"
                [paginator]="true"
                [rows]="15"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
 >
                <!-- [rowsPerPageOptions]="[10, 25, 50]" -->
                <ng-template pTemplate="header">
                    <tr class="thfont">
                        <th>S.no</th>
                        <th>Customer </th>
                        <th>Contact </th>
                        <th> Phone</th>
                        <th>Created On</th>
                        <th>Status</th>
                         <!-- <th>Place of Supply</th> -->
                        <th>Assigned Partner</th>
                        <th>Last Updated</th>
                        <th>Estimate No.</th>
                        <th>Invoice No.</th>
                        <!-- <th>Value <span class="gst" >(GST Extra)</span></th> -->
                         <th>Value </th>
    
                        <th> </th>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="body" let-account let-i="rowIndex">
                    <tr>
                        <td>
                            <div class="text-style" (click)="getAccountById(account)">
                                {{ account.id }}
                            </div>
                            
                        </td>
                        <td>{{ account.Owner.name }}</td>
                        <td>{{ account.Account_Name }}</td>
                        <td>{{ account.Account_Type }}</td>
                        <td>
                            
                            <div class="btn-holder">
                                <button id="assign-btn" class="btn" (click)="assign(account, i)">Assign</button>
                            </div>
                        </td>
                    </tr>
                </ng-template> -->
    
                <ng-template pTemplate="body" let-account let-i="rowIndex">
                    
                    <tr class="trfont custom-hover">
                       
                        <td >
                            <div class="text-style .ui-tooltip-text "  matTooltip={{account.cartData.cart_ref_id}} matTooltipPosition="below" (click)="getAccountById(account.cartData._id)">
                                  {{ i+1 }} 
                            </div>

                         
                            
                        </td>
                       
                        <td>
                            <div class="text-style"   matTooltip="View Lead Detail" matTooltipPosition="below" (click)="getAccountById(account.cartData._id)">
                            <!-- {{ (account.createdFor && account.createdFor.company) ? account.createdFor.company :  account.createdFor.companyBusinessName}} -->
                            {{ (account.createdFor && account.createdFor.company) ? account.createdFor.company : ''}}
                    </div>                
                    </td>
                    <td>
                            {{ (account.createdFor && account.createdFor.firstName) ? account.createdFor.firstName : '-'}}</td>
                       
                        <td>{{ (account.createdFor && account.createdFor.mobileNumber) ? account.createdFor.mobileNumber : '-'}}</td>
                        <td>{{ (account.createdFor && account.createdFor.createdAt) ? (account.cartData.createdAt | dateFormat) : '-'}}</td>
                        <!-- <td>{{ account.cartData.status ? account.cartData.status: '-'}}/ {{account.cartData.leadStatusUpdate?account.cartData.leadStatusUpdate: 'UnAssigned' }}</td> -->
                        <td> {{account.cartData.leadStatusUpdate?account.cartData.leadStatusUpdate: 'UnAssigned' }}</td>
                        <!-- <td>{{ account.createdFor.placeOfSupply}}</td> -->
                        <td>
                            <ng-container *ngIf="account?.assignedChannalpartner else noValuecp1">
                            {{ account?.assignedChannalpartner?.channelPartner?.name }} 
                              </ng-container>
                              <ng-template #noValuecp1>-</ng-template>
                         </td> 
                         <td>
                            <ng-container *ngIf="account?.cartData?.assignedChannelPartnerId; else noValuecp">
                            
                                {{ account?.cartData.leadUpdatedDate | dateFormat }}
                              </ng-container>
                              <ng-template #noValuecp>-</ng-template>
                         </td> 
    
                        <td>
                            <ng-container *ngIf="account.cartData.zohoEstimateNo; else noValue">
                                {{  account.cartData.zohoEstimateNo }}
                              </ng-container>
                              <ng-template #noValue>-</ng-template>
                         </td> 
                         <td>
                            <ng-container *ngIf="account.cartData.zohoInvoiceNo; else noInvoice">
                                {{  account.cartData.zohoInvoiceNo }}
                              </ng-container>
                              <ng-template #noInvoice>-</ng-template>
                         </td> 
                        <!-- <td>{{ account.zohoBookEstimateData.estimate_number }}</td> -->
                        <td>
                            <ng-container *ngIf="account.cartData.zohoEstimateValue; else cartValue">
                                {{ account.cartData.zohoEstimateValue}}
                              </ng-container>
                              <ng-template #cartValue>{{account.TotalCartValue}}</ng-template>
                            
                            
                          
                        
                        </td>
                        <td>
                            
                            <div class="btn-holder">
                                <button id="assign-btn" matTooltip="Assign Lead" matTooltipPosition="below" class="btn primary-btn" [disabled]="disableAssign" (click)="assign(account, i)"><img alt="assign" src="../../../../../assets/icons/AssignUser.svg"></button>
                                <!-- <button id="assign-btn" matTooltip="Remove Lead" matTooltipPosition="below" class="btn primary-btn alert-btn" [disabled]="disableAssign" (click)="openReasonModal()"><img alt="remove" src="../../../../../assets/icons/CloseIcon-white.svg"></button> -->
                            </div>
                        </td>
                    </tr>   
                </ng-template>
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template> -->
                <!-- <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->
            </p-table>
        </div>

    </ng-container>

    <ng-template #noDataFound>
        <div class="nodata"  >
            <p>No data found !</p>
            <img class="no-img" src="../../../../../assets/images/nodata.jpg">
        </div>
    </ng-template>
</div>
