.contact-us-wrapper{
    padding: 0px 0px 0px 0px;
}
.contact-us-container{
    /* border: 1px solid #d9d9d9;
    border-radius: 8px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    font-family: 'lato',sans-serif;
}




body {
    background: #efefef;
    font-family: 'lato',sans-serif;
  }
  

  .card-container {
    
    border: none !important;
    border-radius: none;
    box-shadow: none;
    height:350px;
    background-image: url("../../../../assets/ShopPageHeaderBackground.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    /* background: var(--white); */
    border-radius: 5px;
  }
  .modal-logo{
    padding: 20px;
    text-align: center;
  }
  .company-logo{
    width:225px;
    height: 50px;
  }