<div class="modal-container">
  <div class="privacy">
    <div class="header">
      <h2>Terms And Conditions</h2>
    </div>
    <div class="privacy-cont">
      <p>Users who have registered businesses can buy products from merchants on the platform that meet their needs.
        However, all purchases made on the Platform must be for personal use. Users are forbidden from using any of the
        products they buy through the Platform for business, advertising, resale, or further distribution. </p>
      <ul>
        <li>The user will be sent a Tax Invoice ("GST invoice") for the purchase of all such products, which will, among
          other things, have the following information printed on it:
        </li>
        <ol>
          <li>The GSTIN submitted by the User in connection with the registered business of the User.
          </li>
          <li>The User's specified Entity Name for the User's Registered Business.</li>
        </ol>
      </ul>

      <ul>
        <li>Please be aware that not every product qualifies for a GST Invoice. Only specific items sold by
          participating sellers and bearing the callout "GST Invoice Available" on the Platform's product detail page
          will be qualified for GST Invoice.

          The following goods and services will not be eligible for GST Invoice: </li>
        <ol>
          <li>If the items come with Value Added Services such as Complete Mobile Protection or Assured Buyback.</li>
          <li>If an exchange offer is made concurrently with the purchase of the goods.</li>
        </ol>
      </ul>


      <p>Please be aware that the GST invoice must include the user's GSTIN and the name of the business entity that the
        user has specified. Users should make sure the information they enter is accurate.
      </p>
      <p>Any request for a correction to the GST Invoice will not be entertained by Skysecuretech.com or the Seller.
        Skysecuretech.com and the Seller are not responsible for any failure on the part of the user, including issues
        related to information the user has provided.
      </p>
      <p> Please be aware that Skysecuretech.com is not in any way responsible for the GST Invoice or any associated
        input tax credit. Please choose the address that is listed as the registered place of business according to the
        GST authority's data in order to efficiently claim an input tax credit. Please be aware that the provisions of
        the GST Act and rules must be followed in order to claim an input tax credit.
      </p>
      <p>The delivery and billing addresses must match; additionally, the GST authority will not grant input tax credits
        if the delivery address and GSTIN on the GST invoice are from different states. Please be aware that if the
        wrong GST details are given when placing an order, the order will be automatically cancelled.
      </p>
    </div>

    <div class="close">
      <button class="btn secondary-btn" (click)="onCancelClick()">Close</button>
    </div>
  </div>

</div>