<div class="rating-container">
    <div class="rating-content">
     
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <div
             class="d-flex justify-content-center mb-3 mt-3 productName">  Write a Review For -  {{ productName }} 
          </div>
          <!-- <h4 class="d-flex justify-content-center mb-3 mt-3">Write a Review For - {{ productName }}</h4> -->
            <!-- How frequently do you use this software? -->
            <div class="input-cont">
              <label for="frequentSoftwareUsage">How frequently do you use this software?</label>
              <select formControlName="frequentSoftwareUsage" id="frequentSoftwareUsage">
                <option value="">Please Select</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
              </select>
            </div>
          
            <!-- What is your role in using this software? -->
            <div class="review-field-main">
              <label class="review_form_field_label">What is your role in using this software?</label>
              <div class="smalltextafterlabel">(Select all that apply)</div>
          
              <div class="custom-control">
                <input type="checkbox" id="role_checkbox_1" value="I am a user">
                <label for="role_checkbox_1">I am a user</label>
              </div>
          
              <div class="custom-control">
                <input type="checkbox"  id="role_checkbox_2" value="I am the administrator">
                <label for="role_checkbox_2">I am the administrator</label>
              </div>
          
              <div class="custom-control">
                <input type="checkbox" id="role_checkbox_3" value="I am on the team that set up, implemented, or customized this product">
                <label for="role_checkbox_3">I am on the team that set up, implemented, or customized this product</label>
              </div>
          
              <div class="custom-control">
                <input type="checkbox"  id="role_checkbox_4" value="I helped select or purchase this product">
                <label for="role_checkbox_4">I helped select or purchase this product</label>
              </div>
          
              <div class="custom-control">
                <input type="checkbox"  id="role_checkbox_5" value="I am a reseller">
                <label for="role_checkbox_5">I am a reseller</label>
              </div>
            </div>
          
            <!-- Pros -->
            <div class="pros">
              <label for="pros">Pros:<span style="font-weight: 600;">What did you find most impressive about This  {{ productName }}  <span class="astrik">*</span><span style="font-size: 12px;color: #6C6C6C;">(Min-Character count: {{ characterCount }}/150)</span></span></label>
              <textarea [(ngModel)]="text" (input)="countCharacters()" formControlName="pros" id="pros" minlength="150"   placeholder="What is the most beneficial about this product? What feature is most impactful? Is this value for money?" required></textarea>
            </div>
          
            <!-- Cons -->
            <div class="pros">
              <label for="cons">Cons:<span style="font-weight: 600;">Please provide which {{ productName }} features/part can be improved<span class="astrik">*</span><span style="font-size: 12px;color: #6C6C6C;"></span></span></label>
              <textarea  [(ngModel)]="text01" (input)="countCharacters01()" formControlName="cons" id="cons"   placeholder="What is the least beneficial about this product?" required></textarea>
            </div>
          
            <!-- How likely are you to recommend This Product? -->
            <div class="software-review-main">
              <div class="heading">How likely are you to recommend This Product?<span class="astrik">*</span></div>
              <div class="likely_not_likely">
                <span class="emoji-cont">Not likely </span>
                <img class="lazyloaded" src="https://www.softwaresuggest.com/assets2/img/sad_imoji_review.svg"
                     data-src="https://www.softwaresuggest.com/assets2/img/sad_imoji_review.svg" alt="imoji">
                <ul class="rating_numbar_main">
                  <li *ngFor="let rating of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [attr.data-rating-value]="rating"
                      [ngClass]="{'numbar_li selected': rating === reviewForm.get('productRecommendRate').value}"
                      (click)="reviewForm.get('productRecommendRate').setValue(rating)">{{rating}}
                  </li>
                </ul>
                <div class="likely_not_likely">
                  <span class="emoji-cont">Extremely likely </span>
                  <img class="lazyloaded" src="https://www.softwaresuggest.com/assets2/img/happy_imoji_review.svg"
                       data-src="https://www.softwaresuggest.com/assets2/img/happy_imoji_review.svg" alt="imoji">
                </div>
              </div>
            </div>
          
            <!-- How would you rate after sales service/customer support of This Product? -->
            <div class="software-review-main">
              <div class="heading">How would you rate after sales service/customer support of This Product?<span class="astrik">*</span></div>
              <div class="likely_not_likely">
                <span class="emoji-cont">Not likely </span>
                <img class="lazyloaded" src="https://www.softwaresuggest.com/assets2/img/sad_imoji_review.svg"
                     data-src="https://www.softwaresuggest.com/assets2/img/sad_imoji_review.svg" alt="imoji">
                <ul class="rating_numbar_main">
                  <li *ngFor="let rating of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"[attr.data-rating-value]="rating"
                      [ngClass]="{'numbar_li selected': rating === reviewForm.get('salesAndSupportRate').value}"
                      (click)="reviewForm.get('salesAndSupportRate').setValue(rating)">{{rating}}
                  </li>
                </ul>
                <div class="likely_not_likely">
                  <span class="emoji-cont">Extremely likely </span>
                  <img class="lazyloaded" src="https://www.softwaresuggest.com/assets2/img/happy_imoji_review.svg"
                       data-src="https://www.softwaresuggest.com/assets2/img/happy_imoji_review.svg" alt="imoji">
                </div>
              </div>
            </div>
          
            <!-- What other products like This product have you used or evaluated? -->
            <div class="user-info">
              <label for="otherProducts">What other products like This product have you used or evaluated?<span class="astrik">*</span><span style="font-size: 12px;color: #6C6C6C;">(Min-Character count: {{ characterCount02 }}/150)</span></label>
              <textarea [(ngModel)]="text02" (input)="countCharacters02()" formControlName="otherProductExperience" id="otherProductExperience" minlength="150"
                        placeholder="Have you tried any other Software/ like This Product? Any comparison between the two products?" required></textarea>
            </div>
          
            <!-- Any Missing Feature? -->
            <div class="user-info">
              <label for="missingFeatures">Any Missing Feature?<span class="astrik">*</span> <span style="font-size: 12px;color: #6C6C6C;"></span></label>
              <textarea [(ngModel)]="text03" (input)="countCharacters03()" formControlName="missingFeature" id="missingFeature" 
                        placeholder="Any features you find missing in This  Product?" required></textarea>
            </div>
          
            <div class="buttons">
              <div class="btn-01">
                <button class="btn secondary-btn" (click)="goToProductReviewpage()">Previous</button>
              </div>
             
              <div class="btn-02">
                <button class="btn primary-btn">Next</button>
              </div>
            </div>
            <div *ngIf="NextErrorMessage">
              <p class="error">* Please Fill All Mandatory Fields</p>
            </div>
          </form>
          
          <div class="guide-container">
            <div class="guide-heading">Review Guidelines</div>
            <div class="guide-cont">
              All reviews will be moderated before publication and must meet our guidelines. Reviews must be substantive, professional, and avoid self-promotion. Moderators will use their discretion to approve reviews.
            </div>
            <div class="guide-image">
              <!-- Your guide images and content here -->
            </div>
          </div>
          
    </div>
</div>
