<!-- <div class="modal-header">
	<h4 class="modal-title">Hi there!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	<div class="card lesson-border">
		<img class="card-img-top" src="{{lesson.image_path}}" alt="Card image cap">
		<div class="card-body">
			<p class="card-text"><b>Date: </b>{{lesson.startdate}}</p>
			<p class="card-text"><b>Week: </b>{{lesson.week}}</p>
			<h5 class="card-title"><b>Title: </b>{{lesson.title}}</h5>
			<p class="card-text"><b>Description: </b>{{lesson.description}}</p>
			<p class="card-text"><b>Category: </b>{{lesson.category}}</p>
			<p class="card-text"><b>Content: </b>{{lesson.lessoncontent}}</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->

<div>
    Product Varient Works
</div>