.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-header img{
    width:20%;
}
.item-list{
    display: flex;
    align-items: baseline;
    padding: 5px;
}

.item-list span {
    margin-left: 5px;
}

.request-btn {
    background: linear-gradient(90deg, #A9383D 35.42%, #D58583 100%);
    border-radius: 8px;
    color: #FFFFFF;
    border: 1px solid #EFEFEF;
    height: 40px;
}

.compare-btn {
    background: #F6EBEC;
    border: 1px solid #A9383D;
    border-radius: 8px;
    text-align: center;
    color: #A9383D;
    margin-right: 10px;
}