.card-section {
    background-color: #fff;
    border-radius: 10px;
}

.card-section:hover {
    background-color: var(--primary-50-purple);
}

.card-item{
    border-radius: 5px;
    height: 12rem;
    width: 10rem;
    /* background: var(--secondary); */
    cursor: pointer;
}

/* .category-card :hover {
    border: 2px solid var(--light_border);
} */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex!important;
    row-gap: 5%;
}
.ellipse{
    /* background: #EBECF6; */
    border-radius: 50%;
}

.card-item img{
    /* width: 3em; */
    height: 5em;
}
.text-normal {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #686A77;
    
}

.j_Y {
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
}

@media  ( min-width: 1025px) and (max-width: 1200px)  {
   
    
}


@media  ( min-width: 771px) and (max-width: 1024px)  {

    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 100%;
        height: 100%;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 50%;
        max-width: 95px;
    }
    .text-normal{
        font-size: 12px;
    }

   
}


@media  ( min-width: 481px) and (max-width: 770px)  {
    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 100%;
        height: 100%;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 50%;
        max-width: 95px;
    }
    .text-normal{
        font-size: 12px;
    }
      
}

@media  ( min-width: 320px) and (max-width: 480px)  {

    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 95%;
        height: auto;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 75px;
        padding-top: 10px;
        max-width: 100px;
    }
    .text-normal{
        font-size: 12px;
    }
}




.prod-card-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    /* margin-left: 15%; */
cursor: pointer;
}
.prod-card-container{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
background: var(--bg, #FEFEFF);
box-shadow: 0px 4px 8px 0px rgba(216, 222, 229, 0.80);
width: 236px;
height: 320px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
}

.prod-img{
    display: flex;
    background: var(--text-bg, #FBFBFB);
    justify-content: center;
border-radius: 6px;
    align-items: center;
    width: 200px;
height:200px;
flex-shrink: 0;
margin-top: 20px;
}

.prod-icon{
    width: 135.818px;
height: 96.838px;
}
.prod-header{
    color: var(--primary-col-800, #000054);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    height: 20px;
}
.view{
    width: 60%;
    height: 20px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
padding: 15px;
border: none;
border-radius: 8px;
background: var(--btn-gradient);
transition: all .3s ease;
box-shadow: 0 3px 6px #0000001a;
    /* border-bottom: 0.65px solid #3E43AC; */
}
.view:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.view-cont{
    /* color: #3E43AC ; */
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.text-normal-01 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-col-800, #000054);
    
}
.visibility{
    padding-left: 5px;
}