.card-item{
    border-radius: 5px;
    height: 10rem;
    width: 10rem;
    /* background: var(--secondary); */
    cursor: pointer;
}

/* .category-card :hover {
    border: 2px solid var(--light_border);
} */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex!important;
    row-gap: 5%;
}
.ellipse{
    /* background: #EBECF6; */
    border-radius: 50%;
}

.card-item img{
    /* width: 3em; */
    height: 5em;
}
.text-normal {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #686A77;
}

.j_Y {
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
}

@media  ( min-width: 1025px) and (max-width: 1200px)  {
   
    
}


@media  ( min-width: 771px) and (max-width: 1024px)  {

    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 100%;
        height: 100%;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 50%;
        max-width: 95px;
    }
    .text-normal{
        font-size: 12px;
    }

   
}


@media  ( min-width: 481px) and (max-width: 770px)  {
    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 100%;
        height: 100%;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 50%;
        max-width: 95px;
    }
    .text-normal{
        font-size: 12px;
    }
      
}

@media  ( min-width: 320px) and (max-width: 480px)  {

    .card-item{
        border: 2px solid var(--light_border);
        border-radius: 5px;
        height: auto;
        width: 11.5rem;
        /* background: var(--secondary); */
        cursor: pointer;
    }
    
    .d-flex{
        display: flex!important;
        row-gap: 10%;
        width: 95%;
        height: auto;
    }
    .ellipse{
        background: #EBECF6;
        border-radius: 50%;
    }
    
    .card-item img{
        width: 2em;
        height: 2em;
    }
    
    .j_Y {
        text-align: center;
        height: 75px;
        padding-top: 10px;
        max-width: 100px;
    }
    .text-normal{
        font-size: 12px;
    }
}