<div class="list-container">
    <ng-container>
        <div>
            <span>Data Software</span>
        </div>

        <div class="product-holder">
            <!-- <ng-container *ngFor="let category of (trendingProducts$ | async)"> -->
                
                <div class="product-item ">
                    
                    Sample
                </div>
                <div class="product-item ">
                    
                    Sample 2
                </div>
            <!-- </ng-container> -->
        </div>
        
    </ng-container>
</div>