<div class="reason-container">
  <div class="modal-header">
    <span>
        Select Invoice Due Date
    </span>
    <div class="close-btn-section">
        <button (click)="closeModal()" type="button" class="close" aria-label="Close">
            <img class="close-icon" src="../../../../assets/icons/closecircle.svg">
        </button>
    </div>
</div>

    <!-- <h3 class="reason-headline">Reason To Reassign or Reject</h3>
    <div class="close-btn-section">
      <button (click)="closeModal()" type="button" class="close" aria-label="Close">
          <img class="close-icon" src="../../../../assets/icons/closecircle.svg">
      </button>
  </div> -->
    <form>
        <div class="message-text-style">
            <span class="p-float-label">
              <textarea 
                id="messageText" 
                formControlName="messageText"
                pInputTextarea></textarea>
              <label for="messageText">Message</label>
            </span>
          </div>
    </form>

    <div class="button-section">
        <button class="btn primary-btn alert-btn" (click)="closeModal()">Reject</button>
        <button class="btn primary-btn">Reassign</button>
    </div>

</div>