<div class="container">
    <div>
        <span class="text-header">Products by Category</span>
    </div>

    <div class="card-container">
        <div class="card-item d-flex flex-column justify-content-center align-items-center m-2 p-2">
            <div class="j_X p-2">
                <img src="/static/angular-e185415c50bc1885eed6c6cc9d2b009e.svg" alt="Angular Grid: Getting Started" style="height: 64px; width: 64px;">
            </div>
            <div class="j_Y">
                Getting Started
            </div>
        </div>
    </div>
</div>
