<div class="partner-container">
    <div class="content">
        <h3>Add New Channel Partner </h3>
        <form [formGroup]="myForm">
            <div class="partner-name">

                <div class="section-01">
                    <label for="firstName">Channel Partner Name</label>
                    <input formControlName="channelName" type="channelName" class="form-control-01" name="Locality"
                        id="channelName" placeholder="Enter Partner Name" required>
                </div>
            </div>
            <h4>Address Fields</h4>
            <div class="address-row">
                <div class="col-sm-6 form-group">
                    <label for="address-1">Address Line-1</label>
                    <input formControlName="addressLine1" type="address" class="form-control-01" name="Locality"
                        id="address-1" placeholder="Locality/House/Street no." required>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="address-2">Address Line-2</label>
                    <input formControlName="addressLine2" type="address" class="form-control-01" name="address"
                        id="address-2" placeholder="Village/City Name." required>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="Country">Country*</label>
                    <select formControlName="countryName" class="form-control" (change)="onCountryChange($event)"
                        placeholder="select country">
                        <option disabled value="'Select Country'">Select Country </option>
                        <option *ngFor="let item of countryList" [value]="item | json">{{item.name}}</option>
                    </select>

                </div>
            </div>


            <div class="address-row">
                <div class="col-sm-6 form-group">
                    <label for="State">State*</label>
                    <select formControlName="stateName" class="form-control-01" (change)="onStateChange($event)">
                        <option disabled value="'Select State'">Select Country </option>
                        <option *ngFor="let item of stateList" [value]="item | json">{{item.name}}</option>
                    </select>
                </div>


                <div class="col-sm-6 form-group">
                    <label for="State">City*</label>
                    <select formControlName="cityName" class="form-control-01" (change)="onCityChange($event)">
                        <option disabled value="'Select City'">Select City </option>
                        <option *ngFor="let item of cityList" [value]="item | json">{{item.name}}</option>

                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="zip">Postal-Code</label>
                    <input formControlName="postalCode" type="zip" class="form-control-01" name="Zip" id="zip"
                        placeholder="Postal-Code." required>
                </div>
            </div>
            <div class="section-02">
                <div class="credit">
                    <label>Credit Worthyness</label>
                    <input formControlName="credit" type="number" class="form-control-02" name="Locality" id="credit"
                        placeholder="Enter Credit Worthyness" required>
                </div>
            </div>

            <!-- <h4>Add New Admin User</h4>
            <div class="address-row">
                <div class="col-sm-6 form-group">
                    <label for="userName">FirstName</label>
                    <input formControlName="userName" type="address" class="form-control-01" name="userName"
                        id="userName" placeholder="Enter FirstName" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="address-2">Email Id</label>
                    <input formControlName="EmailId" type="address" class="form-control-01" name="emailid"
                        id="address-2" placeholder="Enter EmailId" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Mobile No.</label>
                    <input formControlName="phoneNo" type="number" class="form-control-01" name="Locality"
                        id="firstName" placeholder="Enter Phone Number" required>
                </div>
            </div> -->
            
            <!--- Prime Ng Radio Button -->

            <div class="card flex justify-content-center">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" (onClick)="radioClick()" [ngModelOptions]="{standalone: true}" [(ngModel)]="addAdminOption" value="new" inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2"><h4 class="radio-style">Add New Admin User</h4></label>
                    </div>
                    
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" (onClick)="radioClick()" [ngModelOptions]="{standalone: true}" [(ngModel)]="addAdminOption" value="existing" inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2"><h4 class="radio-style">Add Existing User</h4></label>
                    </div>
                </div>
            </div>
            <!-- <ng-container *ngIf="(addAdminOption === 'new') ; else existingUserTemplate"> -->
            <ng-container>
                <div class="address-row">
                    <ng-container *ngIf="(addAdminOption === 'new'); else userSelect">
                        <div class="col-sm-6 form-group">
                            <label for="userName">FirstName</label>
                            <input formControlName="userName" type="address" class="form-control-01" name="userName"
                                id="userName" placeholder="Enter FirstName" required>
                        </div>
                    </ng-container>
                    <ng-template #userSelect>
                        <div class="label">
                          
                        </div>
                        <div class="select"> 
                            <label>Select User</label>

                            <select class="custom-select" (change)="onDropDownChange($event)">
                           
                            <option value="">--Select User as Admin--</option>
                            <option *ngFor="let user of usersList" [value]="user._id">{{user.firstName}}</option>
                        </select>



                            <!-- <p-dropdown class='custom-select-03' appendTo="body" (onChange)="onDropDownChange($event)" [options]="usersList" optionLabel="firstName" [filter]="true" filterBy="firstName" [showClear]="true" placeholder="Select User">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2">
                                       
                                        <div> {{selectedCSP.firstName}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-csp pTemplate="item" >
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ csp.firstName }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown> -->
                        </div>
                    </ng-template>
                    
                    <div class="col-sm-6 form-group">
                        <label for="address-2">Email Id</label>
                        <input formControlName="EmailId" type="address" class="form-control-01" name="emailid"
                            id="address-2" placeholder="Enter EmailId" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Mobile No.</label>
                        <input formControlName="phoneNo" type="number" class="form-control-01" name="Locality"
                            id="firstName" placeholder="Enter Phone Number" required>
                    </div>
                </div>
            </ng-container>
            <!-- <ng-template #existingUserTemplate>
                <div class="address-row">
                    <div class="col-sm-6 form-group">
                        <label for="userName">FirstName</label>
                        <input formControlName="userName" type="address" class="form-control-01" name="userName"
                            id="userName" placeholder="Enter FirstName" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="address-2">Email Id</label>
                        <input formControlName="EmailId" type="address" class="form-control-01" name="emailid"
                            id="address-2" placeholder="Enter EmailId" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Mobile No.</label>
                        <input formControlName="phoneNo" type="number" class="form-control-01" name="Locality"
                            id="firstName" placeholder="Enter Phone Number" required>
                    </div>
                </div>
            </ng-template> -->






            <!-- Prime Ng Radio Button Ends -->
            <div *ngIf="submitErrorMessage">
                <p class="error">* Please Fill Mandatory fileds like Name and Admin users</p>
            </div>
            <div class="modal-footer">
                <ng-container>

                    <button class="btn primary" (click)="submitForm()">Add Channel Partner</button>
                </ng-container>
            </div>
            <div class="row" *ngIf="showMsg">
                <div class="col-xs-12">
                    <p class="alert alert-success">
                        <strong>Channal Partner Created Successfully !</strong>

                    </p>
                </div>
            </div>


        </form>
    </div>
</div>