.all-accounts-view {
    min-height: 36em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    font-size: 0.7rem;
}

.text-style{
    cursor: pointer;
    color: #3366CC;
}

.userCountDisplay{
    padding: 20px; 
    margin-left: 1.1rem;
    color: #3366CC;
    font-weight: 550;
}

.custom-hover:hover {
    background: var(--primary-100-purple);
}