
    <div class ="userCountDisplay"> Total Users :{{totalusersCount}}</div>
<div class="all-accounts-view">
    <div class="card">
        <p-table 
            [value]="usersData" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="30"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
            <!-- [rowsPerPageOptions]="[10, 25, 50]" -->
            <ng-template pTemplate="header">
                <tr>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Company Name</th>
                    <th>Role</th>
                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-i="rowIndex">
                <tr>
                    <!-- <td>
                        <div class="text-style" (click)="getAccountById(account.id)">
                            {{ account.id }}
                        </div>
                        
                    </td> -->
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        
                       
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template> -->
            <!-- <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template> -->
        </p-table>
    </div>
</div>

