
.partner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 50px; */

    
}
.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 20px 10%;
}

.section-01{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 25%;
   
}
h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}
input{
    width: 8%;
    border-radius: 5px;
    padding: 10px;
    /* padding-right: 14px; */
    margin-right: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h4{
    padding: 20px 0 0 0 ;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.address-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 30%;
}

.custom-select {
    width: 85%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
}


.form-control-01 {
    display: block;
    width: 85%;
    padding: 8px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}
.form-control-02 {
    display: block;
    width: 100%;
    padding: 8px;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    font-size: 13px !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'lato', sans-serif;
}
select{
    border: 1px solid grey; 
}

.section-02{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 10px 0 0 30px;
   
}
.section-03{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 10px 0 0 30px;
   
}
.modal-footer {
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

element.style {
    margin-left: 4%;
}
.primary {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 10rem;
    border-radius: 8px;
    background: var(--btn-gradient);
    transition: all .3s ease;
    box-shadow: 0 3px 6px #0000001a;
    height: 35px;
}
.primary:hover {
    color: var(--white);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* background: var(--btn-lite-gradient); */
  }
  
  .primary:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  label{
    font-size: 14px;
    font-weight: 500;
  }
  .error{
    color: red;
    text-align: center;
    /* padding: 20px; */
}

.justify-content-center{

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 15px;
    border: none !important;
}

.radio-style{
    padding-top: 10px !important;
}
.fetchgst
{
    margin-top: 26px;
    margin-left: -123px;
}


.radio-btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 15px;
    border: none !important;
    justify-content: center;
}
.content-select{
width:15%;
display: flex;
align-items: center;
justify-content: center;
}

.backBtn {
    width: 20px;
    color: var(--neutral-900);
}

.backBtnDiv {
    cursor: pointer;
}
/* .backBtnDiv:hover {
    text-decoration: underline;
    color: blue;
  } */