<div class="all-accounts-view">
    <ng-container *ngIf="(allMarketPlaceList && allMarketPlaceList.length>0); else noDataFound">
        <div class="card">
            <p-table 
                [value]="allMarketPlaceList" 
                [tableStyle]="{ 'min-width': '60rem' }" 
                [tableStyle]="{ 'min-width': '60rem' }"
                [paginator]="true"
                [rows]="15"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['Company','Status']"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <!-- [rowsPerPageOptions]="[10, 25, 50]" -->
                <ng-template pTemplate="header">
                    <tr class="thfont">
                        <th>S.No</th>
                        <th> Company</th>

                        <th> Name</th>
                      
                        <th> Phone</th>
                        <th>Created On</th>
                        <th>Status</th>
                       
                         <!-- <th>Place of Supply</th> -->
                        <th>Assigned AM</th>
                        <th>Last Updated Date</th>
                        <th>Estimate No.</th>
                        <th>Value  <span class="gst">(GST Extra)</span></th>
    
    
                        <th> </th>
                    </tr>
                </ng-template>
              
    
                <ng-template pTemplate="body" let-account let-i="rowIndex">
            
                    <tr class="trfont" >
                        <td style="width:10%">
                            <div class="text-style" (click)="getAccountById(account.cartData._id)">
                               {{i+1}}
                            </div>
                            
                        </td>
                        <td>{{ account.createdFor.company}}</td>
                        <td>{{ account.createdFor.firstName }}</td>
                     
                        <td>{{ account.createdFor.mobileNumber }}</td>
                        <td>{{ account.cartData.createdAt | dateFormat }}</td>
                        <td>{{ account.cartData.status }}</td>
                       
                        <!-- <td>{{ account.createdFor.placeOfSupply}}</td> -->
                        <td>
                            <ng-container *ngIf="account?.cartData?.assignedAccountOwnerId else noValuecp1">
                            {{ account?.assignedChannelpartnerAM.firstName }} 
                              </ng-container>
                              <ng-template #noValuecp1>-</ng-template>
                         </td> 
                         <td>
                            <ng-container *ngIf="account?.cartData?.assignedChannelPartnerId; else noValuecp">
                            
                                {{ account?.cartData.leadUpdatedDate | dateFormat }}
                              </ng-container>
                              <ng-template #noValuecp>-</ng-template>
                         </td> 
    
                        <td>
                            <ng-container *ngIf="account.cartData.zohoEstimateNo; else noValue">
                                {{  account.cartData.zohoEstimateNo }}
                              </ng-container>
                              <ng-template #noValue>-</ng-template>
                         </td> 
                        <!-- <td>{{ account.zohoBookEstimateData.estimate_number }}</td> -->
                        <td>
                            <ng-container *ngIf="account.cartData.zohoEstimateValue; else cartValue">
                                {{ account.cartData.zohoEstimateValue}}
                              </ng-container>
                              <ng-template #cartValue>{{account.TotalCartValue}}</ng-template>
                            
                            
                          
                        
                        </td>
                        <td>
                            
                            <div class="btn-holder">
                                <button id="assign-btn" class="btn primary-btn" [disabled]="disableAssign" (click)="assign(account, i)">Assign</button>
                            </div>
                        </td>
                    </tr>
          
                </ng-template>
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template> -->
                <!-- <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->
            </p-table>
        </div>

    </ng-container>
    <ng-template #noDataFound>
        <div class="nodata"  >
            <p>No data found !</p>
            <img class="no-img" src="../../../../../assets/images/nodata.jpg">
        </div>
    </ng-template>

</div>
