
<div id="simple-chat-button--container">
    <a id="simple-chat-button--button" href="https://api.whatsapp.com/send?phone=+919972835477&amp;text={{whatsAppMessage}}" target="_blank" rel="nofollow" aria-label="WhatsApp Chat Button"></a>
    <span id="simple-chat-button--text">Chat with us</span>
</div>
<div class="product-card-container">
    <h6 class="search-result">Results ({{productsList.length}})</h6>
    <ng-container *ngFor="let item of productsList; let i=index">
        <div class="product-card-flyer-container">
            <div class="logo-holder">
                <div class="logo-box">
                    
                    <img alt="" src="{{(item.bannerLogo && item.bannerLogo !== null) ? item.bannerLogo : 'https://csg1003200209655332.blob.core.windows.net/images/1685441484-MicrosoftLogo_300X300.png'}}">
                </div>
                <div class="ratings-box">
                    <div class="rating-stars">
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star</mat-icon>
                        <mat-icon class="review-icon">star_border</mat-icon>
                    </div>
                    <div class="realize-review">
                        <img class="realize-review-icon" src="../../../../assets/Logos/SS logo.svg">
                        <p class="r4">(4.0 Reviews)</p>
                    </div>
                    <!-- <div>  
                        (4.0 Reviews)
                    </div> -->
                </div>
                <div class="add-to-compare-box">
                    <span>
                        <input type="checkbox" id="1"
                        [checked]="item.checked"
                        (change)="onFilterChange($event, item)"
                        > Add to Compare
                    </span>
                </div>
            </div>

            <!-- Content Holder -->
            <div class="content-holder">
                <div class="header">
                    <div class="header-title">
                        {{item.name}}
                    </div>
                    <!-- <mat-icon>bookmark_border</mat-icon> -->
                    <!-- <img class="bookmark-icon" src="../../../../assets/icons/Bookmark.svg"> -->
                </div>
                <div class="price">
                    <!--<span class="discount-holder">
                        <span *ngIf="item.priceList[0].discountRate != null" class="discounted-text">
                            -{{item.priceList[0].discountRate}}%&nbsp;
                         
                        </span>
                        <span style="font-size: smaller;">&#8377; </span>
                        <span>{{item.priceList[0].price | number : '1.2-2'}} / {{item.priceList[0].priceType}}</span>
                    </span> -->

                    <!-- old? -->
                    <!-- <div class="product-price-section">
                        <p *ngIf="item.priceList && item.priceList.length>0 && item.priceList[0].discountRate != null" class="discounted-text">
                            -{{item.priceList[0].discountRate}}%&nbsp;</p>
                        <div class="price">
                            <p class="product-price">
                                <span class="price-symbol">&#8377;</span>{{item.priceList[0].price | number : '1.2-2'}}
                                <span class="product-price-type">/ {{item.priceList[0].priceType}}</span>
                            </p>
                        </div>
                        <p style="font-size: 10px;">(GST Extra)</p>
                    </div> -->

                    <!-- <new price hover functions> -->
                 <div  class="product-price-section">
                        
                        <p *ngIf="item.priceList && item.priceList.length>0 && item.priceList[0].discountRate != null" class="discounted-text">

                            -{{item.priceList[0].discountRate}}%&nbsp;</p>


                        <div class="price" (mouseenter)="showMonthlyPrice(i)" (mouseleave)="showDiscountRate(i)">
                            <!-- <span class="price-symbol">&#8377;  {{ isMonthly ? (item.priceList[0].price/12 | number : '1.2-2') : item.priceList[0].price }} /  {{isMonthly ? 'Monthly' : (item.priceList[0].priceType)}}</span> -->
                            <span class="price-symbol">&#8377;  {{item.priceList[0].price/12 | number : '1.2-2'}} /  {{item.priceList[0].priceType}}</span>
                        </div>
                       
                       
                        
                        <p class="gst">(GST Extra)</p>
                        
                      </div>

                    <span>
                        <span class="text-style-mrp">MRP:</span> 
                        <span class="text-price strike-through"> ₹ {{((item.priceList && item.priceList.length>0) ? item.priceList[0].ERPPrice : '' ) | number : '1.2-2'}}</span> 
                        <span class="text-term"> / {{(item.priceList && item.priceList.length>0) ? mrpPriceType : ''}}</span>
                    </span>
                </div>
               
                <div class="solution-category">
                    <div class="text-style-bold">
                        Solution Category:
                    </div>
                    <div class="text-style" *ngIf="item.type=='product' || item.type=='productBundles' || item.type=='productBundleVariants'">
                       
                      
                       {{ (item.subcategories && item.subcategories.length > 0)? item.subcategories[0].name : ''}}
                       
                    </div>
                    <div class="text-style" *ngIf="item.type=='productVariants'">
                   
                      
                        {{ (item.product.subCategories && item.product.subCategories.length > 0)? item.product.subCategories[0].name : ''}}
                        
                     </div>

                   
                </div>
                <ng-container *ngIf="item.description">
                    <div class="descr">
                        <div class="text-style-bold">
                            Description:
                        </div>
                        <div class="text-style">
                            {{item.description}}
                        </div>
                    </div>
                </ng-container>
                <div class="btn-holder">
                    <button class="btn request-btn" (click)="navigateToProductDetails(item)">View Details</button>
                    <button class="btn compare-btn" (click)="requestQuote(item)">Add to Cart</button>
                    
                </div>
            </div>
        </div>
        
    </ng-container>
    

