.product-card-container{
    
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
    width:100%;
}

.search-result {
    margin: 0;
}

.product-card-flyer-container{
    border : 1px solid #d9d9d9;
    border-radius: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width:100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.logo-holder{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

/** Logo Holder CSS **/

.logo-box{
    width:60%;
}

.logo-box img{
    width: 100%;
}

.ratings-box{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-icon {
    color: orange;
    padding-top: 5px;
    line-height:2rem;
    overflow: visible;
}

.realize-review {
    display: flex;
    align-items: center;
}

.realize-review-icon {
    height: 16px;
    margin-right: 2px;
}

.ratings-box div{
    font-size: 12px;
    text-align: center;
}
.add-to-compare-box{
    height: 10%;
    margin-top: 10px;
}

.add-to-compare-box span{
    font-size: 12px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}


/** Logo Holder CSS  Ends **/







.content-holder{
    width:70%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 20px 10px;
    row-gap: 10px;
}

/** Content Holder CSS **/


.header{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.header mat-icon{
    margin-right: 20px;
    margin-top: 9px;
}

.header-title{
    /* color: #010209; */
    font-weight: 600;
    line-height: 2rem;
    font-size: 18px;
        /* color: #ffff; */
    color: var(--neutral);
      
}
.text-style-mrp{
    font-size: 14px;
    /* font-weight: bold; */
}

.text-style-bold{
    font-size: 14px;
    font-weight: bold;
}
.text-style{
    font-size: 12px;
    font-weight: normal;
    color: var(--text-dark);
    /* min-height: 66px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    
}
.price{
    display: flex;
    flex-direction: column;
}


.text-price{
    font-size: 16px;
    font-weight: 300;
}

.text-term{
    font-size: 12px !important;
    font-weight: 200;
}

/** Content Holder CSS  Ends **/



.btn-holder{
    width:90%;
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    margin-top: 20px;
}

.request-btn {
    background: linear-gradient(180deg, #003388 -21.43%, #4A86EA 144.64%);
    border-radius: 8px;
    border: 1px solid #EFEFEF;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    
}

  .compare-btn {
      border-radius: 8px;
      background: #E2EDFF;
      border: 1px solid #003388;
      text-align: center;
      color: #003388;
      font-size: 16px;
      font-weight: 500;
      
  }

  .strike-through{
    text-decoration: line-through;
    margin-left:2px
  }

  .discount-holder{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
  }
  .discounted-text{
    color: #DB553C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .product-price-section{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 3px;
    height: 30px;
  }
  .product-price{
    font-size: 15px;
    font-weight: 600;
  }
  .product-price-type{
    font-size: 14px;
    font-weight: 500;
  }
  .price-symbol{
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .price-symbol:hover {
    transform: scale(1.1);
    font-size: 14px;
    font-weight: bold;
  }

.gst{
    font-size: 10px;padding-left: 5px;
}

  @media (min-width:320px) and (max-width:480px){
    .ratings-box div {
        font-size: 6px;
        /* text-align: center; */
        margin-top: 5px;
        /* column-gap: 2px; */
    }
    .review-icon {
        color: orange;
        padding-top: 5px;
        line-height: 1rem;
        overflow: visible;
        column-gap: 2px;
    }
    
 .mat-icon {
        width: 11px;
        height: 0px;
        column-gap: 2px;
    }
    .parent-holder {
        display: flex;
        flex-direction: row;
        padding: 30px 0px 10px 0px;
    }
    .content-holder {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px 20px 10px;
        row-gap: 10px;
    }
    .header-title {
        font-weight: 600;
        line-height: 1rem;
        font-size: 12px;
        color: var(--neutral);
    }
    .product-price-section {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        column-gap: 3px;
        height: 15px;
        margin-bottom: 0px;
    }
    .discounted-text {
        color: #DB553C;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
    }
    .price-symbol {
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s;
        font-size: 9px;
    }
    .gst {
        font-size: 7px;
        padding-left: 5px;
    }
    .text-style-mrp {
        font-size: 10px;
    }
    .strike-through {
        text-decoration: line-through;
        margin-left: 1px;
    }
    .text-price {
        font-size: 11px;
        font-weight: 300;
    }
    .text-term {
        font-size: 9px !important;
        font-weight: 200;
    }
    .text-style-bold {
        font-size: 10px;
        font-weight: bold;
    }
    .text-style {
        font-size: 8px;
        font-weight: normal;
        color: var(--text-dark);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
  }