<!-- Main Homepage -->

    <!-- Header Component-->
    <app-header (loginEvent)='loginEvent($event)'></app-header>
    <ngx-spinner size="medium" type="ball-atom"></ngx-spinner>


    <!-- <ng-container *ngIf="(userDetails$ | async)">

    </ng-container> -->
   
    <!-- <ng-container *ngIf="userLoggedIn"> -->
    <ng-container>
        <div class="full-screen-style">
            <app-sidenav-wrapper [userLoggedIn]="userLoggedIn" [userRole]="userRole"></app-sidenav-wrapper>
        </div>
        
    </ng-container>
    

    <!-- Container If not Logged In -->

    <!-- <ng-container *ngIf="!userLoggedIn">

        <router-outlet></router-outlet>


    </ng-container> -->




    <app-footer></app-footer>
