.cart-view-container {
    min-height: 30em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    margin-left:13%;
    margin-right: 14%;
}

.productnamealign{
    text-align: center !important;
}
    
.table-header {

    background: var(--primary-50-purple);
    border-radius: 18px;
    text-align: center;

}

.table tr th {
    vertical-align: middle;
    text-align: center;
    height: 3em !important;
    font-size: 13px;
}

.table th:first-child {
    text-align: left !important;
  }

.table td {
    text-align: center;
    line-height: 5;
}

.td-column {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.input-field2 {
    background: var(--white);
    border: 1px solid #918F90;
    border-radius: 8px;
    width: 4em;
    height: 2em;
    text-align: center;
}

.table{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
   border-top: 1px solid black;
 border-bottom: 1px solid black;
  }
  
  .table-header{
   border-bottom: 1px solid black;
  }
  .tbody>tr>td{
    border: 0px !important;
  }

.input-field{
    background: var(--white);
    border: 1px solid #918F90;
    border-radius: 8px;
    width: 4em;
    height: 30px;
    text-align: center;
    -webkit-appearance: none;
    line-height: 1%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.delete-text {
    color: var(--red);
}

.submit-quote {
    /* background: var(--primary); */
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.text-style {
   
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    /* color: var(--brown); */

}

.request-btn {
    background: linear-gradient(180deg, #003388 -21.43%, #4A86EA 144.64%);
    border-radius: 8px;
    color: #FFFFFF;
    border: 1px solid #EFEFEF;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.compare-btn {
    background: #E2EDFF;
    border: 1px solid #003388;
    border-radius: 8px;
    text-align: center;
    color: #003388;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.price-details {
    font-size: 13px;
    font-weight: 600;
    color: #1e1e1e;
}

.empty-container {

    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 40px;
    /* background: var(--primary); */
    align-items: center;
    justify-content: center;
   
}
/* .delete-icon {
    background-color: #E2EDFF;
} */

.gst{
    font-size: 9px;
}
.success-state-img {
    opacity: 50%;
    height: 18em;
}

.pd-cart-img {
    height: 50px;
}

.cart-product-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}

tbody th{
    width:36%;
}

.product-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
}

.cart-title-btns {
    width: 100%;

}

.cart-remove-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 0;
}

.cart-view-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 0;
}

.cart-view-btn:hover {
    text-decoration: underline;
    color: #003388;
    font-weight: 600;
}

.cart-remove-btn:hover {
    text-decoration: underline;
    color: #B82727;
    font-weight: 600;
}
.cart-total-row{
    background: var(--primary-50-purple);
    width: 100%;
}

.cart-total {
    /* background: var(--primary-50-purple); */
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 44px 10px 136px;

    font-size: 13px;
    font-weight: 700;
    color: #1e1e1e;

    vertical-align: middle;
    text-align: center;
    height: .4rem !important;
}
.error-message {
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0;
    color: #B82727;
    margin-top: -17%;
}
.add{
    height: 20px;
    width: 20px;
}

.buttons-section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}