<div class="cart-view-container">
    <div class="text-header">
        Cart
    </div>

    <!-- If Cart is Empty -->

    <!-- If Cart items is present -->
    
      <ng-container *ngIf="(cartItems$ | async) as cartItems">
        <ng-container *ngIf="(cartItems.length>0) ; else noCartItems">
          <div>
              <table class="table table-borderless">
                  <thead class="table-header">
                    <tr>
                      <th scope="col">PRODUCTS</th>
                      <th scope="col">PRICE</th>
                      <th scope="col">QUANTITY OF LICENSCE </th>
                      <th scope="col">SUB TOTAL</th>
                    </tr>
                  </thead>
                  <tbody class="table-row">
                    <!-- <ng-container *ngFor="let item of (cartItems$ | async); index as i"> -->
                      <ng-container *ngFor="let item of cartItems; index as i">
                      <tr>
                        <th scope="row">
                          <div class="cart-product-details">
                            <img class="pd-cart-img" src="{{item.logo ? item.logo : alternateLogo}}" alt="Microsoft" />
                            <div class="product-name">
                              {{item.productName}}
                              <div class="cart-title-btns">
                                <button class="cart-remove-btn" (click)="removeCartItem(i)">remove</button>
                                <!-- <span style="font-size: 12px; margin: 0 6px;"> | </span>
                                <button class="cart-view-btn">View Product</button> -->
                              </div>
                            </div>
                          </div>
                        </th>
                        <!-- Base Price -->
                        <td>
                          <div class="td-column price-details">
                            <span>
                              {{ item.price | number : '1.2-2'}}
                            </span>
                          </div>
                        </td>
                        <!-- Item Quantity -->
                        <td>
                          <div class="td-column">
                            <span (click) = "quantityEdit(i,  'minus', item.price)">
                              <img alt="minus" src="../../../assets/icons/Minus.svg">
                            </span>
                            <span>
                              <input
                                class="input-field" [(ngModel)]="item.quantity" value="{{item.quantity}}"
                                >
                            </span>
                            <span (click) = "quantityEdit(i , 'plus', item.price)">
                              <img alt="" src="../../../assets/icons/Add.svg">
                            </span>
                          </div>
                        </td>

                        <!-- Action -->
                        <td>
                          <div class="td-column price-details">
                            <span>
                              {{ item.itemTotal | number : '1.2-2'}}
                            </span>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    
    
                  </tbody>

                </table>
          </div>
          <div class="cart-total">
            <span>GRAND TOTAL</span>
            <span>{{grandTotal | number : '1.2-2'}}</span>
          </div>
          <div class="submit-quote">
            <span class="text-style">
              <!-- Enter the quantity of licenses required before proceeding to submit request -->
              * Prices are Subject to Change
            </span>
            <span>
              <button class="btn compare-btn" (click)="saveCart()">Save Cart</button>
              <button class="btn request-btn" (click)="requestQuote()">Request quote</button>
            </span>
          </div>
        </ng-container>
        <ng-template #noCartItems>
          <div class="empty-container">
            <div>
              <img class="success-state-img" src="../../../../../assets/images/NoProductIllustration.png" alt="home">
            </div>
            <div class="text-header">
              Your Cart is Empty..
            </div>
          </div>
        </ng-template>
    </ng-container>
</div>